[2019-03-06 08:46] ThomasKranitsas opened #2 "Github ticket rules"
# How to work with git tickets

The basic flow for handling a ticket is as follows:

1. Assign the ticket to yourself, change the label to "tcx_Assigned", remove the "tcx_OpenForPickup" label.  Please only assign tickets to yourself when you are ready to work on it.  I don't want tickets assigned to someone and then not have them work on a ticket for 24 hours.  The goal here is a quick turnaround

[2019-04-27 16:26] ThomasKranitsas opened #3 "Enhance challenge model"
We need to add the following properties to the challenge model:
- `reviewType` - required `String`
- `markdown` - required `Boolean`
- `tags` - required `Array` of `String`
- `projectId` - required `Number`
- `forumId` - required `Number`
- Add a required `status` property (String) to the challenge model. Supported values should be defined in constants. For now, use `Draft`, `Canceled`, `Active` &

[2019-04-27 16:28] ThomasKranitsas opened #4 "Add tests"
- [x] Implement unit testing
- [x] Implement E2E testing

[2019-04-27 16:35] ThomasKranitsas opened #5 "Add support for attachments"
- Add a new model for attachments.
[code]
- Implement an endpoint to upload attachments on an S3 bucket.
- Add an `attachments` properties to the challenge model that will be an array of `Attachments`.
- Update all challenge endpoints to support attachments.

[2019-04-27 16:47] ThomasKranitsas opened #6 "Access control checks"
As part of this ticket, we need to add the ability to control who has access to a challenge.

- Add an optional `groups` array property to the challenge model
- Groups will come from the V5 Groups API (https://github.com/topcoder-platform/groups-api). We may need support for M2M tokens for this (https://github.com/appirio-tech/tc-core-library-js/releases/tag/v2.4.1 `appirio-tech/tc-core-library-js

[2019-04-27 17:05] ThomasKranitsas opened #7 "AV Scan attachments"
Depends on #5

We need to perform AV scan to all attachments.

[2019-04-29 20:10] ThomasKranitsas commented on #3
Challenge: http://topcoder.com/challenges/30089434

[2019-04-29 20:10] ThomasKranitsas commented on #5
Challenge: http://topcoder.com/challenges/30089434

[2019-04-29 20:10] ThomasKranitsas commented on #6
Challenge: http://topcoder.com/challenges/30089434

[2019-05-03 07:16] ThomasKranitsas opened #8 "Add new endpoints"
Add the following endpoints:
- `POST` `/challenges/:id/activate` - Activate challenge
- `POST` `/challenges/:id/cancel` - Cancel challenge
- `POST` `/challenges/:id/register` - Register on challenge
- `POST` `/challenges/:id/unregister` - Unregister from challenge

[2019-05-07 08:14] #3 closed

[2019-05-07 08:14] #6 closed

[2019-05-07 08:14] #5 closed

[2019-05-31 13:58] #8 closed

[2019-05-31 13:59] ThomasKranitsas opened #11 "[$20] Remove the markdown property"
Remove the `markdown` property from the challenge model and all related code.

[2019-05-31 14:04] ThomasKranitsas opened #12 "Use ElasticSearch"
We need:
- A processor to feed ES with data from DynamoDB.
- To update the GET operation to search and fetch challenges from ES instead of DynamoDB for better support for filtering and better performance.

[2019-06-01 16:47] ThomasKranitsas commented on #11
Contest https://www.topcoder.com/challenges/30092305 has been created for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-06-01 16:47] ThomasKranitsas commented on #11
Contest https://www.topcoder.com/challenges/30092305 has been updated - it has been assigned to thomaskranitsas.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-06-01 16:49] #11 closed

[2019-06-01 16:49] ThomasKranitsas commented on #11
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30092305<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-06-03 14:47] ThomasKranitsas opened #13 "Allow filtering by projectId"
We need to add support for filtering using `projectId`.

[2019-06-05 08:54] ThomasKranitsas opened #14 "Add support for M2M tokens"
We need to update all endpoints to allow calls using an M2M (machine to machine) token.

- Scopes should be configurable.
- See https://github.com/topcoder-platform/resources-api as an example.
- Use `TopcoderService` as the user handle if it's M2M (eg in audit fields). This should be configurable.

[2019-06-08 09:14] #14 closed

[2019-06-11 11:05] ThomasKranitsas opened #16 "Update tc-core-library-js version"
Upgrade to https://github.com/appirio-tech/tc-core-library-js/releases/tag/v2.6.2

[2019-06-20 08:33] #16 closed

[2019-06-24 11:34] #12 closed

[2019-06-24 11:35] #13 closed

[2019-06-24 11:36] ThomasKranitsas opened #19 "Fallback to Dynamo for fetching challenge by ID"
If we create a challenge from the UI and we click `View challenge` immediately, the API will return 404 as the challenge does not yet exist in ES.

We need to fall back to dynamo if we're trying to fetch by ID

[2019-06-30 13:39] ThomasKranitsas commented on #19
@cwdcwd thoughts?

[2019-07-02 02:32] cwdcwd commented on #19
yes that's the pattern we follow for the other APIs.
Another option is to force that update directly at the time of updation and forego the ES processor

[2019-07-03 08:04] #4 closed

[2019-07-04 18:24] ThomasKranitsas opened #21 "Validate project ID"
We should validate the project ID.

This http://challenges.topcoder-dev.com/projects/112233/challenges/543841b4-bbbb-4b02-bba7-c141855c5d72/edit throws an error because the project ID does not exist.

We should use the project API to verify that the project exists before we create the challenge.

Call the `GET https://api.topcoder-dev.com/v4/projects/:projectId` endpoint and if that endpoint retur

[2019-07-15 14:16] #19 closed

[2019-07-15 14:17] #21 closed

[2019-07-20 07:06] ThomasKranitsas opened #23 "[$40] Update tests"
Update tests to cover the changes from https://github.com/topcoder-platform/challenge-api/commit/03d5a17aec76a68339fd2081939065b782099421

[2019-08-01 16:30] ThomasKranitsas commented on #23
@topcoder-platform/tcxcommunity @topcoder-platform/topcodercompetitors this is open for pickup.

PR on `develop`

[2019-08-01 16:30] Gauravseta commented on #23
give me

[2019-08-01 16:45] cwdcwd commented on #7
FYI to [this AV Scan endpoint](http://api.topcoder-dev.com/v5/scan) which is [this repo](https://github.com/topcoder-platform/av-scanner-service)

[2019-08-02 21:42] Gauravseta commented on #23
@ThomasKranitsas  https://github.com/topcoder-platform/challenge-api/pull/25 done

[2019-08-09 10:19] #23 closed

[2019-09-23 10:03] ThomasKranitsas opened #26 "Update tests to include API Version prefix in routes"
Update tests to include API Version prefix in routes

[2019-10-29 02:55] jmgasper opened #27 "404 response on resource API failure"
The challenge API is oddly returning a 404 when a call to the resource API fails.  A 404 here isn't appropriate.  It should be a 403 or a 500 error, depending on the error from the resource API.  Returning a 404 is very confusing and sent me looking at the wrong stuff for a long time.  The v5 errors need to be consistent and understandable.  If we're already doing wonky stuff now, we're going to h

[2019-10-31 05:48] jmgasper opened #31 "Challenge phases endpoint returning empty array"
Sample call:

GET `https://api.topcoder-dev.com/v5/challengephases`

Response:

[code]

### Expected

A list of challenge phases should be returned.  At least that's what the expectation is, based on the swagger doc.

[2019-10-31 05:49] jmgasper opened #32 "Challenge types endpoint returning empty array"
Sample request:

GET `https://api.topcoder-dev.com/v5/challengetypes?isActive=true`

Response:

[code]

#### Expected

The list of active challenge types should be returned.

[2019-10-31 05:50] jmgasper opened #33 "Timeline templates endpoint returning empty array"
Sample request:

GET `https://api.topcoder-dev.com/v5/timelinetemplates`

Response:

[code]

#### Expected

A list of timeline templates should be returned, as described in the swagger.

[2019-10-31 09:04] ThomasKranitsas commented on #33
This is because @Gunasekar-K should run `npm run seed-tables` to insert the data into the DB.

[2019-10-31 09:04] ThomasKranitsas commented on #32
This is because @Gunasekar-K should run `npm run seed-tables` to insert the data into the DB.

[2019-10-31 09:04] ThomasKranitsas commented on #31
This is because @Gunasekar-K should run `npm run seed-tables` to insert the data into the DB.

[2019-10-31 09:43] #33 closed

[2019-11-05 04:38] jmgasper opened #34 "Challenge Track / Type association"
I'm noticing that we don't have any way to group challenge type by the selected track.  For instance, in Topcoder Direct, we have this:

<img width="591" alt="Screen Shot 2019-11-05 at 3 38 00 pm" src="https://user-images.githubusercontent.com/21790/68179028-4792b700-ffe2-11e9-85d5-89b7d9eb3226.png">

And in the new challenge UI, we have a track selector, but it doesn't change the `Type` drop down

[2019-11-26 21:00] veshu opened #35 "Accept token in query string for GET methods"
For some get methods such as download attachments, it is better to accept the api token as query string opposed to header.

With query string, we can use native download feature of browsers without having to rely on manual save as feature.

[2020-01-13 11:38] ThomasKranitsas opened #37 "Support multiple current phases"
We should be able to have multiple current phases at the same time. Eg submission/registration

[2020-02-02 13:57] harshitmehta123 opened #38 "Force time gap or daily submission limit on Marathon Match Submissions"
Is it possible to have a platform feature to limit the number of submissions in MMs per day or have a gap between submissions?
We have matches like Single Cell in which we vocally restrict members to make more than 2 submissions a day. Also, members make a lot of submissions in the last day and block the queue for long. In Single-cell we are manually warning or disqualifying the members who are ma

[2020-02-10 05:54] sushilshinde opened #40 "Query change in the technology search"
Please implement in v5

https://github.com/appirio-tech/ap-challenge-microservice/issues/534

[2020-02-10 06:06] sushilshinde commented on #40
@rootelement FYI

[2020-02-14 18:43] ThomasKranitsas opened #41 "need meaningful errors"
We need to make the errors more meaningful

[2020-03-13 15:23] ThomasKranitsas opened #43 "Update POSTMAN collection"
- [ ] Make sure all existing POSTMAN tests are up to date with the latest code
- [ ] Cover new endpoints with positive/negative POSTMAN tests

[2020-03-13 15:24] ThomasKranitsas commented on #43
@topcoder-platform/tcxcommunity this is open for pickup

[2020-03-13 15:26] ThomasKranitsas commented on #43
Contest https://www.topcoder.com/challenges/30119346 has been created for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2020-03-13 16:11] rashmi73 commented on #43
@ThomasKranitsas unable to change the label

[2020-03-13 16:11] ThomasKranitsas commented on #43
Contest https://www.topcoder.com/challenges/30119346 has been updated - it has been assigned to rashmi73.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2020-03-13 16:13] rashmi73 commented on #43
@ThomasKranitsas which  branch?  develop?

[2020-03-13 16:14] ThomasKranitsas commented on #43
yes

[2020-03-13 16:15] ThomasKranitsas commented on #43
Please create a pull request once done

[2020-03-13 16:19] rootelement commented on #43
@rashmi73 please give us an ETA on turn-around when you have an idea.

[2020-03-14 11:36] ThomasKranitsas commented on #43
Hey @rashmi73 ! Just checking in on this one

[2020-03-14 16:37] ThomasKranitsas commented on #43
@topcoder-platform/tcxcommunity this is open for pickup

[2020-03-14 19:30] ThomasKranitsas commented on #43
@topcoder-platform/topcodercompetitors this is open for pickup! Worked based on the `develop` branch and create a PR once done.

[2020-03-14 20:30] tcchhabra commented on #43
@ThomasKranitsas I would like to work on this, can you assign me as I cannot assign myself?

[2020-03-14 21:35] ThomasKranitsas commented on #43
@tcchhabra, please sign-up with Topcoder X tool<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2020-03-14 21:36] ThomasKranitsas commented on #43
@tcchhabra, please sign-up with Topcoder X tool<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2020-03-15 03:37] tcchhabra commented on #43
@ThomasKranitsas I have tried again using all 3 major browsers, safari/chrome and Firefox, I think this Topcoder x is broken. Can we use GitHub access management for ticket assignment ? It is a very reliable. I had created a ticket few weeks back and support also closed it without any help.

[2020-03-15 05:37] Giri-Suman commented on #43
@ThomasKranitsas topcoder challenge is showing in ongoing. I am not able to register.

[2020-03-15 09:09] cagdas001 commented on #43
The registration phase of the challenge is not open. It's not possible to access forum & use the link

[2020-03-15 09:33] ThomasKranitsas commented on #43
I have opened the registration phase manually

[2020-03-15 09:38] ThomasKranitsas commented on #43
Contest https://www.topcoder.com/challenges/30119346 has been updated - it has been assigned to mhykol.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2020-03-16 13:14] ThomasKranitsas commented on #43
hey @mhikeo ! Can we have an update please?

[2020-03-16 14:13] mhikeo commented on #43
@ThomasKranitsas will push in a couple of hours.

[2020-03-16 19:00] Giri-Suman commented on #43
@ThomasKranitsas can I take it?

[2020-03-16 19:08] ThomasKranitsas commented on #43
@mhikeo what's the status here?

[2020-03-16 19:55] Giri-Suman commented on #43
@ThomasKranitsas its more than 1 day.

[2020-03-17 03:58] callmekatootie commented on #43
@Giri-Suman This one is open for pickup.

[2020-03-17 04:06] ThomasKranitsas commented on #43
Contest https://www.topcoder.com/challenges/30119346 has been updated - Suman-953556 has been unassigned.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2020-03-17 04:07] ThomasKranitsas commented on #43
Contest https://www.topcoder.com/challenges/30119346 has been updated - it has been assigned to Suman-953556.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2020-03-17 13:18] callmekatootie commented on #43
@Giri-Suman Status check. Are you on track to submit a solution?

P.S. @ThomasKranitsas is still the CoPilot for the project. They are not feeling well and I am only helping them temporarily with the open items.

[2020-03-17 13:38] rashmi73 commented on #43
@callmekatootie it is already 9 hours and no WIP MR from giri suman, can I get a chance on it? as thomas said it is to be done ASAP.

[2020-03-17 13:59] callmekatootie commented on #43
@rashmi73 I am inclined to give them more time - will wait for couple more hours

Also - you seem to have been the initial assignee for the ticket - and you seem to have been unresponsive the last time...

I will assign you (in the event I don't hear back) with the expectation that you will be responsive and submit on time, else I may not rely on you the next time...

[2020-03-17 14:31] rashmi73 commented on #43
@callmekatootie yes I was assigned and could not find what exactly to do and where to find the latest api repos..I am aware a bit now what to do

[2020-03-17 19:51] Giri-Suman commented on #43
@callmekatootie still working on it. It seems will take more time to complete.

[2020-03-17 20:09] rashmi73 commented on #43
@callmekatootie please give me back..i will try again with a hope thanks

[2020-03-17 20:09] ThomasKranitsas commented on #43
Contest https://www.topcoder.com/challenges/30119346 has been updated - rashmi73 has been unassigned.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2020-03-17 21:54] ThomasKranitsas commented on #43
@rashmi73 just making sure, are you working on this?

[2020-03-17 22:01] rashmi73 commented on #43
@ThomasKranitsas yes I am working, just wanted a confirmation, swagger and postman calls are proper and latest, just need to add tests covering everything, correct?

[2020-03-17 22:07] ThomasKranitsas commented on #43
The swagger should be up to date but the postman collection is not. This is actually the ask of this ticket. To update the postman collection to make sure it covers everything that's currently implemented.

Let me know if the price is not enough and I'll adjust it.

[2020-03-17 22:08] ThomasKranitsas commented on #43
Contest https://www.topcoder.com/challenges/30119346 has been updated - rashmi73 has been unassigned.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2020-03-18 02:59] ThomasKranitsas commented on #43
Contest https://www.topcoder.com/challenges/30119346 has been updated - it has been assigned to rashmi73.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2020-03-18 05:54] callmekatootie commented on #43
@rashmi73 Status Check. Are you actively working on this and on track to submit?

[2020-03-18 09:56] rashmi73 commented on #43
@callmekatootie yes actively working

[2020-03-18 11:03] callmekatootie commented on #43
Thanks for the update

[2020-03-18 20:08] rashmi73 commented on #43
@callmekatootie @ThomasKranitsas need more time as its lengthy and I am going through all previous commits of develop branch as well as checking tests of each collection in postman to ensure http verbs are verified. surely it will be completed

[2020-03-18 21:07] rashmi73 commented on #43
@ThomasKranitsas @callmekatootie covering new endpoints with negative postive test has completed mostly but I am unable to mark it completely above, permission issues?

[2020-03-19 03:33] callmekatootie commented on #43
You mean you are trying to check the boxes in the ticket description above? That's ok... You don't have to do that - you only need to submit the Pull Request.

[2020-03-19 20:02] rashmi73 commented on #43
@callmekatootie @ThomasKranitsas raising PR

[2020-03-20 05:56] callmekatootie commented on #43
@rashmi73 Where have you raised the PR?

[2020-03-25 08:33] callmekatootie opened #47 "Swagger issues"
Observed when working on #43

@ThomasKranitsas Some notes from the developer:

## ChallengeTypes

- PATCH requests. In swagger, `name`, `isActive`, `abbreviation` is required. But in source code and POSTMAN they are optional

## ChallengePhases

- The model in swagger has more attributes than source code and POSTMAN
- For search, swagger defines 401 and 403 status but POSTMAN and code don't provid

[2020-03-25 11:23] ThomasKranitsas commented on #47
Thank you @callmekatootie! I'll take it up from here

[2020-03-26 17:32] callmekatootie commented on #43
PR is now merged. Closing ticket.

[2020-03-26 17:32] #43 closed

[2020-03-27 03:05] nqviet opened #48 "[README.md] typo mistake"
**Steps to reproduce:**
 - go to README.md (line 79)

**Current result(s):**
 - the `Create Elasticsearch index` command is the same as init-database command

**Expected result(s):**
 - should be `npm run init-es` and `npm run init-es force`

**Attachments:**
![Untitled](https://user-images.githubusercontent.com/36178659/77716923-ccbe4d00-7011-11ea-8b88-4c672cbad0de.png)

[2020-03-27 03:29] nqviet opened #49 "[$30] [Update challenge] Cannot update termsIds to empty"
**Steps to reproduce:**
  - open the Postman collection
  - send requests to create ChallengeSettings, ChallengeTypes, ChallengePhases, TimelineTemplates, ChallengeTypeTimelineTemplates if it is the first time
  - try to send a request to update a challenge with `termsIds: []`

**Current result(s):**
  - validation error with 400 code returns

**Expected result(s):**
  - Should be able to update `

[2020-03-27 03:32] nqviet commented on #49
also happens with the `partial update challenge` request

[2020-03-27 05:06] nqviet opened #50 "[Create challenge] the error message is not proper when the group name is invalid"
**Steps to reproduce:**
 - open the Postman collection
 - send requests to create ChallengeSettings, ChallengeTypes, ChallengePhases, TimelineTemplates, ChallengeTypeTimelineTemplates if it is the first time
 - send a request creating a challenge with `groups: [" "]`

**Current result(s):**
 - forbidden error (403 code) returns
 - group name can be arbitrary characters (like: "$@%")

**Expected re

[2020-03-27 05:47] nqviet opened #51 "[$60] [Search] Internal server error when searching for the string containing special characters"
**Steps to reproduce:**
 - open the Postman collection
 - send requests to create ChallengeSettings, ChallengeTypes, ChallengePhases, TimelineTemplates, ChallengeTypeTimelineTemplates if it is the first time
 - send a request searching for any of ChallengeSetting, ChallengeType, Phase, TimelineTemplate, or AuditLog with params: `name=?\`

**Current result(s):**
 - exception thrown at server side (

[2020-03-27 06:24] nqviet opened #52 "[Create challenge] User can enter the same prize data many times"
**Steps to reproduce:**
 - open the Postman collection
 - send requests to create ChallengeSettings, ChallengeTypes, ChallengePhases, TimelineTemplates, ChallengeTypeTimelineTemplates if it is the first time
 - send a request creating a challenge with `prizeSets.prizes` of some of the same items

**Current result(s):**
 - challenge created successfully

**Expected result(s):**
 - should validate d

[2020-03-27 07:37] nqviet opened #53 "[ChallengeSetting] Anonymous user partially access challenge-setting routes"
**Steps to reproduce:**
 - open the Postman collection
 - send requests to create ChallengeSettings, ChallengeTypes, ChallengePhases, TimelineTemplates, ChallengeTypeTimelineTemplates if it is the first time
 - go to `ChallengeSettings -> create challenge setting / or search challenge setting`, and send any requests beginning with `failure`,  => the requests are successul
 -  go to `ChallengeSetti

[2020-03-27 08:06] nqviet opened #54 "[$30] [ChallengeService] `endDate` is allowed as the request param though it is auto calculated"
**Steps to reproduce:**
  - open the Postman collection
  - end requests to create ChallengeSettings, ChallengeTypes, ChallengePhases, TimelineTemplates, ChallengeTypeTimelineTemplates if it is the first time
  - send requests to create/update a challenge with `endDate` in the request's body

**Current result(s):**
  - the challenge is created successfully

**Expected result(s):**
  - should retur

[2020-03-27 08:54] nqviet opened #55 "[$40] [ChallengeService] Copilot can assign a challenge to groups to which he does not belong"
**Steps to reproduce:**
  - open the Postman collection
  - send requests to create ChallengeSettings, ChallengeTypes, ChallengePhases, TimelineTemplates, ChallengeTypeTimelineTemplates if it is the first time
  - check copilot-1 groups: `["group1", "group2"]` (which return from mock-api)
  - send the request to update the challenge with the additional group ( ex: "group-3")

**Current result(s):*

[2020-03-27 13:24] nqviet opened #56 "Requests returning 404 code even creating/updating successfully"
**Steps to reproduce:**
  - start the app with `BUSAPI_URL` pointing to the invalid address: `BUSAPI_URL=http://localhost:3002 npm start`
 - open the Postman collection
 - send a request to create , ex: ChallengeType: => 404 code will return
 - send this request again: => 409 code will return

**Current result(s):**
 - The request entity has been created even 404 code returning

**Expected result(

[2020-03-27 15:58] nqviet opened #57 "[$120] Updating Phase table does not reflect in the challenge's phases"
Env:
[code]
Topics:
[code]
**Steps to reproduce:**
 - run Kafka locally, and add the above topics
 - deploy `challenge-processor-es`, `tc-bus-api` at port 3001, and 3002 locally with the above variables
 - run the app by: `BUSAPI_URL=http://localhost:3002/v5 npm start`
 - open the Postman collection
 - send a request to create ChallengeType, or ChallengeSetting, Phase, TimelineTemplate, ChallengeT

[2020-03-28 19:26] ThomasKranitsas opened #58 "Issue with Null values in challenge groups"
Based on https://www.elastic.co/guide/en/elasticsearch/reference/current/array.html

As a temp fix, we've done the following:
https://github.com/topcoder-platform/challenge-api/blob/f5b5a21e332df606c4459335b957e7c490f64d78/src/services/ChallengeService.js#L32

[2020-03-29 23:20] ThomasKranitsas opened #59 "All dates should be saved in UTC"
Currently, we're using `new Date()` to set date properties which takes the timezone from the environment. We need to make sure all dates are set with UTC dates to keep everything consistent across different systems.

[2020-03-30 12:27] ThomasKranitsas opened #60 "[$40] Unauthenticated users should only search challenges without groups"
Since the query fetches the first N challenges from ES, if the call is unauthenticated, we should add a filter so groups is `undefined`.

Currently, if the first 20 records belong to a private group, the GET /challenges will always return [] even if there are millions of challenges available.

[2020-04-04 13:30] ThomasKranitsas commented on #60
@topcoder-platform/tcxcommunity @topcoder-platform/topcodercompetitors this is open for pickup. Please create a PR against `develop` branch.

[2020-04-04 13:32] ThomasKranitsas commented on #55
@topcoder-platform/tcxcommunity @topcoder-platform/topcodercompetitors this is open for pickup. Please create a PR against `develop` branch.

[2020-04-04 13:32] ThomasKranitsas commented on #60
Contest https://www.topcoder.com/challenges/30121722 has been created for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2020-04-04 13:32] ThomasKranitsas commented on #60
Contest https://www.topcoder.com/challenges/30121722 has been updated - it has been assigned to Narekvar90.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2020-04-04 13:33] ThomasKranitsas commented on #55
Contest https://www.topcoder.com/challenges/30121723 has been created for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2020-04-04 13:40] ThomasKranitsas commented on #55
Contest https://www.topcoder.com/challenges/30121723 has been updated - it has been assigned to rashmi73.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2020-04-04 14:09] ThomasKranitsas commented on #49
@topcoder-platform/tcxcommunity @topcoder-platform/topcodercompetitors this is open for pickup. Please create a PR against `develop` branch.

[2020-04-04 14:11] ThomasKranitsas commented on #49
Contest https://www.topcoder.com/challenges/30121725 has been created for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2020-04-04 14:11] ThomasKranitsas commented on #49
Contest https://www.topcoder.com/challenges/30121725 has been updated - it has been assigned to marioskranitsas.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2020-04-04 15:10] ThomasKranitsas commented on #57
@topcoder-platform/tcxcommunity @topcoder-platform/topcodercompetitors this is open for pickup. Please create a PR against `develop` branch.

Expected fix:

Update both the challenge API as well as the https://github.com/topcoder-platform/challenge-processor-es (`develop` branch) to not save the Phase `name` & `description` on the Challenge object.

Update all GET endpoints that return a challenge

[2020-04-04 15:10] ThomasKranitsas commented on #57
Contest https://www.topcoder.com/challenges/30121726 has been created for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2020-04-04 15:11] ThomasKranitsas commented on #57
@Nachiappa, please sign-up with Topcoder X tool<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2020-04-04 15:11] ThomasKranitsas commented on #54
@topcoder-platform/tcxcommunity @topcoder-platform/topcodercompetitors this is open for pickup. Please create a PR against `develop` branch.

[2020-04-04 15:13] ThomasKranitsas commented on #57
Contest https://www.topcoder.com/challenges/30121726 has been updated - it has been assigned to PkDurlabhji.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2020-04-04 15:14] ThomasKranitsas commented on #54
Contest https://www.topcoder.com/challenges/30121727 has been created for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2020-04-04 15:16] ThomasKranitsas commented on #54
Contest https://www.topcoder.com/challenges/30121727 has been updated - it has been assigned to marioskranitsas.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2020-04-04 15:18] #49 closed

[2020-04-04 15:19] ThomasKranitsas commented on #49
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30121725<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2020-04-04 15:36] ThomasKranitsas commented on #53
Not valid issue

[2020-04-04 15:36] #53 closed

[2020-04-04 15:37] ThomasKranitsas commented on #52
I think that's fine.
Right @rootelement?

[2020-04-04 15:39] rootelement commented on #52
Yessir, that's right @ThomasKranitsas

[2020-04-04 15:39] #52 closed

[2020-04-04 15:45] ThomasKranitsas commented on #50
Invalid issue

[2020-04-04 15:45] #50 closed

[2020-04-04 15:47] ThomasKranitsas commented on #51
@topcoder-platform/tcxcommunity @topcoder-platform/topcodercompetitors this is open for pickup. Please create a PR against `develop` branch.

Expected fix:

Use https://www.npmjs.com/package/xss to sanitize queries

[2020-04-04 15:48] ThomasKranitsas commented on #51
Contest https://www.topcoder.com/challenges/30121729 has been created for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2020-04-04 15:49] #54 closed

[2020-04-04 15:49] ThomasKranitsas commented on #51
Contest https://www.topcoder.com/challenges/30121729 has been updated - it has been assigned to PkDurlabhji.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2020-04-04 15:49] ThomasKranitsas commented on #54
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30121727<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2020-04-04 15:51] ThomasKranitsas commented on #57
Contest https://www.topcoder.com/challenges/30121726 has been updated - it has been assigned to gauravseta.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2020-04-04 15:58] ThomasKranitsas commented on #56
Cannot reproduce

[2020-04-04 15:58] #56 closed

[2020-04-04 18:54] narekcat commented on #60
Hello @ThomasKranitsas . I have finished this issue, see pull request https://github.com/topcoder-platform/challenge-api/pull/64

[2020-04-04 22:35] rashmi73 commented on #55
@ThomasKranitsas

so the flow would be:

1. get all groups of current user.
2. check  groups array of  body of update challenge request.
3. if groups array contain a group which currentuser doesnt have then dont allow to update challenge?
4. also what should be error thrown then?

working actively PR in sometime

[2020-04-04 23:06] PrakashDurlabhji commented on #51
@ThomasKranitsas done in https://github.com/topcoder-platform/challenge-api/pull/65

[2020-04-05 09:29] ThomasKranitsas commented on #55
That sounds correct. The error can be `403 You don't have access to group {group}`

[2020-04-05 11:03] rashmi73 commented on #55
@ThomasKranitsas issue is somewhat confusing. there are two statements which contradict each other.

Kindly clarify below points:

1. can copilot alter the groups array? I mean does he have rights to do it?
e.g
original challenge body has groups: ['groups1', groups2']
then we make  a PATCH request body which has groups: ['groups1',groups2', 'groups3']

2. logically we mean to achieve is that if co

[2020-04-05 11:31] ThomasKranitsas commented on #55
1. Yes. The copilot should be able to do that.

2. That's right.

That's right.

We may revisit this logic later but for now let's just do that.

[2020-04-05 11:34] rashmi73 commented on #55
@ThomasKranitsas thanks just one final doubt for removal logic

1. original challenge body has groups [g1,g2, g3]
    user has access to groups g1,g2,g3,g10
   and patch request is groups [], which is blank.
   then it should be sucessfull?

2. also, original challenge body has groups [g1,g2, g3]
    user has access to groups g1,g2
    and patch request is groups [], which is blank.
    then it sh

[2020-04-05 11:36] ThomasKranitsas opened #66 "Modify resources when changing groups"
@rootelement what should happen in the following case:
- Copilot creates a challenge with either no groups or with, let's say, `Group1`
- A few members who have access to `Group1` register on the challenge.
- Copilot modifies the challenge and adds `Group2`

Possible scenarios:
1. All members who don't have access to `Group2` will be automatically removed
2. Copilot should not be able to do that
3

[2020-04-05 11:37] ThomasKranitsas commented on #55
1. Yes, this should remove the groups from the challenge
2. That's right. If the user (I guess you mean copilot here) does not have access to all groups, he should NOT be able to read/write to this challenge

[2020-04-05 12:34] rashmi73 commented on #55
@ThomasKranitsas PR https://github.com/topcoder-platform/challenge-api/pull/67

[2020-04-05 15:24] ThomasKranitsas commented on #57
Contest https://www.topcoder.com/challenges/30121726 has been updated - it has been assigned to rashmi73.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2020-04-05 22:40] rashmi73 commented on #57
@ThomasKranitsas working

[2020-04-06 22:33] rashmi73 commented on #57
@ThomasKranitsas somewhat confusion on this

**Update both the challenge API as well as the https://github.com/topcoder-platform/challenge-processor-es (develop branch) to not save the Phase name & description on the Challenge object**

it means everytime we get a challenge then loop through phases array and take id of it and make request to get phase details and populate it in phases array and th

[2020-04-06 22:52] ThomasKranitsas commented on #57
The goal is to not save the `name` and `description` of the phases within the challenge objects. Those 2 values should be populated on-the-fly before returned in the response.

[2020-04-07 07:34] rashmi73 commented on #57
@ThomasKranitsas yes name and desc are not to be updated within challenge object but they should be updated hitting phases API and while getting chalenge, get phases on fly correct?

[2020-04-07 09:12] ThomasKranitsas commented on #57
That sounds right. Can you please give me an ETA for this?

[2020-04-07 18:50] simranb86 commented on #57
@ThomasKranitsas any plans to open this ? We are allowed only 24 hrs I guess.

[2020-04-07 19:09] rashmi73 commented on #57
@ThomasKranitsas i will open myself if i fail, just few hours

[2020-04-07 23:12] rashmi73 commented on #57
@ThomasKranitsas  both PR

https://github.com/topcoder-platform/challenge-processor-es/pull/10

https://github.com/topcoder-platform/challenge-api/pull/69

[2020-04-09 13:54] ajefts opened #71 "v5 winners array should have userId"
1.  The winners array currently has handle but not userId.  Since handles can change, we should include userId as well so we don't run into trouble with lookups and data integrity.

2.  The v4 array has these fields:

submissionTime: "2019-10-14T09:28:04.000Z",
points: 100

I'm assuming they are used/helpful when displaying scores and submission times on the challenge pages.  Not sure if this can

[2020-04-09 13:58] ajefts opened #72 "v5 phases missing a couple fields"
between v4 and v5, we're missing some phase attributes in the phases array.

v4:

{
challengeId: 30103745,
id: 1182935,
**phaseType: "Registration",**
phaseStatus: "Closed",
scheduledStartTime: "2019-10-01T00:08:58.993Z",
**scheduledEndTime: "2019-10-15T00:06:01.206Z",**
actualStartTime: "2019-10-01T00:08:58.993Z",
actualEndTime: "2019-10-15T00:06:01.206Z",
**fixedStartTime: "2019-10-01T00:08:00.0

[2020-04-09 14:02] ajefts opened #73 "v5 terms array missing role"
In v4 we have a role defined for each terms item.  The use case here is that different roles on the challenge require different terms to be signed.

{
termsOfUseId: 20704,
**role: "Reviewer",**
agreeabilityType: "Electronically-agreeable",
title: "Standard Reviewer Terms v1.0",
url: ""
},

[2020-04-09 14:05] ajefts opened #74 "v5 Final Submission Guidelines missing"
For dev challenges, we have a Description and we also have finalSubmissionGuidelines.  v5 isn't including finalSubmissionGuidelines.  This is content that is part of the spec and I think we'll need to include it.

NOTE:  I know we want to simplify this going forward, so I'm not sure if pulling over the field 1:1 is the right answer vs. doing something like appending the content to the end of the d

[2020-04-09 14:08] ajefts opened #75 "v5 Challenge resources"
v5 currently returns this structure for resources.

[
  {
    "id": "string",
    "challengeId": "string",
    "memberId": "string",
    "memberHandle": "string",
    "roleId": "string",
    "created": "2020-04-09T14:06:23.453Z",
    "updated": "2020-04-09T14:06:23.453Z",
    "createdBy": "Topcoder User",
    "updatedBy": "Topcoder User"
  }
]

I'm assuming this is what we'd use to retrieve and di

[2020-04-09 14:10] ajefts opened #76 "v5 total registrants and submissions"
Suggestion:

Add fields for the total registrants, submitters, and submissions to the response.  This will help do things like display those counts on the listing page without having to iterate through the resource lists...

Current API includes these:

checkpoints: [ ],
numberOfRegistrants: 77,
numberOfSubmissions: 33,
numberOfSubmitters: 33

[2020-04-09 15:33] rootelement commented on #73
@ThomasKranitsas this might be taken care of by associating a terms resource instead of having the terms on the challenge object. We talked about that a bit ago. From Gondzo:

[2020-04-09 15:34] rootelement commented on #74
@cwdcwd did you have a plan for this? We have `description` and `privateDescription` now, but i'm not sure we have the finalSubmissionGuidelines anywhere in v5 data model

[2020-04-09 21:25] cwdcwd commented on #74
plan was to add to the existing fields and cut down on extraneous, extra fields from legacy. I didn't see any reason, from a data perspective to normalize that out to it's own field. It's not segmented/secured or searched on or manipulated. It's an additional spec bullet point

[2020-04-17 06:35] rashmi73 commented on #57
@ThomasKranitsas can you please close this?

[2020-04-17 17:07] ThomasKranitsas opened #79 "[$90] Convert all routes to kebab-case and update related services"
This task includes changes in the following repos:
- https://github.com/topcoder-platform/challenge-api
- https://github.com/topcoder-platform/resources-api
- https://github.com/topcoder-platform/legacy-challenge-processor
- https://github.com/topcoder-platform/challenge-engine-ui
- https://github.com/topcoder-platform/challenge-processor-es
- https://github.com/topcoder-platform/legacy-challenge-

[2020-04-17 18:56] rootelement opened #80 "Data Model Update"
Updates to the Data Model:

[code]

[2020-04-17 19:01] #51 closed

[2020-04-17 19:02] ThomasKranitsas commented on #51
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30121729<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2020-04-17 19:19] #55 closed

[2020-04-17 19:20] ThomasKranitsas commented on #55
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30121723<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2020-04-17 19:25] #60 closed

[2020-04-17 19:26] ThomasKranitsas commented on #60
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30121722<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2020-04-17 19:44] #57 closed

[2020-04-20 15:55] ThomasKranitsas commented on #80
@rootelement few questions
1. Will the `terms` be an array of UUIDs? I don't think it makes sense to have it as an array of objects if we just store the term ID and nothing else.
2. The `type` is not saved in the challenge object. It's populated on the fly based on the `typeId`. Should we still remove that?

[2020-04-20 16:40] rootelement commented on #80
1. Yes, array of UUIDs is fine
2. No, sorry, i didn't know that was generated. That's fine as it is then.
I thought it was extraneous

On Mon, Apr 20, 2020 at 11:56 AM Thomas Kranitsas <notifications@github.com>
wrote:

--

James Cori
Lead Software Engineer
jcori@topcoder.com / 413.961.9044 / @jamesmcori
<https://twitter.com/jamesmcori>

<cbonner@topcoder.com>www.topcoder.com <http://topcoder.com/

[2020-04-21 09:48] marioskranitsas commented on #79
[patches.zip](https://github.com/topcoder-platform/challenge-api/files/4509119/patches.zip)

@ThomasKranitsas I have attached the patches. Some repos don't require changes

[2020-04-23 04:13] jmgasper opened #81 "Bug when implementing auto-save for challenge UI"
Reported as part of implementing https://github.com/topcoder-platform/challenge-engine-ui/issues/80

There is backend problem. For example i edit the challenge name -> the frontend will call update challenge request 2 time:

- The first time name="Diiazz 33334" at Thu, 23 Apr 2020 02:49:53 GMT
- The second time name: "Diiazz 333345" at Thu, 23 Apr 2020 02:49:63 GMT

But after reload the page we wi

[2020-04-23 04:16] jmgasper opened #82 "Bug when attempting to upload attachments to a draft challenge"
Reported in https://github.com/topcoder-platform/challenge-engine-ui/issues/129

@ThomasKranitsas for `Uploading fails` the backend throw `Internal` server error when call uploading attachment api

<img width="547" alt="79996074-367f2900-84e2-11ea-9ae6-627188b2b4fd" src="https://user-images.githubusercontent.com/21790/80058586-04ff6f80-856d-11ea-88c0-45cb6acdfaa6.png">

I check the api in postman

[2020-04-23 10:51] ThomasKranitsas commented on #82
@rootelement did you fix the access error here?

[2020-04-23 14:24] ThomasKranitsas opened #83 "[$90] Update postman collection"
Update the postman collection to reflect the changes from https://github.com/topcoder-platform/challenge-api/commit/bcd0607d0a407d0869f7032aa2d1a5f52e918290

Listing the changes here:
### Challenge model
- `track`, `forumId` and `reviewType` were moved under the `legacy` property.
- `challengeSettings` changed to `metadata`
- `challengeSettings.type` changed to `challengeSettings.name`
- `termIds`

[2020-04-23 20:56] marioskranitsas commented on #83
[postman.patch.zip](https://github.com/topcoder-platform/challenge-api/files/4525173/postman.patch.zip)

[2020-04-23 21:48] ThomasKranitsas commented on #83
There will be more changes needed here.. I'll update you after I push the changes.

[2020-04-24 15:21] marioskranitsas commented on #79
[doc.patch.zip](https://github.com/topcoder-platform/challenge-api/files/4529820/doc.patch.zip)
updated patch

[2020-04-24 15:25] marioskranitsas commented on #83
[doc.patch.zip](https://github.com/topcoder-platform/challenge-api/files/4529843/doc.patch.zip)
updated patch

[2020-04-25 13:11] ThomasKranitsas commented on #83
One more changes needed here (hopefully)... Inside the `legacy` object, we need to add an `informixModified` (date) property.

[2020-04-26 21:19] jmgasper opened #84 "Error when uploading attachments"
In the challenge-engine-UI, we are POST'ing to the `/v5/challenges/{challenge ID}/attachments` endpoint to attempt to add an attachment to a challenge.

This is currently not working, but the error message doesn't tell us anything about why.  I'm just getting a 500 status code back and this error:

`{"message":"Internal server error"}`

[2020-04-27 01:38] jmgasper opened #85 "[$80] Sorting on the challenge API?"
When retrieving a list of challenges from `/v5/challenges`, is it possible to apply any sorting to the results?  I don't see sorting parameters in the Swagger, and I tried a `sortBy` parameter that wasn't accepted.

[2020-04-27 01:41] rootelement commented on #85
Open this for TCX pickup @ThomasKranitsas

[2020-04-27 04:03] simranb86 commented on #85
@rootelement @ThomasKranitsas can I give this a try?

[2020-04-27 07:48] jmgasper opened #86 "Durations not in hours"
From our discussion in Slack:

```I'm pretty sure phases are hours. Not sure why. I can clarify with Lazy, but @thomaskranitsas said it was hours```

### Sample POST to create a challenge

[code]

### Sample response

**Note that the scheduled start and end dates used the durations in seconds, not  hours**

[code]

[2020-04-27 10:32] ThomasKranitsas commented on #86
You are correct. Although this is supposed to be in hours, the method that's populating those properties uses seconds. I have fixed it. It'll be available on the next deployment.

[2020-04-27 12:19] ThomasKranitsas commented on #85
Contest https://www.topcoder.com/challenges/30123408 has been created for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2020-04-27 12:20] ThomasKranitsas commented on #85
@simranb86 yes, you may give this a try.

@topcoder-platform/topcodercompetitors @topcoder-platform/tcxcommunity this is open for pickup.

Please work based on the `develop` branch and create a PR.

@rootelement @jmgasper which properties do we need to support for sorting?

[2020-04-27 12:37] awzilkie commented on #85
@ThomasKranitsas can I take this?

[2020-04-27 13:02] ThomasKranitsas commented on #85
Contest https://www.topcoder.com/challenges/30123408 has been updated - it has been assigned to rashmi73.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2020-04-27 14:28] rootelement commented on #85
I'd say sorting by name and relevant dates would be fine initially. Created and Modified would be important for now at least for this use case.

[2020-04-27 14:37] simranb86 commented on #85
@ThomasKranitsas I am not on list to assign myself. Can you kindly add me so I can assign when tickets are opened ?

[2020-04-27 23:42] rashmi73 commented on #85
@jmgasper here is PR https://github.com/topcoder-platform/challenge-api/pull/87
you can try with sortby param now and it should work

[2020-04-27 23:46] ThomasKranitsas commented on #85
Please check my review on the PR

[2020-04-27 23:55] rashmi73 commented on #85
@ThomasKranitsas doing

[2020-04-28 07:11] rashmi73 commented on #85
@jmgasper @ThomasKranitsas PR updated with feedbacks. Kindly verify https://github.com/topcoder-platform/challenge-api/pull/87

[2020-04-28 10:08] ThomasKranitsas commented on #85
Hi @rashmi73 , we are using `Joi` for validation. No need to create an extra method for validating the input. Please see my feedback on the PR.

[2020-04-28 11:05] ThomasKranitsas commented on #85
Payment failed: [500]: Failed to get billing detail for the project.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2020-04-28 17:26] ThomasKranitsas commented on #86
Closing this one as it's already been fixed. We're now using seconds

[2020-04-28 17:26] #86 closed

[2020-04-28 17:28] ThomasKranitsas opened #88 "Kafka event payload on challenge updates"
Currently, `PUT /challenges/:id` fires an event where the payload is the full challenge object while `PATCH` only includes the updated properties.

In order to get the legacy challenge processor to properly work, we need to change both to include the whole object.

This is a temporary fix until we turn off the legacy processor.

[2020-04-28 17:55] ThomasKranitsas opened #89 "Add support to delete a challenge"
Since we now support challenges with only `{ status: 'New', name, projectId }`, it would be a good idea to have a way to delete a challenge so we don't end up with a ton of half-baked challenges.

This could be:
- a `DELETE /challenges/:uuid` endpoint
- a processor that will automatically expire `New` challenges after last modified > 30 days
- both?

[2020-04-29 20:26] ThomasKranitsas opened #90 "Support changing legacy.track or typeId"
The v5 used to allow changing the `legacy.track` or the `typeId` of a `Challenge` but V4 doesn't allow that.

Thought, the V4 API does not return the challenge track in the response of the `/challenges/:id` endpoint thus we moved that check to the V5 API

https://github.com/topcoder-platform/legacy-challenge-processor/blob/7d94bea995c2d248b897d187064664f76c6abd2b/src/services/ProcessorService.js#L

[2020-04-30 18:31] kylewu opened #91 "[$100] Postman collections are not up to date"
I'm not able to create one challenge with existing postman file.

The postman collection should be updated and synced with latest endpoints.

Please make sure all requests will success. If there is a need to update README for some env, please do.

[2020-04-30 18:49] kylewu opened #92 "Dockerfile update"
From package.json, node 10.x is used for challenge api.
In Dockerfile, it uses node:latest which is node 14.
The version of docker image should be 10.

In Dockerfile, lint is not needed.

[2020-04-30 18:52] kylewu opened #93 "Move mock api to docker compose"
In order to simplify the environment setup for local development, move all dependency services into docker-compose.

Ideally, with `docker-compose up`, all dependencies are up.

For challenge API, please run mock api inside docker compose.
And README needs to be updated as well. Make sure we could follow readme and get challenge api up and running locally.

[2020-04-30 22:28] kylewu opened #94 "Fix FIXME"
In ChallengeService.js, there are three FIXME need to be fixed.

https://github.com/topcoder-platform/challenge-api/blob/code-improvements/src/services/ChallengeService.js#L159

https://github.com/topcoder-platform/challenge-api/blob/code-improvements/src/services/ChallengeService.js#L539

https://github.com/topcoder-platform/challenge-api/issues/90
https://github.com/topcoder-platform/challenge-a

[2020-04-30 22:30] kylewu commented on #91
https://github.com/topcoder-platform/challenge-api/issues/83 this issue is also to update postman collection

[2020-05-01 05:33] jmgasper opened #95 "Task support"
In the v4 API, we have a flag for items that are "tasks".  I could see that being useful in v5 to keep things streamlined.  For instance, we could update the challenge forum processor to skip creating forums for tasks.

[2020-05-01 06:18] rootelement commented on #83
Please finish the work here so we can run #91

[2020-05-01 06:20] rootelement commented on #95
There was discussion of whittling down the "Type" to just "Challenge", "Task", or... something else. So you'd pick Design as the track, then Challenge as the Type, then everything else would be tags and metadata. That's not implemented yet.

[2020-05-01 06:25] jmgasper opened #96 "Track field not matching Swagger or working with POST / PATCH"
@ThomasKranitsas  - When we create the base challenge on the `Launch New` page, we send these details:

### Sample POST

[code]

### Problem

The problem is:

* The `track` isn't sent properly at create time because it hasn't been selected.
* The `track` property can't be PATCH'd after the fact - it returns a 400 error from the challenge API
* The `track` can't be sent as part of the initial POST

[2020-05-01 06:27] rootelement commented on #96
Track has been moved under the legacy object. The swagger is out of date.
[code]
But all the other things you mention are valid. Also, when the `New` status was added, the createChallenge and update function JOIs were not updated, so even if the function doesn't require it, the JOI does. So that's why these are failing. This needs to be updated.

[2020-05-01 06:45] jmgasper opened #97 "PATCH against phases timing out"
@ThomasKranitsas - We're seeing issues when attempting to PATCH in phase details onto a challenge:

Sample:

[code]

[2020-05-01 13:38] rootelement opened #98 "INFO - TCX Challenge Label Rules"
# How to work with git tickets

The basic flow for handling a ticket is as follows:

1. Assign the ticket to yourself, change the label to "tcx_Assigned", remove the "tcx_OpenForPickup" label.  Please only assign tickets to yourself when you are ready to work on it.  I don't want tickets assigned to someone and then not have them work on a ticket for 24 hours.  The goal here is a quick turnaround

[2020-05-01 22:07] kylewu opened #99 "Fix Tests"
`(node:34153) UnhandledPromiseRejectionWarning: InvalidAccessKeyId: The access key ID you provided does not exist in our records.`

See this error when running `npm run test` and `npm run e2e`.

Please make sure all tests pass.

[2020-05-01 22:08] kylewu opened #100 "Update README"
Please update README.

- In Local Deployment, AWS S3 Setup needs to be updated: s3 is run in docker compose: minio
- In Local Deployment, Mock API needs to be updated, because mock api is run in docker compose now.

We need to mention all dependencies, and they are all ready after running docker-compose up.

- In Running tests, please add "Prepare" in both "Running unit tests" and "Running integra

[2020-05-01 22:39] kylewu opened #101 "All upper case const variables"
In app-constans, there are several const variables using camel case.
They should be all upper case.

[2020-05-01 22:44] kylewu opened #102 "Double check if commented code should be removed"
In routes.js, there are several places of commented code

For example
https://github.com/topcoder-platform/challenge-api/blob/code-improvements/src/routes.js#L93-L95

Should we keep them, if so, why they are commented now?
If not, we should remove them.

[2020-05-01 22:45] jmgasper opened #103 "New challenge doesn't have 'updated' field value"
@ThomasKranitsas  - On the challenge UI, we are now showing that New tab, which shows new challenges.  The problem is that we sort the challenges by `updated`.

### Problem
Currently, the challenge API doesn't set the updated value when the challenge is created

So, on a new challenge, only created is available, not updated.  Normally, I like to design that sort of thing so that for a newly create

[2020-05-02 00:47] jmgasper opened #104 "Gateway timeout when attempting to PATCH in the phases"
### Sample PATCH:

https://api.topcoder-dev.com/v5/challenges/71e1e833-21ce-4ca9-8d0e-bf167864053d

[code]

### Sample response (after awhile)

[code]

[2020-05-02 01:14] jmgasper opened #105 "Can't PATCH the phases properly"
@ThomasKranitsas - This one's lower priority, but we should be able to PATCH the phases with full information, similar to what we get when they are filled in fully.

Right now, it won't let us patch beyond the phase ID and duration.

Error seen:

[code]

[2020-05-02 12:50] ThomasKranitsas commented on #83
@rootelement this is done. I just merged in https://github.com/topcoder-platform/challenge-api/commit/16a7344373585871c26d99291b348fe0e02f3c12

[2020-05-02 13:18] rashmi73 commented on #85
@ThomasKranitsas can we please close this? thanks

[2020-05-02 13:50] ThomasKranitsas commented on #85
Payment failed: [500]: Failed to get billing detail for the project.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2020-05-02 13:53] ThomasKranitsas commented on #85
@rashmi73 sorry about that. We're working on fixing this. I'll close it ASAP

[2020-05-02 13:55] ThomasKranitsas commented on #95
@rootelement I guess we just need to add an entry on the seed file, right?

[2020-05-02 13:57] #85 closed

[2020-05-02 13:57] ThomasKranitsas commented on #85
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30123408<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2020-05-02 14:26] rootelement commented on #95
Yes, but i'm thinking we might also need admin tools to manage this stuff going forward. I'll talk to the team about that. Can you add a type for this with a timeline template?

[2020-05-02 14:28] rootelement commented on #95
To answer this specifically @jmgasper , the v5 challenge api will have no knowledge of forums. That will be it's own api and associated to a challenge, project, or other object that way.

[2020-05-02 16:49] ThomasKranitsas commented on #99
That looks related to invalid AWS configuration

[2020-05-02 16:51] ThomasKranitsas commented on #105
@rootelement thoughts on this? All fields other than `id` and `duration` are auto-calculated before saved in dynamo/ES.
Perhaps we can auto-calculate those on `POST` but let the user update those in `PUT/PATCH`?

[2020-05-02 18:06] ThomasKranitsas commented on #103
Fixed in https://github.com/topcoder-platform/challenge-api/commit/1ea6990a1cd16b68621233d50c4e1a6adbf1fdf3

[2020-05-02 18:06] #103 closed

[2020-05-02 19:39] rootelement commented on #105
I think it should auto-calculate if the fields don't exist. Is that possible?

[2020-05-02 19:52] ThomasKranitsas commented on #79
Contest https://www.topcoder.com/challenges/30124110 has been created for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2020-05-02 19:52] ThomasKranitsas commented on #83
Contest https://www.topcoder.com/challenges/30124111 has been created for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2020-05-02 19:52] ThomasKranitsas commented on #79
Contest https://www.topcoder.com/challenges/30124110 has been updated - it has been assigned to marioskranitsas.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2020-05-02 19:52] ThomasKranitsas commented on #83
Contest https://www.topcoder.com/challenges/30124111 has been updated - it has been assigned to marioskranitsas.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2020-05-02 20:43] kylewu commented on #99
@ThomasKranitsas does it require a real aws account for tests? And i have aws configured with my own account although it's not asked in README

[2020-05-02 23:10] simranb86 commented on #83
@ThomasKranitsas @rootelement as per Bug Bash rules, I guess one person cannot hold 2 tickets ? I see @marioskranitsas has picked up #83 and #79

Can you release one?

[2020-05-02 23:13] rootelement commented on #83
No, these were done. they were created as issues and the work has been completed. I'm just paying these tickets out. They were the same work spread among 2 tickets. That was my decision, it's fine. More issues opening very soon.

[2020-05-02 23:13] #83 closed

[2020-05-02 23:14] rootelement commented on #79
Done, thanks!

[2020-05-02 23:14] #79 closed

[2020-05-02 23:14] ThomasKranitsas commented on #83
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30124111<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2020-05-02 23:14] ThomasKranitsas commented on #79
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30124110<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2020-05-03 13:21] ThomasKranitsas commented on #99
No, you don't need real aws configs. In the config file, there are some commented out configs related to AWS keys. You need to uncomment those.

Though, the tests do need to be fixed. I'm just saying that the error you're getting is related to invalid configs.

[2020-05-03 14:24] kylewu commented on #99
@ThomasKranitsas thanks!

[2020-05-03 23:17] jmgasper opened #106 "PATCH not always applying immediately"
@ThomasKranitsas / @rootelement  - This is from a member working on the v5 integration into Topcoder-X.  I've also had complaints about similar issues when we've been working on the challenge UI.

Let me report a problem in the v5 challenge API.

The problem related to the API PATCH /challenges/{id} to partially update a challenge data. I have to make two attempts of requests to see that the data

[2020-05-04 06:14] ThomasKranitsas commented on #106
@rootelement this has to be related to the issues we were having with the ES processor which was not picking up the Kafka messages.

[2020-05-04 15:48] rootelement opened #107 "WIP Attachments Fixes"
The challenge api should accept URLs, then stream out requests for those files.

## Tasks
- [ ] Change the attachments object to be `attachments` not `attachmentIds`
- [ ] Change the validation on attachments, and attachment should be an {id: <uuid>, url: }
  - If you post or PUT [{url}, {url}] with no id property It should create those entries with UUIDs
  - If you PUT with an ID, it should updat

[2020-05-04 17:10] kylewu opened #108 "[$60] Update Swagger file"
Please check if swagger file is update to date.
It should reflect current API implementation.

https://github.com/topcoder-platform/challenge-api/blob/code-improvements/docs/swagger.yaml
Please work on code-improvements branch.

And please follow [TCX Challenge Label Rules](https://github.com/topcoder-platform/challenge-api/issues/98)

[2020-05-04 17:13] ThomasKranitsas commented on #108
Contest https://www.topcoder.com/challenges/30124329 has been created for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2020-05-04 17:13] ThomasKranitsas commented on #108
Contest https://www.topcoder.com/challenges/30124329 has been updated - it has been assigned to Narekvar90.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2020-05-05 11:25] ThomasKranitsas commented on #108
Hi @narekcat , can I get an update please?

[2020-05-05 11:38] narekcat commented on #108
Hi @ThomasKranitsas  I am working on it. I'll finish in next 6 hours.

[2020-05-05 11:44] ThomasKranitsas commented on #108
Ok, sounds good. Thank you!

[2020-05-05 13:10] narekcat commented on #108
@ThomasKranitsas I have fixed this issue. Please see pull request https://github.com/topcoder-platform/challenge-api/pull/109

[2020-05-05 14:11] ThomasKranitsas opened #110 "We are doing WRITE operations in the API"
Due to the delay of the ES processor https://github.com/topcoder-platform/challenge-processor-es we moved both create and update operations of challenge into the API to prevent frontend apps from crashing due to invalid data being returned until the processor picks up the event and updates ES.

[2020-05-06 03:55] jmgasper opened #113 "Challenge phases not working properly"
There is one phase in timeline template doesn't exist in all challenge phases (https://api.topcoder-dev.com/v5/challenge-phases):
[code]
the front end can't find the phase with id "6950164f-3c5e-4bdc-abc8-22aaf5a1bd49" in challenge phase so it will ignore this phase.

This phase doesn't come down from this endpoint:
https://api.topcoder-dev.com/v5/challenge-phases

This line seems to be the culpri

[2020-05-06 04:07] rootelement commented on #113
I'm not sure where this issue is specifically caused, but it looks like the update function calls `populatePhases` which uses:
https://github.com/topcoder-platform/challenge-api/blob/develop/src/services/ChallengeService.js#L331

But these .scan( calls are going to bite us. Make sure if you have IDs you're looking up, you should be using the `getById` on each ID and querying the db rather than sca

[2020-05-06 10:39] jmgasper opened #114 "Updating start date of a challenge"
@ThomasKranitsas - If I PATCH the `startDate` of a challenge, it doesn't seem to be updating the phase information automatically to adjust registration and submission to the earlier or later time set.  Is that something we're going to have to do manually?

[2020-05-06 10:46] jmgasper opened #115 "Adding group failing in the challenge API"
@ThomasKranitsas - @rootelement  and I were discussing this one a bit today:

### Currently

I am unable to PATCH in any groups into a challenge.  With `TonyJ`, I can make a request like this:

PATCH `{"groups":["TestGroup"]}`

But the response is always

403 `You don't have access to this group!`

### Expected

We discussed with the Groups API copilot, and we're going to update the groups list to

[2020-05-06 10:51] jmgasper commented on #115
I'm not sure if `ensureAcessibilityToModifiedGroups` is working correctly, but it's a bit convoluted so I can't know for sure.

[2020-05-06 11:47] mark-nakachon commented on #91
Please assign this to me

[2020-05-06 11:49] ThomasKranitsas commented on #91
Contest https://www.topcoder.com/challenges/30124534 has been created for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2020-05-06 11:49] kylewu commented on #91
Are you able to change label yourself?
And please read https://github.com/topcoder-platform/challenge-api/issues/98

[2020-05-06 11:50] ThomasKranitsas commented on #91
Contest https://www.topcoder.com/challenges/30124534 has been updated - it has been assigned to gauravseta.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2020-05-06 11:51] mark-nakachon commented on #91
@Gauravseta @kylewu I was the first person commented but I thought issues will be assigned by owner and I don't know they must be self picked

[2020-05-06 11:52] mark-nakachon commented on #91
😞 I thought they will be assigned by you

[2020-05-06 11:53] ThomasKranitsas commented on #91
Contest https://www.topcoder.com/challenges/30124534 has been updated - it has been assigned to harishchennupa.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2020-05-06 11:54] Gauravseta commented on #91
@mark-nakachon you can take it, I did not see your comment and took it in hurry.

[2020-05-06 11:54] mark-nakachon commented on #91
@ThomasKranitsas @kylewu thanks 😊 I will work on this and if I cannot submit it in time then I will assign it to you @Gauravseta thanks everyone

[2020-05-06 11:55] mark-nakachon commented on #91
Thanks @Gauravseta

[2020-05-06 11:58] kylewu commented on #108
@narekcat thanks!

[2020-05-06 12:36] #99 closed

[2020-05-06 12:39] kylewu opened #116 "[$150] Fix UT"
Please follow readme to get dependencies up.

Update src/models/Challenge.js,  update https://github.com/topcoder-platform/challenge-api/blob/code-improvements/src/models/Challenge.js#L116 to `throughput:{ read: 4, write: 2 }`
then you are able to run `npm run create-tables`

uncomment these two lines
https://github.com/topcoder-platform/challenge-api/blob/code-improvements/config/default.js#L27-L

[2020-05-06 12:47] sjbr commented on #116
Assign this to me

[2020-05-06 12:47] kylewu commented on #116
@sjbr you should do it yourself. it's on the right side

[2020-05-06 12:47] ThomasKranitsas commented on #116
Contest https://www.topcoder.com/challenges/30124535 has been created for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2020-05-06 12:49] sjbr commented on #116
@kylewu I can't assign, the option it's not available for me

[2020-05-06 12:50] kylewu commented on #116
@sjbr could you contact to me in slack, to `wenbin`

[2020-05-06 12:52] ThomasKranitsas commented on #116
Contest https://www.topcoder.com/challenges/30124535 has been updated - it has been assigned to sjbr.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2020-05-06 12:54] kylewu commented on #108
@ThomasKranitsas i think only you have to power to update label

[2020-05-06 14:42] ThomasKranitsas commented on #108
@kylewu is this ready to be paid out?

[2020-05-06 14:44] ThomasKranitsas commented on #113
For now, I have updated the code to return the first 100 instead of 20 by default. This fixed the issue temporarily but we should indeed get rid of `.scan()`

[2020-05-06 14:44] #114 closed

[2020-05-06 15:05] kylewu commented on #108
@ThomasKranitsas yes. Looks good to me. I have merged the PR

[2020-05-06 15:08] #108 closed

[2020-05-06 15:09] ThomasKranitsas commented on #108
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30124329<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2020-05-06 16:44] mark-nakachon commented on #91
@kylewu @Gauravseta I don't find time to do this sorry if I wasted any time @Gauravseta you can pick this up. Thanks

[2020-05-06 16:58] ThomasKranitsas commented on #91
Contest https://www.topcoder.com/challenges/30124534 has been updated - it has been assigned to gauravseta.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2020-05-06 18:15] kylewu commented on #91
@Gauravseta it seems @mark-nakachon assigned the issue back to you. Do you have time to work on this?

[2020-05-06 18:29] Gauravseta commented on #91
@kylewu Yes I wish to work on it,
1. but wanted to know if only challenges endpoints are to be updated or even others in postman collection?
2. Any commit link of the recent changes merged due to which it is failing, so I can take a look at that commit and can complete faster

[2020-05-06 18:59] kylewu commented on #91
@Gauravseta thanks!
Unfortunately, I don't know since when it started to be out synced.
When I tried to solve it, i simply follow the error message, and check validation part in the code.
After checking another issue, i'd raise the prize to 100.

[2020-05-06 20:02] rootelement opened #117 "WIP Fix Track Type Mappings"
- [ ] Update the visibility of unused challenge types (see below)
- [ ] Set up the Seed File to Create ChallengeTypeTimelineTemplate mappings for each track/type
- [ ] Add a track/type default timeline (ie Development Code should have like.. Default Code as it's timeline. That way we can select it out of the gate. I believe this property should live on the ChallengeType table, but i'm not sure.

S

[2020-05-06 22:58] Gauravseta commented on #91
@kylewu I will complete this and update you soon. I will check latest commits on develop and make necessary changes

[2020-05-07 06:28] sjbr commented on #116
Still working on this.
Maybe I can get some extra time to finish

[2020-05-07 07:21] kylewu commented on #116
Due to the amount of errors to fix, it's ok to have another 12 hours.

[2020-05-07 07:27] jmgasper opened #118 "Problem with metadata saving"
@ThomasKranitsas @jmgasper there is one backend problem.

- First time i update allowStockArt and send PATCH request with body:
[code]
-> SUCCESS

- Second time i update submissionsViewable and send PATCH request with body:
[code]
Backend throw error:
[code]

But if i only send new update field it is success but it will replace old value. For example i only send:
[code]
Then after reload page and

[2020-05-07 08:29] #93 closed

[2020-05-07 08:56] ThomasKranitsas commented on #118
Fixed in https://github.com/topcoder-platform/challenge-api/commit/e1f1ef15f21ff90a182039c6b672f23833921a92

[2020-05-07 08:56] #118 closed

[2020-05-07 12:51] Gauravseta commented on #91
@kylewu now you should be able to create challenge https://github.com/topcoder-platform/challenge-api/pull/119

[2020-05-07 13:27] ThomasKranitsas commented on #115
Fixed

[2020-05-07 13:27] #115 closed

[2020-05-07 13:28] ThomasKranitsas commented on #106
Fixed

[2020-05-07 13:28] #106 closed

[2020-05-07 18:22] kylewu commented on #116
@ThomasKranitsas i have accepted @sjbr PR. Please update the label to Accepted. Thanks!

[2020-05-07 20:14] Gauravseta commented on #91
@ThomasKranitsas while updating POSTMAN collection I came across a bug/issue, where

response I get while creating challenge by copilot is

 "message": "\"directProjectId\" is not allowed"

because I guess directProjectId is  not added in validation at this line

https://github.com/topcoder-platform/challenge-api/blob/39036cb6cd837df1f8ae44daef1e1bdb1771e2e0/src/services/ChallengeService.js#L464

[2020-05-07 20:40] Gauravseta commented on #91
@kylewu PR updated can you please check once again if those issues exists? as all are solved and working fine . waiting for your update

[2020-05-08 06:19] kylewu commented on #91
Thanks @Gauravseta ! I've merged your PR.

@ThomasKranitsas could you accept this issue? Meanwhile @Gauravseta mentioned directProjectId is missing in create challenge validation, could you confirm?
It seems valid from the code because directProjectId is in update challenge validation.

[2020-05-09 07:44] kylewu commented on #92
Fixed

[2020-05-09 07:44] #92 closed

[2020-05-09 07:57] #116 closed

[2020-05-09 07:58] ThomasKranitsas commented on #116
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30124535<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2020-05-09 08:04] kylewu opened #123 "[$150] Fix tests"
Branch: code-improvements

There are 9 errors when running `npm run test`.
There are 93 errors when running `npm run e2e`.

Please fix them all.

Here is a previous issue https://github.com/topcoder-platform/challenge-api/issues/116, you can find how to setup the env.

[2020-05-11 15:42] kylewu commented on #123
Open for pickup now

[2020-05-11 15:45] ThomasKranitsas commented on #123
Contest https://www.topcoder.com/challenges/30125122 has been created for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2020-05-11 15:47] ThomasKranitsas commented on #123
Contest https://www.topcoder.com/challenges/30125122 has been updated - it has been assigned to Narekvar90.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2020-05-12 00:22] jmgasper opened #124 "Can't search partial words in challenge name"
We can't seem to search partial words in the challenge name.

### Works and returns lots of `test` challenges:

https://api.topcoder-dev.com/v5/challenges?sortBy=updated&sortOrder=desc&name=test&projectId=6583&status=Active&page=1&perPage=50&memberId=8547899

### Returns an empty array when searching for name=`tes`

https://api.topcoder-dev.com/v5/challenges?sortBy=updated&sortOrder=desc&name=tes&

[2020-05-12 07:44] jmgasper opened #125 "Internal Server Error on POST"
I'm attempting to create a new challenge, and the request is failing with a 500 / `Internal Server Error` response.

Note that a second attempt seemed to work, with the same POST.

@ThomasKranitsas -
Can we include more details about what went wrong in the response please?  Seems like that would help with debugging

### Request

POST  https://api.topcoder-dev.com/v5/challenges
`
{"status":"New","p

[2020-05-12 16:02] narekcat commented on #123
Hello @ThomasKranitsas @kylewu - I have fixed this issue. Please see pull request https://github.com/topcoder-platform/challenge-api/pull/126.

[2020-05-12 18:34] kylewu opened #128 "Integrate Github Actions"
We want to integrate Github Actions to run test and e2e
- in new PR
- in develop branch
- in master branch

Please fork this repo and setup github actions in your own repo to test your action config.

Note:
- The tests run with mocha in this repo. If the test fails, the exit code is 0 instead of 1. This makes the build green even with failed tests. Please make sure this is fixed.
- Do not update a

[2020-05-12 19:43] ThomasKranitsas commented on #128
Contest https://www.topcoder.com/challenges/30125377 has been created for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2020-05-12 19:43] ThomasKranitsas commented on #128
Contest https://www.topcoder.com/challenges/30125377 has been updated - it has been assigned to Narekvar90.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2020-05-12 19:49] kylewu commented on #128
@narekcat thanks for your interest. Although there is a prize in title, we have not added openforpickup label yet. Could you wait a bit?

[2020-05-12 19:50] narekcat commented on #128
@kylewu Sorry, yes I can.

[2020-05-12 20:42] kylewu commented on #123
@ThomasKranitsas I have accepted #126 , could you add `accepted` label for this issue. Thank you!

[2020-05-12 20:51] #123 closed

[2020-05-12 20:52] ThomasKranitsas commented on #123
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30125122<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2020-05-13 09:07] simranb86 commented on #128
@kylewu can we unassign to be fair to others and it becomes available for pick up when it is marked Open for Pickup ? Also could you tag `@ topcoder-platform/tcxcommunity ` when opening for pickup ?

[2020-05-13 10:27] kylewu commented on #128
I have removed the prize in title, taken the label off and unassigned since i have not got confirmation to start this issue.

[2020-05-13 10:29] narekcat commented on #128
@kylewu - I am working on this issue, I just new to GitHub Actions and need to read it's documentations.

[2020-05-13 10:33] narekcat commented on #128
@kylewu - Can I continue to work on this issue ?

[2020-05-13 11:06] kylewu commented on #128
@narekcat thanks for your help.
We need to agree that there was no label with openforpickup.
To be fair to everyone, and to follow #98 I unassigned you.

I hope I could get this approved and then I'll add prize and label. Also I'll leave a comment so everyone could get notification.

Sorry for the inconvenience. I'll not add prize unless I plan to have one issue open, in order to avoid misundersta

[2020-05-13 11:47] narekcat commented on #128
@kylewu Ok, no problem. I understand. It was my mistake I need to check if issue has "tcx_OpenForPickup" label before self-assigning it. I'll pay attention in next issues.
Waiting for new challenges on this project.
Regards.

[2020-05-22 10:05] sushilshinde opened #130 "Listing pages are breaking for the logged in user"
**Steps**

1. Access challenge listing with login user(`dan_developer / dantopcoder123`)
https://test-community-app.topcoder-dev.com/challenges

2. It doesn't load challenges, they were working before but now it has an error in the console
**Call failing :** https://api.topcoder-dev.com/v5/challenges/?status=Active&perPage=50&page=1

**Error :**
{"message":"\"organizationId\" is required"}

**Scre

[2020-05-22 10:45] SathyaJayabal commented on #130
@rootelement , This issue is seen for certain users like dan_developer/appirio123 , tester1234/appirio123 and nithyaasworld/appirio123.

But the challenges are loading fine for some users like TonyJ/appirio123 and Mess/appirio123
cc @sushilshinde

[2020-05-22 17:48] rootelement commented on #130
@SathyaJayabal that's because TonyJ and Mess are administrators. I'd stay away from testing with them. `dan_developer` and `cori_copilot` are probably the best to test with.

[2020-05-23 14:59] rootelement commented on #130
Duyshant was doing testing on the v5 groups api and made `organizationId` required. This has been made optional which unblocks this. Please test again @SathyaJayabal

[2020-05-23 15:58] lakshmiathreya commented on #130
Listing working fine for logged in user dan_developer:
<img width="1652" alt="Screenshot 2020-05-23 at 9 25 54 PM" src="https://user-images.githubusercontent.com/51733042/82735022-3a4dd780-9d3c-11ea-97d5-15fec626d577.png">

[2020-05-23 23:56] luizrrodrigues opened #131 "SRM id is missing in `challenge-types` endpoint"
https://api.topcoder-dev.com/v5/challenge-types

Currently this is hardcoded in the config file of `community-app`.
`SRM_TYPE_ID: '7494c009-b425-45c5-923a-fd3a6ace3196',`

Also if use this ID to filter by `typeId`, the return is empty:
https://api.topcoder-dev.com/v5/challenges?typeId=7494c009-b425-45c5-923a-fd3a6ace3196

[2020-05-23 23:57] luizrrodrigues commented on #131
@rootelement

[2020-05-26 07:40] sushilshinde opened #132 "API doesn't returns metadata for type = screeningScorecardId"
Issues: https://github.com/topcoder-platform/community-app/issues/4412

Analysis: https://github.com/topcoder-platform/community-app/issues/4412#issuecomment-633851086

[2020-05-26 07:49] sushilshinde commented on #130
thanks @rootelement

[2020-05-26 07:49] #130 closed

[2020-05-26 15:33] rootelement commented on #132
Not a challenge api issue. This would be pending the scorecard api release. Call v4 to get that information for now, and log it as a tech debt issue on the community app for after the scorecard api release.

[2020-05-26 15:33] #132 closed

[2020-05-26 15:33] rootelement commented on #132
Sorry, related comment on other repo:
https://github.com/topcoder-platform/community-app/issues/4412#issuecomment-634099997

[2020-05-26 15:38] rootelement commented on #131
When we populated the challenge types, we pulled the values from:
https://api.topcoder-dev.com/v4/challenge-types

I don't see SRM as a type there. I could go into the db and pull it. Give me a little bit to dig around.

[2020-05-27 02:34] rootelement commented on #74
This is closed. On migration, it's appended to description.

[2020-05-27 02:34] #74 closed

[2020-05-27 02:39] rootelement commented on #71
Fixed:
http://api.topcoder.com/v5/challenges/83aba4a2-2166-4672-996a-9486a9a267fb

[2020-05-27 02:39] #71 closed

[2020-05-27 02:40] rootelement commented on #76
We have numberOfRegistrants and numberOfSubmissions.

[2020-05-27 02:40] #76 closed

[2020-05-27 10:40] sushilshinde opened #133 "environment and codeRepo fields are missing"
Related to https://github.com/topcoder-platform/community-app/issues/4428

[V4 Call](https://api.topcoder-dev.com/v4/challenges/30051802) bring these details which **direct** fields

[code]

These files are missing on v5

http://api.topcoder-dev.com/v5/challenges/a917675b-950f-4f62-aa72-d543f49798e1

[2020-05-27 16:12] rootelement opened #134 "[$50] Filter on Group IDs"
We need to filter challenges on lists of UUIDs which will be difficult with Query String length limitations

- [x] Implement the ability to pass a GET body with an array of Group IDs
- [x] Update Swagger

[2020-05-27 16:14] ThomasKranitsas commented on #134
Contest https://www.topcoder.com/challenges/30126921 has been created for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2020-05-27 16:14] rootelement commented on #134
@narekcat please make sure Linting passes and make a PR against develop

[2020-05-27 16:15] narekcat commented on #134
@rootelement - Ok.

[2020-05-27 16:15] ThomasKranitsas commented on #134
Contest https://www.topcoder.com/challenges/30126921 has been updated - it has been assigned to Narekvar90.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2020-05-27 18:52] narekcat commented on #134
@rootelement - I have fixed this issue. Please see pull request https://github.com/topcoder-platform/challenge-api/pull/136

[2020-05-28 05:38] rootelement commented on #133
This is fixed in dev, will be migrated in prod soon.

You can see them here, in the metadata object:
http://api.topcoder-dev.com/v5/challenges/7028a2fb-694b-4d4b-bac6-8def4ee3fc9b

Currently Migrated Possible Values are:
- digitalRunPoints
- submissionLimit
- allowStockArt
- submissionsViewable
- environment
- codeRepo
- filetypes
- isBanner

[2020-05-28 05:39] rootelement commented on #131
@ajefts can you weigh in here? I'm not sure what we're supposed to do if there's no type for an SRM.

[2020-05-28 20:03] rootelement commented on #134
Thanks @narekcat

[2020-05-28 20:03] #134 closed

[2020-05-28 20:04] ThomasKranitsas commented on #134
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30126921<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2020-05-28 20:12] rootelement opened #137 "[$150] Set up Migration Framework"
Issue on Migration repo:
https://github.com/topcoder-platform/legacy-challenge-migration-script/issues/19

[2020-05-28 20:12] rootelement commented on #137
This is not open for pickup, this is a payout challenge. Please don't assign yourself.

[2020-05-28 20:14] ThomasKranitsas commented on #137
Contest https://www.topcoder.com/challenges/30127037 has been created for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2020-05-28 20:14] ThomasKranitsas commented on #137
Contest https://www.topcoder.com/challenges/30127037 has been updated - it has been assigned to thomaskranitsas.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2020-05-28 20:15] rootelement commented on #137
Thanks for the work @ThomasKranitsas

[2020-05-28 20:15] #137 closed

[2020-05-28 20:17] ThomasKranitsas commented on #137
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30127037<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2020-05-29 17:24] ajefts commented on #131
There was never a concept of a type for SRMs in that data model since it's a completely separate data model.  I know the current site uses https://api.topcoder.com/v4/srms/ to get SRMs.

[2020-05-29 17:34] rootelement commented on #131
Calls for SRMs will have to stay pointed at v4. This was supposed to be broken out into its own API but hasn't been.
cc: @cwdcwd

[2020-05-30 20:55] rootelement opened #138 "[$400] Refactor Dynamo Models to ES"
Challenge

- [ ] ChallengeType
- [ ] ChallengeTypeTimelineTemplate
- [ ] Phase
- [ ] TimelineTemplate
Resource
- [ ] ResourceRole
- [ ] ResourceRolePhaseDependency

Make sure
- The APIs don't change
- You can logically search GET on values
- A linting passes
- You can make a branch of dev on each repo to work against

The only thing that should change is the services. The APIs for those should sta

[2020-05-30 20:57] ThomasKranitsas commented on #138
Contest https://www.topcoder.com/challenges/30127224 has been created for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2020-05-31 13:11] ThomasKranitsas commented on #138
Contest https://www.topcoder.com/challenges/30127224 has been updated - it has been assigned to thomaskranitsas.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2020-06-01 10:29] sushilshinde opened #140 "Registered users are not returned"
https://github.com/topcoder-platform/community-app/issues/4380#issuecomment-636275265

[2020-06-01 10:30] sushilshinde opened #141 "Registered users are not returned"
https://github.com/topcoder-platform/community-app/issues/4380#issuecomment-636275265

[2020-06-01 10:36] sushilshinde commented on #141
dup

[2020-06-01 10:36] #141 closed

[2020-06-01 10:41] sushilshinde opened #142 "v5 results not matching with v4"
https://github.com/topcoder-platform/community-app/issues/4406#issuecomment-636445477

[2020-06-01 10:47] sushilshinde opened #143 "Challenge Spec is missing for design challenges"
https://github.com/topcoder-platform/community-app/issues/4450

[2020-06-01 11:04] sushilshinde opened #144 "Tags are not returned by api"
https://github.com/topcoder-platform/community-app/issues/4449#issuecomment-636787552

[2020-06-01 11:08] sushilshinde opened #145 "Checkpoint prizes aren't returned by API"
https://github.com/topcoder-platform/community-app/issues/4448

[2020-06-01 11:57] sushilshinde commented on #133
[code]

Not showing

[2020-06-01 12:30] SathyaJayabal opened #146 "Challenge phases returned by api do not match V4 phases"
https://github.com/topcoder-platform/community-app/issues/4447

[2020-06-01 13:08] ThomasKranitsas commented on #138
https://github.com/topcoder-platform/resources-api/pull/27

[2020-06-01 15:08] mtwomey commented on #143
Required to resolve P0 issue: https://github.com/topcoder-platform/community-app/issues/4450

[2020-06-01 20:23] rootelement commented on #133
I'm still working through migration, but this is confirmed fixed in the latest version:
http://api.topcoder-dev.com/v5/challenges?legacyId=30051802
http://api.topcoder-dev.com/v4/challenges/30051802

Note - I'm re-migrating challenges, so UUIDs may have changed.

[2020-06-01 20:26] rootelement commented on #143
Confirmed fixed. Posted on other issue
https://github.com/topcoder-platform/community-app/issues/4450#issuecomment-637084072

[2020-06-02 02:15] rootelement commented on #145
These are visible now:
http://api.topcoder-dev.com/v5/challenges?legacyId=30048648

[2020-06-02 02:16] rootelement commented on #146
Confirmed Fixed:
http://api.topcoder-dev.com/v4/challenges/30048648
http://api.topcoder-dev.com/v5/challenges?legacyId=30048648

[2020-06-02 02:17] rootelement commented on #144
Tags are brought over from v4 by the technologies and platforms sections. Those are combined into the Tags on v5. Events are in the metadata object

Example of tags:
http://api.topcoder-dev.com/v5/challenges?legacyId=30056661

Example of events:
http://api.topcoder-dev.com/v5/challenges?legacyId=30051173

[2020-06-02 02:18] rootelement commented on #142
This will be reviewed when migration is complete

[2020-06-02 06:21] SathyaJayabal commented on #146
@rootelement , the phases are good in the  api response, but http://api.topcoder-dev.com/v5/challenges?legacyId=30048648 does not return new V5 id for the challenge, so not able to verify the phases on the challenge details page.

For example for this challenge we can see the new id returned. Which we use to create the V5 challenge detail url
https://api.topcoder.com/v5/challenges?legacyId=3010818

[2020-06-02 10:05] ThomasKranitsas commented on #146
@SathyaJayabal I see the ID of the challenge just fine in the sample call you sent

[2020-06-02 10:10] SathyaJayabal commented on #146
@ThomasKranitsas , I see the ID is under metadata now.

[2020-06-02 10:22] SathyaJayabal commented on #146
@sushilshinde @ThomasKranitsas @rootelement , phases look good in dev.
<img width="1440" alt="Screenshot 2020-06-02 at 3 49 45 PM" src="https://user-images.githubusercontent.com/58783823/83509287-d28c4f00-a4e8-11ea-9478-8f449306e05a.png">

[2020-06-02 10:23] ThomasKranitsas commented on #146
@SathyaJayabal can you please paste the API response you're getting here? I see the ID of the challenge just fine and **not** under metadata as you're saying.

[2020-06-02 10:36] SathyaJayabal commented on #146
@ThomasKranitsas , I am sorry, it is not under metadata, but below it. Initially the id was displayed on top like in
https://api.topcoder.com/v5/challenges?legacyId=30108180
But now (in dev) it is displayed below the meta data and so I missed it. Example:
http://api.topcoder-dev.com/v5/challenges?legacyId=30048648

Sorry for the confusion.

[2020-06-02 14:02] luizrrodrigues commented on #131
@rootelement So to confirm here, we going to use API v5 to get SRMs?

[2020-06-02 14:05] luizrrodrigues commented on #140
@sushilshinde I'm working in this one, I'll get registrants from `resources_api` : https://github.com/topcoder-platform/community-app/issues/4381#issuecomment-634360658

[2020-06-02 14:15] rootelement commented on #140
I'm testing registration locally. Keep in mind there is logic in the resources api that:
 - If you're registering a submitter (dev UUID `732339e7-8e30-49d7-9198-cccf9451e221`), there has to be a registration phase, the property on that phase `isOpen` has to be `true`, *and* the current date/time has to be between that phase's `scheduledStartDate` and `scheduledEndDate` or `actualStartDate` and `ac

[2020-06-02 14:28] luizrrodrigues commented on #140
@rootelement I'm follow these step to register in a challenge.

Note: The register process what I mean, is about a member (copilot or user) going to challenge details e want to register.

1- Get `submitter` role from **resources_api**: https://api.topcoder-dev.com/v5/resource-roles?name=Submitter&isActive=true

2- Get ID from returned data: `732339e7-8e30-49d7-9198-cccf9451e221`

3- Send register

[2020-06-02 14:36] rootelement commented on #140
Correct. And that will succeed if all criteria is met. Can you send me a UUID of a v5 challenge you're trying to register on?

[2020-06-02 15:17] luizrrodrigues commented on #140
Wait, on my side I see this working well. The register button keeps showing because currently call get challenge details this not return `registrants` (I mean, via **challenges_api**), but as you said before the registrants need be called via **resources_api** and I'm working that.

What I'm saying above to @sunildahiya is about this not an API problem :)

[2020-06-02 15:20] rootelement commented on #131
No, we'll have to remain calling the v4 api for now until this is taken
care of at a later date.

On Tue, Jun 2, 2020 at 10:02 AM Luiz Ricardo Rodrigues <
notifications@github.com> wrote:

--

James Cori
Lead Software Engineer
jcori@topcoder.com / 413.961.9044 / @jamesmcori
<https://twitter.com/jamesmcori>

<cbonner@topcoder.com>www.topcoder.com <http://topcoder.com/> / Topcoder
Blog: topcoder.com

[2020-06-02 16:28] rootelement commented on #140
I'll leave it to @sushilshinde to close this

[2020-06-02 17:06] rootelement commented on #131
@sushilshinde  This is not an api issue. This is a function of a different api. V4 will remain for now.

[2020-06-02 17:07] sushilshinde commented on #131
Yes we agree on that

[2020-06-03 11:53] sushilshinde commented on #140
I'm convinced it's not a challenge API issue.

[2020-06-03 11:58] vikasrohit opened #147 "Challenges are not returned for its resources as well"
We are making following call to fetch challenges
[code]
But it is not returning the project with id `4975bfbd-2f19-411f-9c8c-b3c2302fb74c` while the user with id `22688955` is part of the resources of the project as can be seen with following call:
[code]

[2020-06-04 07:24] rootelement commented on #147
@ThomasKranitsas can you pick this up?

[2020-06-04 07:43] ThomasKranitsas commented on #147
@rootelement sure

[2020-06-06 09:24] SathyaJayabal opened #148 "MM challenges not migrated in prod backend"
I dont see any Marathon match contest in prod backend after the latest data migration.
Looks like none of the MM challenges were migrated. Examples of challenges I could not find in V5
https://www.topcoder.com/challenges/30127161
https://www.topcoder.com/challenges/30126597
https://www.topcoder.com/challenges/30122959
https://www.topcoder.com/challenges/30123028
https://www.topcoder.com/challenges

[2020-06-06 10:16] SathyaJayabal opened #149 "Migration Issues: Production Backend"
@rootelement , Many of the challenges are not present on V5 after the latest migration.

examples:
All challenges under Challenges section
https://beta-community-app.topcoder.com/community/stayhome
These two were present before, but missing after the latest migration,
https://www.topcoder.com/challenges/30126024
https://www.topcoder.com/challenges/30108180

[2020-06-06 11:50] SathyaJayabal commented on #149
Few more examples:
https://www.topcoder.com/challenges/30120712
https://www.topcoder.com/challenges/30126528

[2020-06-08 11:30] #146 closed

[2020-06-08 11:32] SathyaJayabal commented on #143
https://github.com/topcoder-platform/community-app/issues/4450#issuecomment-640029180

[2020-06-08 11:33] #145 closed

[2020-06-08 11:34] #133 closed

[2020-06-08 11:35] #144 closed

[2020-06-08 11:47] #140 closed

[2020-06-08 11:49] #131 closed

[2020-06-08 13:41] rootelement opened #150 "[$250] Test Processors"
Make sure you review the data model changes in v5 and review the JOI and stuff for creating a challenge. Some things slightly changed.

- [x] Create a challenge using v5 API, make sure it goes back into v4 correctly
- [x] Review the legacy processor to make sure the updated properties correctly update v5 data (not the legacy migration script, but calls from the legacy processor to v5)

[2020-06-08 15:45] rootelement commented on #149
Please double check this in prod, I'm seeing them fine:
http://api.topcoder.com/v5/challenges?legacyId=30126597
http://api.topcoder.com/v5/challenges?legacyId=30126024
http://api.topcoder.com/v5/challenges?legacyId=30108180

[2020-06-08 16:39] SathyaJayabal commented on #149
@rootelement , I can see these challenges now.
You can see the below example was not available when last verified on Saturday.
<img width="1440" alt="migration example" src="https://user-images.githubusercontent.com/58783823/84056695-34125900-a9d4-11ea-8b25-fcf7c8564e22.png">

But now, I can see the data in api response for the same challenge. I will test the other challenges tomorrow and close th

[2020-06-08 23:41] luizrrodrigues opened #151 "`/v5/challenges?memberId=XXX&status=Active` returning empty data"
[code]

`40152905` is **dan_developer**

Registered in this challenge:
https://test-community-app.topcoder-dev.com/challenges/69ae395a-0a4c-4057-b480-78494005fb39

[2020-06-09 11:37] ThomasKranitsas commented on #150
@rootelement testing is blocked because of https://github.com/topcoder-platform/challenge-engine-ui/issues/686

Should I use the API directly to create challenges?

[2020-06-09 12:15] sushilshinde commented on #151
@luizrrodrigues please open this issue on challenge-api repo

[2020-06-09 14:25] ThomasKranitsas commented on #150
The above has been fixed but the /challenge-types endpoint returns empty array `[]`. Can you please check this?

[2020-06-09 15:45] rootelement opened #153 "[$20] Change Default Duration"
Fix default duration

https://github.com/topcoder-platform/challenge-api/pull/152

[2020-06-09 15:47] ThomasKranitsas commented on #153
Contest https://www.topcoder.com/challenges/30129000 has been created for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2020-06-09 15:49] ThomasKranitsas commented on #153
Contest https://www.topcoder.com/challenges/30129000 has been updated - it has been assigned to thomaskranitsas.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2020-06-09 16:33] rootelement commented on #138
Closing this out, but will open another issue to update this branch to current develop, and add models in dynamo/es like other objects.

[2020-06-09 16:33] #138 closed

[2020-06-09 16:34] ThomasKranitsas commented on #138
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30127224<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2020-06-09 16:36] rootelement opened #154 "Move Support Objects to Dynamo/ES"
Extension of this issue: https://github.com/topcoder-platform/challenge-api/issues/138

We converted over to ES, but it needs to follow the same dynamo-backed, ES-fronted system of other objects. We need to:

- [ ] Cherry pick the dynamo models back into the equation in Challenge and Resources API
- [ ] Write changes to Dynamo and post an event to update ES
- [ ] Update ES using the ES processor (

[2020-06-09 16:43] rootelement commented on #151
This was fixed. Please close if you agree @luizrrodrigues

[2020-06-09 16:44] #153 closed

[2020-06-09 16:44] ThomasKranitsas commented on #153
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30129000<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2020-06-09 16:55] luizrrodrigues commented on #151
Yep, fixed.
Thanks

[2020-06-09 16:55] #151 closed

[2020-06-09 18:10] ThomasKranitsas opened #155 "[$20] I can't create New challenge if terms are missing"
If `terms` is missing. The API throws Internal server error. I need to add it as an empty array to get passed this error.

The API should consider the missing property as being empty instead of throwing error.

cc @rootelement

[2020-06-09 18:13] ThomasKranitsas commented on #155
PR: https://github.com/topcoder-platform/challenge-api/pull/156

[2020-06-09 18:18] ThomasKranitsas opened #157 "[$30] Legacy processor is not reading the prizeSets correctly"
V5: http://api.topcoder-dev.com/v5/challenges/14cecae1-2646-43be-8804-d9f4cd668f05
v4: http://api.topcoder-dev.com/v4/challenges/30056710

The legacy processor did not read the challenge prizes correctly so the challenge on legacy has prizes [0] instead of [500, 250]

cc @rootelement

[2020-06-09 18:19] ThomasKranitsas commented on #157
PR: https://github.com/topcoder-platform/legacy-challenge-processor/pull/11

[2020-06-09 18:28] ThomasKranitsas opened #158 "Missing billing account causes the legacy challenge activation to fail"
When activating a legacy challenge the legacy processor throws 500 error because of missing billing account (`Billing/PO Number is null/empty`.)

As a temporary solution, the V5 Challenge API will call the `https://api.topcoder.com/v3/direct/projects/<directProjectId>` endpoint to fetch the billing account for the given project ID.

If the billing account does not exist, it'll not let you set the

[2020-06-09 18:59] ThomasKranitsas commented on #158
Legacy processor PR: https://github.com/topcoder-platform/legacy-challenge-processor/pull/12
V5 API PR: https://github.com/topcoder-platform/challenge-api/pull/159

[2020-06-09 19:06] ThomasKranitsas commented on #155
Contest https://www.topcoder.com/challenges/30129016 has been created for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2020-06-09 19:06] ThomasKranitsas commented on #155
Contest https://www.topcoder.com/challenges/30129016 has been updated - it has been assigned to thomaskranitsas.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2020-06-09 19:07] rootelement opened #160 "[$50] Fix Billing Accounts"
Original Tech Debt Issue: https://github.com/topcoder-platform/challenge-api/issues/158

Legacy processor PR: topcoder-platform/legacy-challenge-processor#12
V5 API PR: #159

[2020-06-09 19:08] ThomasKranitsas commented on #157
Contest https://www.topcoder.com/challenges/30129019 has been created for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2020-06-09 19:08] ThomasKranitsas commented on #157
Contest https://www.topcoder.com/challenges/30129019 has been updated - it has been assigned to thomaskranitsas.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2020-06-09 19:09] ThomasKranitsas commented on #160
Contest https://www.topcoder.com/challenges/30129020 has been created for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2020-06-09 19:09] ThomasKranitsas commented on #160
Contest https://www.topcoder.com/challenges/30129020 has been updated - it has been assigned to thomaskranitsas.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2020-06-09 19:09] #157 closed

[2020-06-09 19:10] #160 closed

[2020-06-09 19:12] ThomasKranitsas commented on #157
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30129019<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2020-06-09 19:14] ThomasKranitsas commented on #160
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30129020<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2020-06-09 19:17] ThomasKranitsas opened #161 "[$60] Sanitize challenge object on PUT/PATCH"
We need to sanitize the challenge object so we can have an API 101 and be able to:
- fetch a challenge
- modify something
- submit the same object

cc @rootelement

[2020-06-09 19:29] #155 closed

[2020-06-09 19:29] ThomasKranitsas commented on #155
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30129016<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2020-06-09 23:16] ThomasKranitsas commented on #161
PR: https://github.com/topcoder-platform/challenge-api/pull/162

[2020-06-11 01:50] rootelement commented on #150
This is no longer blocked, right?
http://api.topcoder-dev.com/v5/challenge-types

[2020-06-11 03:14] simranb86 opened #163 "Add filters for registrationOpen and startDate"
We should be able to filter challenges by passing flags like
- registrationOpen (true  - all challenges which has registration phase as isOpen should be returned else false - all challenges which has registration page isOpen as false should be returned)
- startDate (return challenges where registration/challenge startDate is before provided date)

We will use this in frontend by passing combinatio

[2020-06-11 03:14] simranb86 commented on #163
blocks https://github.com/topcoder-platform/community-app/issues/4488

[2020-06-11 08:28] ThomasKranitsas commented on #150
That's right.

[2020-06-11 18:24] ThomasKranitsas opened #164 "[$25] The legacy challenge processor is not creating tasks correctly"
[code]

This is because we need to use `FIRST_2_FINISH` instead of `TASK` on the legacy system.

cc @rootelement

[2020-06-11 18:26] ThomasKranitsas commented on #164
Fixed in https://github.com/topcoder-platform/legacy-challenge-processor/commit/a5f5e7efba554f1ad0d54367f4bc8e627f2ac13e

[2020-06-11 19:03] ThomasKranitsas commented on #150
I tested the following:
### Challenge creation with status `New`
- [x] The legacy processor skips the event
### Challenge creation with status `Draft`
- [x]  The legacy processor creates the challenge on legacy and updates v5 with legacy information
### Updating a challenge that exists on legacy
- [x]  The legacy processor updates the challenge on legacy
### Activating a challenge
- [x]  The legac

[2020-06-12 05:29] #149 closed

[2020-06-12 05:29] #148 closed

[2020-06-12 05:34] SathyaJayabal opened #165 "User Registrations are not migrated from V4 to V5"
The users are registered to various challenges in V4. After migration to V5 this registration data is not carried over. For example, user dan_developer / topcoder123 is registered to 63 challenges on V4 (dev). But only a couple of challenges is returned by the V5 challenge  api for this user.

cc @sushilshinde

[2020-06-12 08:34] sushilshinde opened #166 "There is no checkpoints array present in v5"
https://github.com/topcoder-platform/community-app/issues/4516#issuecomment-642988160

[2020-06-12 08:36] sushilshinde commented on #143
thanks @rootelement

[2020-06-12 08:36] #143 closed

[2020-06-12 17:31] ThomasKranitsas opened #168 "[$50] Validate winners"
The API needs to validate if the selected winners are actually registered on the challenge.

Currently, I can select as the winner a member who's not registered on the challenge and this causes issues with the legacy processor.

cc @rootelement

[2020-06-12 17:36] ThomasKranitsas commented on #161
Contest https://www.topcoder.com/challenges/30129612 has been created for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2020-06-12 17:36] ThomasKranitsas commented on #161
Contest https://www.topcoder.com/challenges/30129612 has been updated - it has been assigned to thomaskranitsas.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2020-06-12 18:13] ThomasKranitsas commented on #168
PR: https://github.com/topcoder-platform/challenge-api/pull/169

[2020-06-12 19:39] ThomasKranitsas opened #170 "[$40] Resources are not created on legacy"
When registering a member using the V5 API, the legacy-resource-processor is not creating the resource on the legacy system.

This means I need to manually add the member via OR.

cc @rootelement

[2020-06-15 14:53] #161 closed

[2020-06-15 14:53] ThomasKranitsas commented on #161
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30129612<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2020-06-15 14:58] ThomasKranitsas commented on #164
Contest https://www.topcoder.com/challenges/30129809 has been created for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2020-06-15 14:58] ThomasKranitsas commented on #164
Contest https://www.topcoder.com/challenges/30129809 has been updated - it has been assigned to thomaskranitsas.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2020-06-15 14:58] ThomasKranitsas commented on #168
Contest https://www.topcoder.com/challenges/30129810 has been created for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2020-06-15 14:58] ThomasKranitsas commented on #168
Contest https://www.topcoder.com/challenges/30129810 has been updated - it has been assigned to thomaskranitsas.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2020-06-15 15:11] ThomasKranitsas opened #171 "[$100] Legacy processors should retry until legacy data is available"
Due to the issue with the delay on legacy DBs to get in sync, the syncing between V5 and V4 may not work if we make changes on a challenge on V5 faster than V4 gets synced.

Both the https://github.com/topcoder-platform/legacy-challenge-processor and the https://github.com/topcoder-platform/legacy-challenge-resource-processor should check if the challenge is available on V4 and:
- if it is, it sho

[2020-06-15 15:19] #164 closed

[2020-06-15 15:20] #168 closed

[2020-06-15 15:20] ThomasKranitsas commented on #164
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30129809<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2020-06-15 15:20] ThomasKranitsas opened #172 "[$30] Resource API - allow optional auth in routes"
Add support to use optional authentication in routes.

We should be able to set an `allowAnonymous` property along with the rest of the authentication configurations in the route definition and that should make the auth optional for that particular route.

cc @rootelement

[2020-06-15 15:22] ThomasKranitsas commented on #168
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30129810<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2020-06-15 15:31] ThomasKranitsas commented on #172
PR https://github.com/topcoder-platform/resources-api/pull/32

[2020-06-15 16:34] ThomasKranitsas commented on #170
Contest https://www.topcoder.com/challenges/30129827 has been created for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2020-06-15 16:34] ThomasKranitsas commented on #170
Contest https://www.topcoder.com/challenges/30129827 has been updated - it has been assigned to thomaskranitsas.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2020-06-15 17:06] ThomasKranitsas commented on #150
## Test results using the UI
- https://github.com/topcoder-platform/challenge-engine-ui/issues/690
- https://github.com/topcoder-platform/challenge-engine-ui/issues/691
- https://github.com/topcoder-platform/challenge-engine-ui/issues/692
- https://github.com/topcoder-platform/challenge-engine-ui/issues/693

[2020-06-15 17:08] ThomasKranitsas opened #173 "[$20] The legacy processor should use the submission phase if registration phase is not available"
Currently, challenge of type `TASK` don't have a registration phase on v5 so the legacy processor fails to backfill data in v4.

It should use the submission phase if the registration phase is not available.

[2020-06-15 17:10] ThomasKranitsas commented on #173
PR https://github.com/topcoder-platform/legacy-challenge-processor/pull/13

[2020-06-16 14:58] rootelement opened #174 "[$15] Fix Resource API Registration Failure"
Comment in Slack, member couldn't register themselves. Fixed in
https://github.com/topcoder-platform/resources-api/commit/d0df3a510bb7388f02524c05162ce5e9ca7dfeb3

[2020-06-16 14:59] rootelement commented on #170
Fixed
https://github.com/topcoder-platform/legacy-challenge-resource-processor/commit/f6f5f5043269ff8078869495dee69e61dbc99779

[2020-06-16 15:01] ThomasKranitsas commented on #174
Contest https://www.topcoder.com/challenges/30129934 has been created for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2020-06-16 15:01] ThomasKranitsas commented on #173
Contest https://www.topcoder.com/challenges/30129935 has been created for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2020-06-16 15:01] ThomasKranitsas commented on #173
Contest https://www.topcoder.com/challenges/30129935 has been updated - it has been assigned to thomaskranitsas.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2020-06-16 15:01] rootelement opened #175 "[$200] Copilot Payment for v5 Challenge API Work"
Time spent on v5 api
Running tasks to fix testing, build, and documentation

[2020-06-16 15:01] ThomasKranitsas commented on #172
Contest https://www.topcoder.com/challenges/30129936 has been created for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2020-06-16 15:02] ThomasKranitsas commented on #172
Contest https://www.topcoder.com/challenges/30129936 has been updated - it has been assigned to thomaskranitsas.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2020-06-16 15:02] ThomasKranitsas commented on #174
Contest https://www.topcoder.com/challenges/30129934 has been updated - it has been assigned to thomaskranitsas.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2020-06-16 15:03] ThomasKranitsas commented on #170
Payment failed: [500]: Failed to get challenge details by Id<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2020-06-16 15:03] ThomasKranitsas commented on #175
Contest https://www.topcoder.com/challenges/30129937 has been created for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2020-06-16 15:04] #174 closed

[2020-06-16 15:04] rootelement commented on #170
Trying again

[2020-06-16 15:04] ThomasKranitsas commented on #174
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30129934<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2020-06-16 15:06] rootelement opened #176 "[$500] Copilot Payment for April & May Work"
- Run TCX issues
 - Do development on apis
 - Fix documentation
 - Run testing scenarios

[2020-06-16 15:08] ThomasKranitsas commented on #176
Contest https://www.topcoder.com/challenges/30129939 has been created for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2020-06-16 15:08] ThomasKranitsas commented on #170
Payment failed: [500]: Failed to get challenge details by Id<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2020-06-16 15:13] ThomasKranitsas opened #177 "[$20] Add support for searching challenge by type name"
Add support for a `type` parameter in the `GET /challenges` endpoint to search challenges based on the `Type.abbreviation`

Ref https://github.com/topcoder-platform/community-app/issues/4527

cc @rootelement

[2020-06-16 15:23] ThomasKranitsas commented on #177
PR https://github.com/topcoder-platform/challenge-api/pull/178

[2020-06-16 17:23] ThomasKranitsas opened #179 "[$50] Terms API should allow calls with M2M/admin token"
Update the Terms API to allow calls to `GET /terms/:termOfUseId` with M2M/admin token.

- Calls with M2M token will require a `userId` parameter
- Calls with admin token accept an optional `userId` parameter other the `userId` from the decoded JWT is used by default

cc @rootelement

[2020-06-16 17:23] ThomasKranitsas commented on #179
PR: https://github.com/topcoder-platform/terms-service/pull/25

[2020-06-16 17:28] ThomasKranitsas commented on #179
Contest https://www.topcoder.com/challenges/30129962 has been created for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2020-06-16 18:18] ThomasKranitsas commented on #171
PR for the Legacy processor: https://github.com/topcoder-platform/legacy-challenge-processor/pull/14

PR for the legacy resource processor: https://github.com/topcoder-platform/legacy-challenge-resource-processor/pull/9

[2020-06-16 19:13] ThomasKranitsas commented on #176
Contest https://www.topcoder.com/challenges/30129939 has been updated - it has been assigned to thomaskranitsas.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2020-06-16 19:13] #179 closed

[2020-06-16 19:14] ThomasKranitsas commented on #179
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30129962<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2020-06-17 04:08] rootelement commented on #170
... trying again

[2020-06-17 04:12] ThomasKranitsas commented on #170
Payment failed: [500]: Failed to get challenge details by Id<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2020-06-17 14:12] rootelement commented on #170
one more time!

[2020-06-17 14:16] ThomasKranitsas commented on #170
Payment failed: [500]: Failed to get challenge details by Id<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2020-06-17 18:18] ThomasKranitsas commented on #171
Contest https://www.topcoder.com/challenges/30130270 has been created for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2020-06-17 18:18] ThomasKranitsas commented on #171
Contest https://www.topcoder.com/challenges/30130270 has been updated - it has been assigned to thomaskranitsas.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2020-06-18 17:12] rootelement commented on #170
Fixed the tags on the challenge. trying again.

[2020-06-18 17:16] ThomasKranitsas commented on #170
Payment failed: [500]: Failed to activate challenge. Detail: javax.ejb.EJBTransactionRolledbackException<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2020-06-18 18:26] #171 closed

[2020-06-18 18:27] ThomasKranitsas commented on #171
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30130270<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2020-06-18 18:30] #173 closed

[2020-06-18 18:30] #172 closed

[2020-06-18 18:30] ThomasKranitsas commented on #173
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30129935<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2020-06-18 18:30] ThomasKranitsas commented on #172
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30129936<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2020-06-18 18:32] rootelement commented on #150
Please test more from both sides:

- [ ] Create a challenge in v5, make sure the challenge and resources end up correctly in v4.
- [ ] Create a challenge in v4, make sure it comes forward into v5 with appropriate data points.

[2020-06-18 18:33] rootelement commented on #125
I believe this can be closed

[2020-06-18 18:33] #125 closed

[2020-06-18 18:34] rootelement commented on #105
This is fixed. The Create/Update function on Challenge API now "sanitizes" fields that it does not want to process.

[2020-06-18 18:34] #105 closed

[2020-06-18 18:36] rootelement opened #180 "Metadata "Helper""
In v5, build out metadata that can be displayed on the UI. Metadata should:

- [ ] Be able to be global, applies to any user or challenge type
- [ ] Be associated with a Challenge type (only for Develop challenges)
- [ ] Be associated with a Group (only available to Wipro)

[2020-06-18 18:36] rootelement commented on #97
Fixed in latest deployments

[2020-06-18 18:36] #97 closed

[2020-06-18 18:37] #96 closed

[2020-06-18 18:37] #95 closed

[2020-06-18 18:37] rootelement commented on #91
This is going to be paid out by support shortly.

[2020-06-18 18:38] rootelement commented on #84
We are reworking how attachments work using Filestack. This is captured in #107

[2020-06-18 18:38] #84 closed

[2020-06-18 18:38] rootelement commented on #82
Changing how attachments work in #107

[2020-06-18 18:38] #82 closed

[2020-06-18 18:39] #80 closed

[2020-06-18 18:39] #81 closed

[2020-06-18 18:39] #72 closed

[2020-06-18 18:39] #73 closed

[2020-06-18 18:39] #75 closed

[2020-06-18 18:40] #47 closed

[2020-06-18 18:41] #48 closed

[2020-06-18 18:42] rootelement commented on #59
now using moment().utc() on everything.

[2020-06-18 18:42] #59 closed

[2020-06-18 18:42] #41 closed

[2020-06-18 18:43] rootelement commented on #40
@ThomasKranitsas can you test this?

[2020-06-18 18:43] rootelement commented on #37
Is this relevant @ThomasKranitsas ?

[2020-06-18 18:44] rootelement commented on #35
@ThomasKranitsas Is this fixed?

[2020-06-18 18:45] rootelement commented on #34
We are going to simplify the Types so they apply across tracks. This isn't an issue.

[2020-06-18 18:45] #34 closed

[2020-06-18 18:47] rootelement commented on #7
This will be taken care of in #107

[2020-06-18 18:47] #7 closed

[2020-06-18 18:47] rootelement commented on #107
AV Scan Repo, if necessary:
https://github.com/topcoder-platform/challenge-api/issues/7#issuecomment-517367936

[2020-06-18 18:48] ThomasKranitsas commented on #35
@rootelement yes, I have already implemented this

[2020-06-18 18:50] ThomasKranitsas commented on #37
yes, I believe we still need this but this will require data model updates.

Example, both the registration and submission phases can be open at the same time.

[2020-06-18 18:50] ThomasKranitsas commented on #177
Contest https://www.topcoder.com/challenges/30130353 has been created for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2020-06-18 18:50] ThomasKranitsas commented on #177
Contest https://www.topcoder.com/challenges/30130353 has been updated - it has been assigned to thomaskranitsas.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2020-06-18 18:54] ThomasKranitsas commented on #27
The sample API call works now.

@jmgasper can you help to reproduce this issue?

[2020-06-18 18:59] #177 closed

[2020-06-18 18:59] #35 closed

[2020-06-18 18:59] ThomasKranitsas commented on #177
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30130353<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2020-06-18 19:00] rootelement commented on #170
Challenge closed out via direct #30129827

[2020-06-18 19:00] #170 closed

[2020-06-18 19:00] ThomasKranitsas commented on #170
This ticket was not processed for payment. If you would like to process it for payment, please reopen it, add the ```tcx_FixAccepted``` label, and then close it again<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2020-06-18 19:06] ThomasKranitsas commented on #150
Contest https://www.topcoder.com/challenges/30130354 has been created for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2020-06-18 19:06] rootelement commented on #37
How will this require data model updates? I thought we just had multiple phase objects with the isOpen flag? Do you mean because of the logic for phase changes that _that_ is preventing multiple open phases?

[2020-06-18 19:06] ThomasKranitsas commented on #150
Contest https://www.topcoder.com/challenges/30130354 has been updated - it has been assigned to thomaskranitsas.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2020-06-18 19:07] ThomasKranitsas commented on #37
I'm talking about the `currentPhase` property (https://github.com/topcoder-platform/challenge-processor-es/blob/develop/src/services/ProcessorService.js#L54)

This will need to change to an array of string instead of just a string property

[2020-06-18 19:08] rootelement commented on #37
Oh, so you can get the information, you just can't use the "convenience" property? I think that's fine, at least for now. I'll assign this to myself and consider.

[2020-06-18 19:12] ThomasKranitsas commented on #37
Basically, this is so we can search for challenges based on the current open phase. Eg, get all challenges "open for registration".

[2020-06-18 19:16] rootelement commented on #37
Is currentPhase a calculated property on query? Or is it stored in ES? Can we add an additional property called currentPhases (plural) and then deprecate currentPhase?

[2020-06-18 19:17] rootelement commented on #166
@ThomasKranitsas isn't this information gotten from the Submissions api?

[2020-06-18 19:19] rootelement opened #181 "[$25] Check if Member has signed Terms"
Issue & PR: https://github.com/topcoder-platform/resources-api/issues/30

[2020-06-18 19:21] ThomasKranitsas commented on #181
Contest https://www.topcoder.com/challenges/30130355 has been created for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2020-06-18 19:21] ThomasKranitsas commented on #181
Contest https://www.topcoder.com/challenges/30130355 has been updated - it has been assigned to thomaskranitsas.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2020-06-18 19:24] #181 closed

[2020-06-18 19:25] ThomasKranitsas commented on #181
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30130355<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2020-06-19 11:20] #175 closed

[2020-06-19 11:20] #176 closed

[2020-06-19 11:20] ThomasKranitsas commented on #175
This ticket was not processed for payment. If you would like to process it for payment, please reopen it, add the ```tcx_FixAccepted``` label, and then close it again<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2020-06-19 11:20] ThomasKranitsas commented on #176
This ticket was not processed for payment. If you would like to process it for payment, please reopen it, add the ```tcx_FixAccepted``` label, and then close it again<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2020-06-20 10:25] lakshmiathreya opened #182 "Data Comparison - v4 vs v5"
Production (v4) and Beta (v5) are expected to have similar data since Migration and Sync process are now in place. However, we see disparity. Here is a sample scenario - identical filters yet results are different. It is likely that v4 results are not accurate - We would like validation to ensure v5 Results presented below are accurate. @rootelement could you update us with the Database query resu

[2020-06-20 10:25] lakshmiathreya commented on #182
cc @sushilshinde @SathyaJayabal @Oanh-and-only-Oanh @mtwomey

[2020-06-20 17:51] ThomasKranitsas opened #183 "[$20] Throw error when filtering based on groups without authentication"
When trying to filter challenges based on the groups without authentication (JWT), the API should throw a 400 Bad Request instead of ignoring this filter as the current behavior is misleading.

cc @rootelement

[2020-06-20 17:54] ThomasKranitsas commented on #183
PR: https://github.com/topcoder-platform/challenge-api/pull/184

[2020-06-21 14:39] ThomasKranitsas opened #185 "[$20] Fix mapping between challenge types from v4 to v5"
Currently, launching a `Develop` / `Challenge` causes the legacy challenge processor to throw an error.

```body: { code: 400, message: 'Unable to process JSON' },```

This is because the mapping between different challenge types is wrong.

cc @rootelement

[2020-06-22 04:27] SathyaJayabal commented on #142
@rootelement , the past challenges displays older data first. It should return the latest challenges first.
https://api.topcoder.com/v5/challenges/?status=Completed&perPage=50&page=1

comparison with V4 : https://api.topcoder.com/v4/challenges/?status=PAST&perPage=50&page=1

[2020-06-22 04:34] SathyaJayabal opened #186 "V4 to V5 Sync Issue: V4 Challenge Phase updates not seen in V5"
https://github.com/topcoder-platform/community-app/issues/4569

cc @lakshmiathreya

[2020-06-22 06:47] SathyaJayabal opened #187 "Challenge history data not returned for members"
https://github.com/topcoder-platform/community-app/issues/4527#issuecomment-647308330

https://api.topcoder-dev.com/v4/members/standlove/challenges/?filter=status%3Dcompleted
https://api.topcoder-dev.com/v5/challenges?memberId=310233

[2020-06-22 06:52] simranb86 commented on #187
@rootelement one more thing I noticed when combining filters there is issue in API, try these calls
`https://api.topcoder-dev.com/v5/challenges?status=Completed&track=DESIGN&type=Wireframes` and `https://api.topcoder-dev.com/v5/challenges?status=Completed&track=DESIGN&type=Wireframes&memberId=40152905`

Note: the second API call I added memberId in there and it returns [] when filters track and ty

[2020-06-22 07:14] simranb86 commented on #187
@SathyaJayabal thanks for flagging - I added wrong API calls before, hope the above clarifies what I meant here.

[2020-06-22 13:28] ThomasKranitsas opened #189 "[$25] Prevent resetting the legacyId"
Ref: https://github.com/topcoder-platform/challenge-engine-ui/issues/689

PR: https://github.com/topcoder-platform/challenge-api/pull/188

cc @rootelement

[2020-06-22 15:56] rootelement commented on #142
Please test this again @SathyaJayabal

[2020-06-22 18:25] ThomasKranitsas opened #190 "[$100] Update business logic behind type/subTrack mapping on the legacy processor"
### Current behavior

- The legacy processor picks the `typeId` from the payload and fetches the `Type` from `/challenge-types/:typeId`
- Then it uses the `Type.abbreviation` as the `subTrack` for the v4 challenge object

This creates confusion as the `Type.name` does not match with the `Type.abbreviation`.

Example:

[code]

### Expected behavior

- The lookup table should be updated (on v5) so `

[2020-06-22 19:19] ThomasKranitsas commented on #190
Challenge API PR: https://github.com/topcoder-platform/challenge-api/pull/191
Legacy processor PR: https://github.com/topcoder-platform/legacy-challenge-processor/pull/15

[2020-06-22 19:19] ThomasKranitsas commented on #190
https://github.com/topcoder-platform/challenge-api/issues/190 also fixes the issue with `Design` tasks

[2020-06-22 19:21] ThomasKranitsas commented on #185
Seed file has been updated based on what's currently in dynamo. PR: https://github.com/topcoder-platform/challenge-api/pull/191

[2020-06-22 20:04] ThomasKranitsas commented on #190
Contest https://www.topcoder.com/challenges/30130799 has been created for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2020-06-22 20:04] ThomasKranitsas commented on #190
Contest https://www.topcoder.com/challenges/30130799 has been updated - it has been assigned to thomaskranitsas.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2020-06-23 11:36] SathyaJayabal opened #192 "New challenge created from TC Direct not migrated to V5"
1. Create new challenge in TC Direct
eg:https://www.topcoder.com/challenges/30130833

Expected: New challenge must be migrated and be available through in V5 challenge api
Actual: New challenge not migrated.

<img width="1440" alt="Screenshot 2020-06-23 at 5 05 30 PM" src="https://user-images.githubusercontent.com/58783823/85399059-c89fbe00-b573-11ea-91f2-7e1e329fbc89.png">
<img width="1440" alt="

[2020-06-23 16:08] ThomasKranitsas opened #193 "[$150] Update legacy data syncing logic"
- [ ] Update [Legacy Challenge Migration Script](https://github.com/topcoder-platform/legacy-challenge-migration-script) `syncController.queueChallengesFromLastModified` to be like `migrationController.migrate` where it will loop through 100 at a time until it gets through the full set. It currently pulls 1000 at a time.

- [ ] Add an “endDate” as a parameter to the `POST /challenge-migration/sync

[2020-06-23 16:21] ThomasKranitsas commented on #193
Contest https://www.topcoder.com/challenges/30130929 has been created for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2020-06-23 16:21] ThomasKranitsas commented on #193
Contest https://www.topcoder.com/challenges/30130929 has been updated - it has been assigned to thomaskranitsas.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2020-06-23 21:10] ThomasKranitsas commented on #193
PR: https://github.com/topcoder-platform/legacy-challenge-migration-script/pull/20

[2020-06-24 05:21] SathyaJayabal commented on #142
@rootelement ,the past  contests are returning the latest contests first.

[2020-06-24 05:21] #142 closed

[2020-06-24 05:46] SathyaJayabal commented on #166
Closing this as we will be handling this later
https://github.com/topcoder-platform/community-app/issues/4516#issuecomment-648194267

[2020-06-24 05:46] #166 closed

[2020-06-24 16:26] ThomasKranitsas opened #194 "[$150] Fix issue with agreeing to terms"
The Terms API throws `401 Unauthorised` when trying to agree to a term even though it actually succeeds.

- Fix the Terms API to properly catch the error and print a meaningful message
- Fix the legacy terms processor to support UUIDs instead of numerical IDs

cc @rootelement

[2020-06-24 16:30] ThomasKranitsas commented on #194
Commits on the terms API:
- https://github.com/topcoder-platform/terms-service/commit/7e70e1f77487a0c4278a92dafc8a0edba12603bc
- https://github.com/topcoder-platform/terms-service/commit/2fdcfb0c8889e98ffcf64744bdad94d652e5f57f
- https://github.com/topcoder-platform/terms-service/commit/b0d94e1e1a2a65b7aea28c9080c75212028f4b74

Commits on the legacy terms processor:
- https://github.com/topcoder-p

[2020-06-24 17:47] ThomasKranitsas commented on #194
Additional fixes:

API:
- https://github.com/topcoder-platform/terms-service/commit/624ca31a830ab448af91c96776ba5ccd91336df1

Processor:
- https://github.com/topcoder-platform/legacy-terms-processor/commit/156497f825d91029f1dc953ea58a0369c5bbf64a

[2020-06-25 02:59] rootelement commented on #190
@ThomasKranitsas please do the challenge/f2f/task to design/develop mapping we talked about in slack

[2020-06-25 03:01] ThomasKranitsas commented on #194
Contest https://www.topcoder.com/challenges/30131024 has been created for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2020-06-25 03:01] ThomasKranitsas commented on #194
Contest https://www.topcoder.com/challenges/30131024 has been updated - it has been assigned to thomaskranitsas.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2020-06-25 03:02] ThomasKranitsas commented on #189
Contest https://www.topcoder.com/challenges/30131025 has been created for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2020-06-25 03:02] ThomasKranitsas commented on #189
Contest https://www.topcoder.com/challenges/30131025 has been updated - it has been assigned to thomaskranitsas.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2020-06-25 03:03] ThomasKranitsas commented on #185
Contest https://www.topcoder.com/challenges/30131026 has been created for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2020-06-25 03:03] ThomasKranitsas commented on #185
Contest https://www.topcoder.com/challenges/30131026 has been updated - it has been assigned to thomaskranitsas.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2020-06-25 03:03] ThomasKranitsas commented on #183
Contest https://www.topcoder.com/challenges/30131027 has been created for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2020-06-25 03:03] ThomasKranitsas commented on #183
Contest https://www.topcoder.com/challenges/30131027 has been updated - it has been assigned to thomaskranitsas.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2020-06-25 06:14] SathyaJayabal commented on #165
@rootelement ,  there is disparity between the number  of registrants in V4 and V5
example:
https://www.topcoder.com/challenges?bucket=openForRegistration&filter[tracks][design]=true
https://beta-community-app.topcoder.com/challenges?bucket=openForRegistration&filter[tracks][design]=true

<img width="1440" alt="Screenshot 2020-06-25 at 11 42 54 AM" src="https://user-images.githubusercontent.com/58

[2020-06-25 06:15] SathyaJayabal commented on #165
cc @lakshmiathreya

[2020-06-25 11:41] lakshmiathreya commented on #192
-- New Challenge Created in Prod Direct Private Group V5_Groups_11 was synced as expected to Beta (v5).
-- @rootelement - I have included you in this Group so the Challenge is visible to you as well.

[2020-06-25 11:50] lakshmiathreya opened #195 "Submissions not synced from v4 to v5"
- New Challenges created on Prod Direct are being Sync'd to v5 as expected.
- However, Submissions are not being migrated. Please see screenshots of Prod and Beta for the newly created Private Group Challenge for comparison. @rootelement - you are part of V5_Groups_11 so you could see the results below.

<img width="1629" alt="Screenshot 2020-06-25 at 5 15 50 PM" src="https://user-images.githubuse

[2020-06-25 12:05] #192 closed

[2020-06-25 12:06] SathyaJayabal commented on #186
Looks good now @rootelement

[2020-06-25 12:07] lakshmiathreya commented on #182
Numbers across v4 and v5 are now closer :
<img width="1662" alt="Screenshot 2020-06-25 at 5 34 31 PM" src="https://user-images.githubusercontent.com/51733042/85716691-5b726100-b70a-11ea-89f6-6a0e30276c65.png">
<img width="1674" alt="Screenshot 2020-06-25 at 5 34 39 PM" src="https://user-images.githubusercontent.com/51733042/85716716-60371500-b70a-11ea-9995-19ac44323413.png">

[2020-06-25 12:11] lakshmiathreya commented on #182
<img width="1664" alt="Screenshot 2020-06-25 at 5 38 31 PM" src="https://user-images.githubusercontent.com/51733042/85717359-113daf80-b70b-11ea-8d57-ebd5001dfb33.png">
<img width="1666" alt="Screenshot 2020-06-25 at 5 38 39 PM" src="https://user-images.githubusercontent.com/51733042/85717386-18fd5400-b70b-11ea-9978-b5cc80ac1bf8.png">
<img width="1665" alt="Screenshot 2020-06-25 at 5 39 21 PM" src=

[2020-06-25 12:20] lakshmiathreya commented on #182
Since Data across v4 and v5 seems to be converging - closing this Generic Issue. Will log specific filter based Issues shortly.

[2020-06-25 12:20] #182 closed

[2020-06-25 19:22] #183 closed

[2020-06-25 19:22] #185 closed

[2020-06-25 19:23] #189 closed

[2020-06-25 19:23] ThomasKranitsas commented on #183
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30131027<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2020-06-25 19:23] ThomasKranitsas commented on #189
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30131025<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2020-06-25 19:23] #193 closed

[2020-06-25 19:23] #194 closed

[2020-06-25 19:23] ThomasKranitsas commented on #193
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30130929<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2020-06-25 19:24] ThomasKranitsas commented on #194
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30131024<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2020-06-25 19:25] ThomasKranitsas commented on #185
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30131026<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2020-06-25 19:44] ThomasKranitsas commented on #190
PR: https://github.com/topcoder-platform/legacy-challenge-processor/pull/16

[2020-06-26 04:41] SathyaJayabal commented on #186
@rootelement , Phases were synced on 25th morning IST after your update. Any phase updates that happened from teh 25th to 26th IST, are not synced to V5.

Example:
http://api.topcoder.com/v5/challenges?legacyId=30130329
http://api.topcoder.com/v4/challenges/30130329

<img width="1440" alt="Screenshot 2020-06-26 at 10 09 56 AM" src="https://user-images.githubusercontent.com/58783823/85821052-632b17

[2020-06-26 16:57] #190 closed

[2020-06-26 16:57] ThomasKranitsas commented on #190
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30130799<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2020-06-26 17:05] #150 closed

[2020-06-26 17:06] ThomasKranitsas commented on #150
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30130354<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2020-06-29 12:53] vikasrohit opened #196 "Patch challenge, with timeline template, changes the type of the challenge"
Recently observed that patching an existing challenge with new timeline template, causes the challenges' type to be changed. Please find the developer console logs in the attached video.

[PATCH-Template-ID-changes-Type-ID.gif.zip](https://github.com/topcoder-platform/challenge-api/files/4845402/PATCH-Template-ID-changes-Type-ID.gif.zip)

[2020-06-29 12:55] vikasrohit commented on #196
fyi @ThomasKranitsas @rootelement I am not sure if it is exactly an issue here but I am seeing this behaviour randomly when I try to test full lifecycle of challenges created via CM. It might be something we need to change in CM but we need to identify what exactly the problem is.

[2020-06-29 13:30] SathyaJayabal opened #197 "[$80] Member of child group should be able to view challenge belonging to parent group"
https://github.com/topcoder-platform/community-app/issues/4492#issue-634438639
https://github.com/topcoder-platform/community-app/issues/4492#issuecomment-651116979

[2020-06-29 14:28] rootelement opened #198 "Challenge Manager Prize Money Save Issues"
https://github.com/topcoder-platform/challenge-engine-ui/issues/694
https://github.com/topcoder-platform/challenge-engine-ui/issues/689

@rootelement @ThomasKranitsas I think we have a small problem in legacy challenge creation/update process. It might be causing the https://github.com/topcoder-platform/challenge-engine-ui/issues/694 as well. What I found from my debugging today is as follows:
• C

[2020-06-29 14:43] ThomasKranitsas opened #199 "Do not allow changing the timeline template if the status is not New"
Temporarily, disable the ability to change the timeline template on a challenge if the status is not `New`.

Make sure to add a `// TODO` comment with a `Tech Dept` not so we can track and revert this change once we phase out the legacy system which is currently causing issues with that feature.

[2020-06-29 18:58] ThomasKranitsas commented on #199
PR: https://github.com/topcoder-platform/challenge-api/pull/200

[2020-06-30 01:48] sushilshinde opened #201 "Registrants data not available for some challenges"
https://github.com/topcoder-platform/community-app/issues/4608

[2020-06-30 10:04] vikasrohit opened #202 "[$20] PUT call never returns when timelineTemplateId is missing"
Following call never returns because server faced unhandled promise rejection.
[code]
Following is the error in server logs:
[code]

[2020-06-30 10:04] vikasrohit commented on #202
fyi @ThomasKranitsas @rootelement

[2020-06-30 23:07] ThomasKranitsas commented on #197
PR: https://github.com/topcoder-platform/challenge-api/pull/203

[2020-07-01 08:16] SathyaJayabal commented on #201
https://github.com/topcoder-platform/community-app/issues/4608#issuecomment-652267820

[2020-07-01 09:55] SathyaJayabal opened #204 "V5 to V4 Sync Issue: V5 Registrations and Submissions not seen in V4"
Submissions or registrations made from V5 are not visible from V4.

Example:
https://beta-community-app.topcoder.com/challenges/6c0c6d56-fae9-4d41-8755-0482de5483f6
https://www.topcoder.com/challenges/30130748?tab=registrants

user picachui  registered in V5 for the  above challenge, but this is not  reflected in V4.

cc @lakshmiathreya

[2020-07-01 11:06] lakshmiathreya commented on #197
cc @sushilshinde

[2020-07-01 14:11] ThomasKranitsas commented on #198
I see that a default value for the `prizeSets` is passed with a prize of `0`. The thing is that the Challenge API posts the whole challenge object on the BUS API (Kafka) instead of only the modified properties as the data is required on the legacy processor and this causes the issue of `prizeSets` being reset even after you change the values.

I confirmed the issue is because of the default prizeS

[2020-07-01 14:25] ThomasKranitsas opened #205 "[$30] Cannot GET and then PUT a challenge body as is"
1. Make a GET request to fetch the details of a challenge
2. Grab the body and PUT it as is without modifying anything

### Current behavior

The API throws `Cannot set winners for a challenge with non completed status`

### Expected behavior

1. It should not return empty `winners` array for non-completed challenges
2. It should ignore that field if it's empty and the status is not Completed

cc

[2020-07-01 15:14] ThomasKranitsas commented on #202
PR: https://github.com/topcoder-platform/challenge-api/pull/206
cc @rootelement

[2020-07-01 15:27] ThomasKranitsas commented on #205
PR: https://github.com/topcoder-platform/challenge-api/pull/207

[2020-07-01 16:05] rootelement opened #208 "[$100] Testing Support"
Research new issues and help plan a direction
Work with community app people and support API consumption

[2020-07-01 20:48] rootelement commented on #201
@SathyaJayabal please test this again. The example challenges are now lining up since I've fixed the legacy resource processor

[2020-07-02 06:57] SathyaJayabal commented on #197
@ThomasKranitsas @rootelement , this fix looks good on dev env.
cc @lakshmiathreya
The member of the child group can see the parent group challenge.
<img width="1440" alt="Screenshot 2020-07-02 at 12 27 14 PM" src="https://user-images.githubusercontent.com/58783823/86326467-6293f480-bc5f-11ea-942e-02b9f1c71168.png">

[2020-07-02 13:09] vikasrohit commented on #198
ok, I get it and I would remove default prizeSet for now but I am still thinking about the root cause. IMO, the problem seems to be event ordering. I want to make sure that if in future we are setting something else instead of prizeSet for New project which is not avoidable to send, would the cause of the current problem will override it as well?

fyi @rootelement

[2020-07-02 17:12] ThomasKranitsas opened #209 "[$100] Move track to the ChallengeType model"
Based on the discussion on slack with @vikasrohit and @rootelement , we need to move the `track` from the `ChallengeTypeTimelineTemplate` model over to the `ChallengeType` model.

- Update models
- Update business logic
- Update seed files
- Update the legacy challenge processor to reflect the changes

cc @rootelement

[2020-07-02 17:43] rootelement commented on #205
Fix accepted. Will close when BA opens

[2020-07-02 17:45] ThomasKranitsas commented on #205
Contest https://www.topcoder.com/challenges/30132016 has been created for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2020-07-02 17:45] ThomasKranitsas commented on #205
Contest https://www.topcoder.com/challenges/30132016 has been updated - it has been assigned to thomaskranitsas.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2020-07-02 17:56] rootelement commented on #204
There was an issue with the legacy-challenge-resource-processor putting registrations back into v4. Please retest @SathyaJayabal

[2020-07-02 17:58] ThomasKranitsas commented on #202
Contest https://www.topcoder.com/challenges/30132017 has been created for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2020-07-02 17:58] ThomasKranitsas commented on #202
Contest https://www.topcoder.com/challenges/30132017 has been updated - it has been assigned to thomaskranitsas.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2020-07-02 17:59] rootelement commented on #195
@lakshmiathreya I believe this is fixed in the latest sync. Please close this out if so

[2020-07-02 17:59] ThomasKranitsas commented on #197
Contest https://www.topcoder.com/challenges/30132018 has been created for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2020-07-02 17:59] ThomasKranitsas commented on #197
Contest https://www.topcoder.com/challenges/30132018 has been updated - it has been assigned to thomaskranitsas.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2020-07-02 18:00] rootelement commented on #186
@SathyaJayabal Please close this here if this is fixed.

[2020-07-02 18:00] rootelement commented on #165
Seems like a duplicate. Can you confirm this is fixed/closed @SathyaJayabal ?

[2020-07-02 18:04] ThomasKranitsas commented on #209
Challenge API PR: https://github.com/topcoder-platform/challenge-api/pull/210

[2020-07-02 18:45] ThomasKranitsas commented on #209
@vikasrohit I made the changes you requested. Here's how to configure the mappings between v5 track/type to v4:
- If you set the mapping on the https://github.com/topcoder-platform/legacy-challenge-processor (https://github.com/topcoder-platform/legacy-challenge-processor/blob/develop/src/constants.js#L66) it will ignore the `legacyId` from the `ChallengeType` object.
- If not, you need to set the

[2020-07-03 05:22] SathyaJayabal commented on #186
@rootelement this issue is not fixed. The phases line up only when the migration script is run and not in real time as expected (with 1-5 mins lag).

When there is any change in V4 (when review phase ends - from Online Review, Registration phase opens etc) it must reflect in real time in V5. We have been going back and forth over this many times. I think we have a misunderstanding. The previous ex

[2020-07-03 05:22] SathyaJayabal commented on #186
cc @lakshmiathreya @mtwomey

[2020-07-03 05:30] SathyaJayabal commented on #201
https://github.com/topcoder-platform/community-app/issues/4608#issuecomment-653338677

[2020-07-03 05:30] SathyaJayabal commented on #165
will track #201

[2020-07-03 05:30] #165 closed

[2020-07-03 05:37] SathyaJayabal commented on #187
https://github.com/topcoder-platform/community-app/issues/4527#issuecomment-653360312
@rootelement

[2020-07-03 06:26] SathyaJayabal commented on #195
@rootelement , submissions get migrated to v5 when the migration script is run, but not in real time. What is the expected behaviour here? Is there a real time (1-5 mins lag) sync enabled for submissions made in v4 to be carried over to v5?
cc @lakshmiathreya

[2020-07-03 06:30] SathyaJayabal commented on #204
@rootelement , registrations made in V5 are not reflecting in V4.
https://beta-community-app.topcoder.com/challenges/9e68d9ca-912e-4848-b2b2-c9aad219da14?tab=registrants
https://www.topcoder.com/challenges/30131987?tab=registrants
<img width="1440" alt="Screenshot 2020-07-03 at 11 45 05 AM" src="https://user-images.githubusercontent.com/58783823/86437830-f975b500-bd22-11ea-9a2a-0ea59817c2cf.png">

[2020-07-03 06:40] lakshmiathreya commented on #186
@rootelement @mtwomey - what @SathyaJayabal is trying to emphasize is the need for v4 and v5 to be in real time sync ... this would become critical once v5 goes to Prod as legacy Apps such as Direct and OR would continue to read off v4 ... we'd continue to depend on legacy Apps for Challenge Creation and Updates even after v5 goes to Prod ... cc @sushilshinde

[2020-07-03 06:42] lakshmiathreya commented on #204
@rootelement @mtwomey - what @SathyaJayabal is trying to emphasize is the need for v4 and v5 to be in real time sync ... this would become critical once v5 goes to Prod as legacy Apps such as Direct and OR would continue to read off v4 ... we'd continue to depend on legacy Apps for Challenge Creation and Updates even after v5 goes to Prod ... cc @sushilshinde

[2020-07-03 06:43] lakshmiathreya commented on #186
Related - https://github.com/topcoder-platform/challenge-api/issues/204

[2020-07-03 06:47] lakshmiathreya commented on #195
https://github.com/topcoder-platform/challenge-api/issues/204

[2020-07-03 06:48] SathyaJayabal commented on #195
@lakshmiathreya , @rootelement @mtwomey , this sync issue should not be a problem once we go on prod with v5 as all submissions will be made from V5. So there will not be a need for real time sync from v4 to v5.
Same for  #201 . All registrations will be made from v5.

[2020-07-04 02:40] sushilshinde opened #211 "Community App:My Challenges bucket doesn't return all the challenges"
https://github.com/topcoder-platform/community-app/issues/4602

[2020-07-04 18:31] rootelement commented on #186
The sync is not going to be "real time". It's about 1 to 3 minutes. All the challenges you list here are in sync now.
http://api.topcoder.com/v4/challenges/30131013
http://api.topcoder.com/v5/challenges/4d8767f9-de20-4e67-b022-44badf9a7c9f

Those phases match, everything is closed. Beyond that, i'm not sure what we can do. I can crank up the periodicity of the sync, but that's going to put a stran

[2020-07-05 05:49] SathyaJayabal commented on #186
@rootelement , I don't mean the 1 to 3 minutes delay. There are some phase transitions in v4 that are not synced in v5.
For example, when the review phase completes and appeals begin, this is not synced to v5. The examples contests I provide get completed by the time you check on them.

Please look at any contest in the ongoing bucket in prod which is in appeals phase. And compare the same contest

[2020-07-05 05:51] SathyaJayabal commented on #186
cc @lakshmiathreya

[2020-07-05 17:29] rootelement commented on #186
Here's the functionality order of operations:
1. User creates a challenge in v5. Legacy processor puts this into informix via v4 api. This should take < 1min
2. Autopilot performs an action on a challenge, like reading the time on a phase and updating the status. This happens in informix. The challenge "updated" property is set to the time of that action.
3. v4 Elastic Search feeder pics up that c

[2020-07-06 02:57] SathyaJayabal commented on #186
@rootelement, please also look at the review to appeals phase changes. It doesn't sync up to more than 24 hours, not just 7-8 mins, You can check the screenshots above. Sync happens only after appeals response completes and contest ends. We can never see a contest in appeals or appeals response phases in V5(beta). The phase is always in review and then it goes to completed. Same contest goes throu

[2020-07-06 06:25] SathyaJayabal commented on #197
@rootelement ,is this fix on prod yet ?
cc @sushilshinde

[2020-07-06 06:55] SathyaJayabal commented on #204
Submissions made form v5 are now reflecting in V4 and in OR

<img width="1440" alt="Screenshot 2020-07-06 at 12 21 17 PM" src="https://user-images.githubusercontent.com/58783823/86564223-7a32ec00-bf83-11ea-8a89-342bf9029191.png">
<img width="1440" alt="Screenshot 2020-07-06 at 12 22 24 PM" src="https://user-images.githubusercontent.com/58783823/86564333-aea6a800-bf83-11ea-99fb-5d30373a4784.png">

[2020-07-06 10:48] SathyaJayabal commented on #204
Registrations are still not synced form v5 to v4.

For example challenge  "https://beta-community-app.topcoder.com/challenges/0e19815e-fb7e-4a8c-bb52-6e5c6c101818"
registered in v5 for customeruser/appirio123

This is not visible in OR
<img width="1440" alt="Screenshot 2020-07-06 at 4 14 52 PM" src="https://user-images.githubusercontent.com/58783823/86585449-1d93f900-bfa4-11ea-90bd-46c064ecd4ec.pn

[2020-07-06 14:13] lakshmiathreya commented on #186
@rootelement there are other examples too with some other phases too -
<img width="1626" alt="Screenshot 2020-07-06 at 7 41 33 PM" src="https://user-images.githubusercontent.com/51733042/86602897-ef70e200-bfc0-11ea-8d1c-f13ca5d73043.png">
- pls see the one below:
<img width="1630" alt="Screenshot 2020-07-06 at 7 41 24 PM" src="https://user-images.githubusercontent.com/51733042/86602878-eaac2e00-bf

[2020-07-06 17:13] ThomasKranitsas opened #212 "[$100] Update challenge searching filters"
### 1. How do we support OR condition for tags? I guess if we do tag=abc&tag=cde, then it is AND condition, but how about OR condition?

### 2. How do we filter on the registration start date or end date before or after a given date?

### 3. How do we filter if registration is Open or Closed?

### 4. How do we filter on the submission start date or end date before or after a given date?

### 5. Ho

[2020-07-06 20:00] ThomasKranitsas commented on #212
- [ ] Update the challenge API
- [ ] Update the ES processor
- [ ] Update the migration script
- [ ] Create a script to update already migrated data

[2020-07-07 04:03] SathyaJayabal commented on #204
Also looks like submission were not seen in OR for some users.
https://github.com/topcoder-platform/community-app/issues/4629#issuecomment-654377119

[2020-07-08 15:20] ThomasKranitsas commented on #212
Challenge API: https://github.com/topcoder-platform/challenge-api/pull/213
ES processor: https://github.com/topcoder-platform/challenge-processor-es/commit/de8871c8afcab12be47ba9dd3454c8230f941c29
Migration script: https://github.com/topcoder-platform/legacy-challenge-migration-script/pull/24

[2020-07-09 13:06] #202 closed

[2020-07-09 13:06] #205 closed

[2020-07-09 13:07] ThomasKranitsas commented on #202
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30132017<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2020-07-09 13:07] ThomasKranitsas commented on #209
Contest https://www.topcoder.com/challenges/30132407 has been created for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2020-07-09 13:07] ThomasKranitsas commented on #209
Contest https://www.topcoder.com/challenges/30132407 has been updated - it has been assigned to thomaskranitsas.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2020-07-09 13:08] #209 closed

[2020-07-09 13:08] ThomasKranitsas commented on #205
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30132016<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2020-07-09 13:10] ThomasKranitsas commented on #208
Contest https://www.topcoder.com/challenges/30132408 has been created for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2020-07-09 13:10] ThomasKranitsas commented on #208
Contest https://www.topcoder.com/challenges/30132408 has been updated - it has been assigned to thomaskranitsas.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2020-07-09 13:10] ThomasKranitsas commented on #212
Contest https://www.topcoder.com/challenges/30132409 has been created for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2020-07-09 13:10] ThomasKranitsas commented on #212
Contest https://www.topcoder.com/challenges/30132409 has been updated - it has been assigned to thomaskranitsas.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2020-07-09 13:12] ThomasKranitsas commented on #209
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30132407<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2020-07-10 05:24] SathyaJayabal opened #214 "Track and Subtrack details incomplete/incorrect"
Subtrack details is incorrect after migration.
cc @rootelement @lakshmiathreya

I noticed this first on dev backend  (test) yesterday and now I see it on prod backend (beta) too

<img width="1440" alt="Screenshot 2020-07-10 at 10 48 21 AM" src="https://user-images.githubusercontent.com/58783823/87119336-4e717800-c29b-11ea-8564-7b9a54f5dd3f.png">

[2020-07-10 05:39] lakshmiathreya commented on #214
Subtrack details seem to have got migrated partially - not complete:

<img width="1658" alt="Screenshot 2020-07-10 at 11 08 35 AM" src="https://user-images.githubusercontent.com/51733042/87120306-c04ac100-c29d-11ea-9537-c5aee6de2daf.png">
<img width="1659" alt="Screenshot 2020-07-10 at 11 08 25 AM" src="https://user-images.githubusercontent.com/51733042/87120294-bb860d00-c29d-11ea-963a-d205e851bb1

[2020-07-10 05:41] lakshmiathreya commented on #214
cc @mtwomey @sushilshinde

[2020-07-10 07:12] mtwomey commented on #204
@SathyaJayabal @sushilshinde Kindly retest the registration part today. James and I worked through this today and believe we have it working. I'm trying to test submissions - but I can't seem to submit at all right now (in beta), can you guys submit?

[2020-07-10 07:16] SathyaJayabal commented on #204
@mtwomey , I am testing this right now. I was able to submit from beta.

[2020-07-10 07:19] SathyaJayabal commented on #204
Registrations made from V5 reflecting  in V4
<img width="1440" alt="Screenshot 2020-07-10 at 12 40 17 PM" src="https://user-images.githubusercontent.com/58783823/87127395-79fc5e80-c2ab-11ea-8606-fd1be189ab78.png">
<img width="1440" alt="Screenshot 2020-07-10 at 12 41 51 PM" src="https://user-images.githubusercontent.com/58783823/87127459-94ced300-c2ab-11ea-80af-e72c2c04e848.png">
<img width="1440"

[2020-07-10 07:26] SathyaJayabal commented on #204
Submissions made from V5 are also reflecting in V4
<img width="1440" alt="Screenshot 2020-07-10 at 12 44 15 PM" src="https://user-images.githubusercontent.com/58783823/87127647-e37c6d00-c2ab-11ea-9e47-42f26ae2c6fb.png">
<img width="1440" alt="Screenshot 2020-07-10 at 12 53 04 PM" src="https://user-images.githubusercontent.com/58783823/87127927-68678680-c2ac-11ea-83c0-01ddbbb01a96.png">

Also recei

[2020-07-10 07:31] SathyaJayabal commented on #204
@mtwomey @rootelement , strangely now, the registrations and submission made from v5 are not showing up in V5.(even though they show up in V4 (Prod and OR). The only place registration shows up in v5 is in the registrants table in challenge details.

<img width="1440" alt="Screenshot 2020-07-10 at 12 57 36 PM" src="https://user-images.githubusercontent.com/58783823/87128412-33a7ff00-c2ad-11ea-8245

[2020-07-10 09:50] SathyaJayabal opened #215 "Migration Issue: Challenge duplicated during migration"
The below challenge was migrated twice
https://www.topcoder.com/challenges/30132434
https://beta-community-app.topcoder.com/challenges/a383c5f5-9e2e-4c53-94db-ae67aca16fd0
https://beta-community-app.topcoder.com/challenges/4424fa70-9305-46a6-b052-4e2bd237f3b3
cc @lakshmiathreya

<img width="1440" alt="Screenshot 2020-07-10 at 3 16 46 PM" src="https://user-images.githubusercontent.com/58783823/8714

[2020-07-10 10:24] SathyaJayabal commented on #214
Some of the contest also have incorrect tracks
<img width="1440" alt="Screenshot 2020-07-10 at 3 53 00 PM" src="https://user-images.githubusercontent.com/58783823/87144527-7f66a280-c2c5-11ea-8964-d19eb2334129.png">

[2020-07-10 10:31] SathyaJayabal commented on #186
@mtwomey @rootelement , we still see a lot of challenges with phases out fo sync.
cc @lakshmiathreya
<img width="1440" alt="Screenshot 2020-07-10 at 3 57 07 PM" src="https://user-images.githubusercontent.com/58783823/87145146-80e49a80-c2c6-11ea-8d89-aa453dcecb71.png">

[2020-07-10 15:07] mtwomey opened #216 "User shows up in v5-resource API call but not the v5-challenges result"
User shows up in v5-resource API call (for a challenge), but that challenge isn't included in the v5-challenges result.

For example, you can register for a challenge and submit and you will show up in `https://api.topcoder.com/v5/resources?challengeId=XXX` but that same challenge won't be returned for that user when you call `https://api.topcoder.com/v5/challenges?memberId=MMM`.

(note from picac

[2020-07-10 15:07] mtwomey commented on #216
@rootelement Another related issue for you / us to look at.

[2020-07-10 15:43] SathyaJayabal commented on #204
tracking challenge not showing up in my challenges here
https://github.com/topcoder-platform/challenge-api/issues/216

[2020-07-10 21:13] mtwomey commented on #216
@SathyaJayabal - Ok, @rootelement and I worked through this and think we're good here now. Please check on your end. (cc: @lakshmiathreya @sushilshinde )

[2020-07-10 21:15] mtwomey commented on #204
@SathyaJayabal As per update on #216  @rootelement and I worked through this and think we're good here now. Please check on your end.

[2020-07-11 04:01] mtwomey commented on #204
**[All testing curls below are against the beta env "Adobe COVID Challenge Series" challenge (3cfa4e31-1758-4e65-aa73-61caa1d5154f / legacyId: 30132287)]**

`"numOfSubmissions": 0,` is wrong in v5 challenge-api

**Curl**
[code]
Should return 1 submission. For comparison - current production uses this call

**Curl**
[code]
and then it counts the number of members in the submissions array in the res

[2020-07-11 04:25] SathyaJayabal opened #217 "New challenges created in V4 are not synced to V5 after the migration (Jul 9)"
New challenges created in V4 are not synced to V5 after the latest migration
examples:
https://www.topcoder.com/challenges/30132625
https://www.topcoder.com/challenges/30132551

<img width="1440" alt="Screenshot 2020-07-11 at 9 51 59 AM" src="https://user-images.githubusercontent.com/58783823/87216333-6f4dd200-c35c-11ea-921c-8c3db8fbc242.png">

cc @mtwomey

[2020-07-11 07:09] rootelement commented on #217
The sync was frozen. I fixed that. These challenges are showing up now. Please test. Also, please check the slack channel for more information.

[2020-07-11 14:18] SathyaJayabal commented on #216
@mtwomey @lakshmiathreya @sushilshinde @rootelement
After registering in v5 the challenge is returned in the call
https://api.topcoder.com/v5/challenges?memberId=MMM.

The FE still doesn't display this challenge under my challenge bucket.

I am opening ticket in the community app to track this.

[2020-07-11 14:19] #216 closed

[2020-07-11 16:52] rootelement commented on #204
There's no v4 -> v5 sync for submissions as far as I know. @Christopher
DeLaurentis <lazybaer@topcoder.com> ? Might be good to confirm how support
deleted it. I'm assuming they deleted it from informix.

Still doesn't answer why v4 and v5 are reporting differently. But the
submission count is updated by the challenge-processor-es from a submission
created bus message. I will confirm the configs fo

[2020-07-11 18:18] rootelement commented on #204
There is a v4->v5 for reviews but not subs.
https://github.com/topcoder-platform/or-review-processor
Everything, including legacy systems such as OR and Direct use v5
submission api so there’s nothing to sync.

On Sat, Jul 11, 2020 at 12:52 PM Cori, James <jcori@topcoder.com> wrote:

--
-CWD

[2020-07-11 19:40] ThomasKranitsas opened #218 "[$150] Improve performance of the group checks"
We need to improve the performance of the group access check when fetching/searching challenges.

- In the case where we search for all challenges, we should fetch the user's groups and pass those groups on the ES query
- In the case where we search for challenges while filtering based on the groups, we should first verify the user has access to those groups and then pass those groups on the ES qu

[2020-07-12 01:49] SathyaJayabal commented on #204
@rootelement , the issue is not v4->v5 sync for submissions. But the submissions made from V5 is not showing up in the submissions count returned by the challenge api. The same submission is returned by the V4 challenge api and also the submissions api.

In the above example provided by @mtwomey , the submission in question is a submission made from V5.

[2020-07-13 02:58] SathyaJayabal commented on #217
@rootelement, New challenges are carried over to v5 now.
<img width="1440" alt="Screenshot 2020-07-13 at 8 26 06 AM" src="https://user-images.githubusercontent.com/58783823/87266329-97673d80-c4e2-11ea-9734-f6eb5a6201f8.png">
cc @lakshmiathreya @mtwomey

[2020-07-13 02:58] #217 closed

[2020-07-13 04:23] SathyaJayabal commented on #204
Let us track the submissions count issue separately.
Registrations and  submissions  made from V5 are synced to v4.
https://github.com/topcoder-platform/challenge-api/issues/204#issuecomment-656525626
https://github.com/topcoder-platform/challenge-api/issues/204#issuecomment-656528311

[2020-07-13 04:23] #204 closed

[2020-07-13 04:24] SathyaJayabal opened #219 "The "numOfSubmissions" returned by the challenge api is incorrect"
https://github.com/topcoder-platform/challenge-api/issues/204#issuecomment-656982543

[2020-07-13 04:24] SathyaJayabal commented on #219
cc @mtwomey

[2020-07-13 08:44] SathyaJayabal commented on #211
https://api.topcoder.com/v5/challenges?memberId=MMM returns all the challenges the user is a resource of.

[2020-07-13 15:23] rootelement opened #220 "[$75] Change Resources to get from ES"
This search is coming from Dynamo, then it's filtered on submitter type. That will mean we're going to miss registrants if there are observers and managers returned and there will be limits.

https://github.com/topcoder-platform/resources-api/blob/develop/src/services/ResourceService.js#L53

[2020-07-13 15:26] ThomasKranitsas commented on #220
Contest https://www.topcoder.com/challenges/30132811 has been created for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2020-07-13 19:04] ThomasKranitsas commented on #220
PR https://github.com/topcoder-platform/resources-api/compare/api-issue-220?expand=1

[2020-07-13 19:38] rootelement commented on #197
Yes, there is a related issue for performance, but this is working as designed
#218

[2020-07-13 19:38] #197 closed

[2020-07-13 19:38] ThomasKranitsas commented on #197
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30132018<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2020-07-13 19:39] rootelement commented on #208
Support sync issues and respond to community app questions

[2020-07-13 19:39] #208 closed

[2020-07-13 19:39] ThomasKranitsas commented on #208
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30132408<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2020-07-13 19:39] #212 closed

[2020-07-13 19:40] ThomasKranitsas commented on #212
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30132409<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2020-07-14 03:39] mtwomey commented on #219
James is testing fix now in dev.

[2020-07-14 03:40] mtwomey commented on #201
James is testing fix now in dev.

[2020-07-14 03:40] mtwomey commented on #195
James is testing fix now in dev.

[2020-07-14 03:41] mtwomey commented on #186
James is testing fix now in dev.

[2020-07-14 09:01] lakshmiathreya commented on #195
Seems like Submissions are moving from V4 to V5 within expected time. Pls see screenshots. I made a submission via Prod - and saw it on Beta quickly.

<img width="1631" alt="Screenshot 2020-07-14 at 2 16 47 PM" src="https://user-images.githubusercontent.com/51733042/87406652-a16e6680-c5de-11ea-9685-265bce07ec67.png">
<img width="1649" alt="Screenshot 2020-07-14 at 2 16 38 PM" src="https://user-ima

[2020-07-14 09:04] lakshmiathreya commented on #195
Notice that:

1. My Submissions tab is missing in Beta.
2. My handle is seen as a Registrant yet the Register button is Blue.

These issues will be tracked separately. Closing this issues since Submissions are being synced.

[2020-07-14 09:04] #195 closed

[2020-07-14 14:48] mtwomey commented on #219
James doing final confirmation.

[2020-07-14 15:01] mtwomey commented on #219
On the call - this one didn't have the right number of subs: https://beta-community-app.topcoder.com/challenges/0ea10b6f-c089-457b-8c08-b01be006b25e?tab=submissions

James manually sync'd it and it ok now, but will updates going forward work?

[2020-07-14 15:11] mtwomey commented on #201
Working but there are some duplicate resources on challenges now, James is investigating.

[2020-07-15 06:05] SathyaJayabal commented on #187
Api now returns completed challenges

[2020-07-15 06:34] SathyaJayabal commented on #197
verified this in beta. Works as expected.

Members of child group can view challenges belonging to parent group.
Members of parent group cannot view challenges belonging to child group.

cc @lakshmiathreya

[2020-07-15 07:03] SathyaJayabal commented on #201
Registrants not synced form v4 to v5. The duplicate resources issue has been fixed.
examples:
https://beta-community-app.topcoder.com/challenges/5f336776-80e2-45e2-89f8-0d9f37e34772?tab=registrants
https://www.topcoder.com/challenges/30132617?tab=registrants
https://beta-community-app.topcoder.com/challenges/9d796b12-1e6f-49b3-91df-2272f1044d32?tab=registrants
https://www.topcoder.com/challenges/3

[2020-07-15 07:09] SathyaJayabal commented on #219
Newer submissions made today are not counted.
<img width="1440" alt="Screenshot 2020-07-15 at 12 38 14 PM" src="https://user-images.githubusercontent.com/58783823/87514666-3719fc80-c698-11ea-83c9-22f9cb85d954.png">

[2020-07-15 13:48] vikasrohit commented on #198
@ThomasKranitsas @rootelement  I think we need to identify the root cause and fix it as soon as possible because it seems it creating more issues then only reseting the prize money. I tried to create a challenge on production and once I saved it to draft status and done couple of changes via Direct/OR, the challenge in v5 api seems to be reset with many fields e.g.
- review type is reset to intern

[2020-07-15 21:40] ThomasKranitsas opened #221 "[$200] Update terms API and Build terms receiver"
1. Ref https://github.com/topcoder-platform/terms-service/issues/30
2. Create a webhook receiver that Docusign account should be set up with a webhook url pointed at the receiver to receive the payload. If the payload is that an envelope is signed, update that envelopeid in the db and publish a topic on the bus that the member signed the envelope.

cc @rootelement

[2020-07-15 21:41] ThomasKranitsas commented on #221
Terms API: https://github.com/topcoder-platform/terms-service/pull/32
Receiver: https://github.com/topcoder-platform/terms-receiver (initial commit on the develop branch)

[2020-07-15 21:42] rootelement commented on #221
The foundation is set. Further issues will be opened for testing and modification.

[2020-07-15 21:44] ThomasKranitsas commented on #221
Contest https://www.topcoder.com/challenges/30133135 has been created for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2020-07-15 21:44] ThomasKranitsas commented on #221
Contest https://www.topcoder.com/challenges/30133135 has been updated - it has been assigned to thomaskranitsas.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2020-07-15 21:47] #221 closed

[2020-07-15 21:47] ThomasKranitsas commented on #221
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30133135<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2020-07-16 05:50] SathyaJayabal opened #222 "Mismatch in the list of f2f challenges between v4 and v5"
Mismatch with list of f2f challenges between v4 and v5
V5 returns some f2f challenges that are not returned by v4.

Could these be private tasks that are  not supposed to be displayed on the challenge listings?
I could not find anything in the challenge payload to indicate that they are private tasks. Not sure why they do not show up in V4.

An example of these challenges:
https://beta-community-a

[2020-07-16 09:43] SathyaJayabal commented on #201
Registrants Sync issue:
@rootelement @lakshmiathreya @mtwomey
Example challenge:
https://beta-community-app.topcoder.com/challenges/9cc9ab57-d534-485f-8af2-f2c93c0775b4?tab=registrants
https://www.topcoder.com/challenges/30133097?tab=registrants
user:customeruser/appirio123

steps to reproduce:
1. Registrants are in sync between V4 and V5
2. Register to the above challenge from V5.
3. User shows u

[2020-07-16 10:59] SathyaJayabal commented on #219
@rootelement, submissions made from both V4 and V5 show up immediately in the table. The submission count takes around 5-6 mins to catch up. But the submission count now looks good.

Will observe a bit more and close this one.

cc @lakshmiathreya

[2020-07-16 11:19] SathyaJayabal commented on #186
@rootelement , phases sync looks good so far. Will observe for a couple fo days.

cc @lakshmiathreya

[2020-07-16 18:33] rootelement commented on #219
@SathyaJayabal Please re-test. I fixed the Challenge ES Processor. My tests show the number immediately update now.

I uploaded a bunch of submissions here:
https://beta-community-app.topcoder.com/challenges/0ea10b6f-c089-457b-8c08-b01be006b25e?tab=submissions

But I'm not seeing the list of submissions. is it just that challenge?

[2020-07-17 00:16] #220 closed

[2020-07-17 00:16] ThomasKranitsas commented on #220
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30132811<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2020-07-17 03:30] SathyaJayabal commented on #219
@rootelement , The submissions are not displayed on the submissions tab because of a recent fix on the FE. Hoping to get that resolved soon.
https://github.com/topcoder-platform/community-app/issues/4552#issuecomment-659150945

[2020-07-17 05:43] SathyaJayabal commented on #219
@rootelement , the number of submissions on V5 updates immediately now after a submission is made from V5. V5->V4 and V4->V5 submission count sync takes a few minutes as expected.

Will verify the submission table once the FE issue is fixed and then close this issue.

[2020-07-17 07:29] SathyaJayabal opened #224 "Inconsistent number of challenges returned"
I have been noticing this since last week, Sometimes the number of challenges returned on the listings page is lesser than expected.

I had logged this issue before but closed this as it was fixed by evening. But for around 6 hours, only 4 challenges were displayed on the listings page
https://github.com/topcoder-platform/community-app/issues/4649

Today only 27 challenges are displayed (expected

[2020-07-17 07:41] SathyaJayabal commented on #224
another example
<img width="1670" alt="Screenshot 2020-07-17 at 1 05 01 PM" src="https://user-images.githubusercontent.com/58783823/87761170-9e69b500-c82e-11ea-9cd1-b7f6557fa879.png">
<img width="1673" alt="Screenshot 2020-07-17 at 1 05 10 PM" src="https://user-images.githubusercontent.com/58783823/87761225-b8a39300-c82e-11ea-974e-84053b821e42.png">

[2020-07-17 11:30] SathyaJayabal commented on #219
Verified the submission tab.

[2020-07-17 11:30] #219 closed

[2020-07-17 11:35] SathyaJayabal commented on #186
Phase sync looks good.

[2020-07-17 14:32] SathyaJayabal commented on #224
Its fixed now
<img width="1440" alt="Screenshot 2020-07-17 at 8 00 25 PM" src="https://user-images.githubusercontent.com/58783823/87797464-56678400-c868-11ea-9252-55fbffa864aa.png">

[2020-07-17 14:38] rootelement commented on #218
Related to #224

[2020-07-17 15:03] rootelement opened #225 "[$50] Payment for #199"
Leaving the tech debt part open, but @ThomasKranitsas fixed the core issue

[2020-07-17 15:05] ThomasKranitsas commented on #225
Contest https://www.topcoder.com/challenges/30133339 has been created for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2020-07-17 15:10] #225 closed

[2020-07-17 15:11] ThomasKranitsas commented on #225
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30133339<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2020-07-20 06:19] SathyaJayabal opened #226 "Some completed challenges are still active in V5"
Examples:
https://beta-community-app.topcoder.com/challenges/a0459f4d-f077-43fa-a02c-cd0926fa39cb
https://beta-community-app
<img width="1440" alt="Screenshot 2020-07-20 at 11 44 38 AM" src="https://user-images.githubusercontent.com/58783823/87905717-db2beb00-ca7e-11ea-8c10-15fc38a428e5.png">
.topcoder.com/challenges/b2e65efd-d460-4ae9-a4df-65d9e85c9fd3

<img width="1440" alt="Screenshot 2020-07-2

[2020-07-20 06:34] SathyaJayabal commented on #226
One more example
https://beta-community-app.topcoder.com/challenges/6b8ef58c-c01a-4da0-bdff-e4f7c349d186

Some challenges are in stalled state too. Maybe sync is frozen, @rootelement
<img width="1440" alt="Screenshot 2020-07-20 at 12 03 34 PM" src="https://user-images.githubusercontent.com/58783823/87906878-192a0e80-ca81-11ea-8a8b-d0a837993283.png">

[2020-07-20 11:20] vikasrohit opened #227 "Can not activate challenge"
When trying to activate a challenge, it is failing now complaining `You cannot activate the challenge as it has not been created on legacy yet. Please try again later or contact support.`. When I looked into the code, I found that we are looking for `directProjectId` in `legacy` field of the challenge while activating a challenge. However, it seems this field is not stored in the DynamoDB while th

[2020-07-20 11:28] vikasrohit commented on #198
Updating the issue with latest conversations via Slack.
After recent changes via commit https://github.com/topcoder-platform/legacy-challenge-migration-script/commit/0e578def4e329cf991a967a9923a03c88bd2ddfc, it seems the issue is not happening (at least frequently). We still need to keep an eye on it to ensure that it is not happening even for intermittent cases.

[2020-07-20 13:30] rootelement commented on #201
This is fixed in dev and prod. Took a lot more tracking down than expected. Can be retested @SathyaJayabal

[2020-07-20 20:36] rootelement commented on #226
@SathyaJayabal sync updated in prod. Please retest

[2020-07-21 05:26] SathyaJayabal commented on #201
@rootelement

1. Some challenges registrants count is wrong(when compared to list of registrants displayed below)
example:
https://beta-community-app.topcoder.com/challenges/339964ff-69fe-42f4-b97f-1f67e8561c75?tab=registrants
https://www.topcoder.com/challenges/30108180?tab=registrants

<img width="1440" alt="Screenshot 2020-07-21 at 10 15 26 AM" src="https://user-images.githubusercontent.com/587

[2020-07-21 05:34] SathyaJayabal commented on #201
4. Register from V5. Registrant immediately appears on the registrants list, but registrant count is not updated. This could be related to point 1 above.

[2020-07-21 05:54] SathyaJayabal commented on #226
@rootelement, currently closed challenges are good. Let us wait a day and see if the challenges closing are synced correctly.

[2020-07-21 06:21] SathyaJayabal opened #228 "Number of submissions must count multiple submissions from same user as a single submission for code challenges"
Number of submissions must count multiple submissions from same user as only as a single submission for code challenges
example:
https://beta-community-app.topcoder.com/challenges/d37dc13a-dfef-400c-aa06-970a87a1ac37?tab=submissions
https://www.topcoder.com/challenges/30133348?tab=submissions

<img width="1440" alt="Screenshot 2020-07-21 at 11 35 23 AM" src="https://user-images.githubusercontent.c

[2020-07-21 14:16] rootelement commented on #228
@SathyaJayabal this is a UI issue. The API provides the information, the UI displays it. We don't change how the data is represented for a single challenge type. CWD says that this is already implemented on v5 for Marathon Matches.

[2020-07-21 14:18] rootelement commented on #201
1 & 2 were because the sync failed. I had to restart it. I'm really not sure about 3. Might want to open that in a separate issue and close this one.

[2020-07-21 14:20] rootelement opened #229 "[$150] Create Terms API Webhook Receiver, Update Terms API"
https://github.com/topcoder-platform/terms-service/issues/30

PR: https://github.com/topcoder-platform/terms-service/pull/32

[2020-07-21 14:21] rootelement commented on #229
Also implemented Terms Receiver Security HMAC

[2020-07-21 14:23] rootelement commented on #229
Contest https://www.topcoder.com/challenges/30133810 has been created for this ticket.<br/><br/>```This is an automated message for jcori via Topcoder X```

[2020-07-21 14:24] rootelement commented on #229
Contest https://www.topcoder.com/challenges/30133810 has been updated - thomaskranitsas has been unassigned.<br/><br/>```This is an automated message for jcori via Topcoder X```

[2020-07-21 14:26] rootelement commented on #229
Contest https://www.topcoder.com/challenges/30133810 has been updated - thomaskranitsas has been unassigned.<br/><br/>```This is an automated message for jcori via Topcoder X```

[2020-07-21 14:29] rootelement commented on #229
Contest https://www.topcoder.com/challenges/30133810 has been updated - thomaskranitsas has been unassigned.<br/><br/>```This is an automated message for jcori via Topcoder X```

[2020-07-21 14:29] ThomasKranitsas commented on #229
Contest https://www.topcoder.com/challenges/30133810 has been updated - thomaskranitsas has been unassigned.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2020-07-21 14:30] ThomasKranitsas commented on #229
This ticket was not processed for payment. If you would like to process it for payment, please reopen it, add the ```tcx_FixAccepted``` label, and then close it again<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2020-07-21 14:30] ThomasKranitsas commented on #229
Contest https://www.topcoder.com/challenges/30133810 has been updated - it has been assigned to thomaskranitsas.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2020-07-21 14:31] #229 closed

[2020-07-21 14:31] ThomasKranitsas commented on #229
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30133810<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2020-07-21 14:31] SathyaJayabal commented on #228
Tracked on community repo
https://github.com/topcoder-platform/community-app/issues/4666

[2020-07-21 14:31] #228 closed

[2020-07-21 14:33] rootelement opened #230 "Github ticket rules"
# How to work with git tickets

The basic flow for handling a ticket is as follows:

1. Assign the ticket to yourself, change the label to "tcx_Assigned", remove the "tcx_OpenForPickup" label.  Please only assign tickets to yourself when you are ready to work on it.  I don't want tickets assigned to someone and then not have them work on a ticket for 24 hours.  The goal here is a quick turnaround

[2020-07-21 15:18] SathyaJayabal commented on #201
@rootelement , yes 1 and 2 are fine now. Will track 3 separately.

[2020-07-21 15:21] SathyaJayabal opened #231 "Timezone of the registration date is incorrect V5, when user has registered from V4."
Timezone of the registration date is incorrect V5, when user has registered from V4.

<img width="1440" alt="Screenshot 2020-07-21 at 8 52 53 PM" src="https://user-images.githubusercontent.com/58783823/88073822-43202580-cb94-11ea-8d70-5129cef656d2.png">

[2020-07-22 11:04] vikasrohit commented on #227
Closing the issue in challenge api because issues was with payload. But still we have some issues in overall activation process specifically in legacy challenge processor. I will open issue with legacy challenge processor to get that fixed.

[2020-07-22 11:04] #227 closed

[2020-07-22 14:02] #226 closed

[2020-07-22 21:40] ThomasKranitsas opened #233 "[$25] Update the joi validation on the legacy processor"
From Vikas:

The legacy processor is throwing the following errors:
[code]

The validation on the legacy processor needs to be updated to support the latest challenge model.

cc @rootelement

[2020-07-23 02:45] rootelement commented on #218
@SathyaJayabal marking this as Ready for QA. I need more eyes on it. I'm not 100% it's correct, and the tasks are still showing up for now, but please let us know what you think.

[2020-07-23 04:18] SathyaJayabal commented on #215
@rootelement , is it possible to remove this one duplicate challenge and we can close this issue.

[2020-07-23 05:43] SathyaJayabal opened #234 "Duplicates on the registrants list"
example:
https://beta-community-app.topcoder.com/challenges/ad772ce5-4603-4d47-9eb5-855f7cb37e0d?tab=registrants
<img width="1440" alt="Screenshot 2020-07-23 at 11 13 22 AM" src="https://user-images.githubusercontent.com/58783823/88255254-8afa9600-ccd5-11ea-9e36-b6e9ce7a3d61.png">

[2020-07-23 08:30] SathyaJayabal opened #235 "Registration Sync issues"
@rootelement, observed the below behaviour
example challenge
https://www.topcoder.com/challenges/30133861
https://beta-community-app.topcoder.com/challenges/f66d1e14-e521-4211-a81b-f52f62a6314e
1. Register to a challenge in V5.
user:picachuitest2
<img width="1440" alt="Screenshot 2020-07-23 at 11 46 19 AM" src="https://user-images.githubusercontent.com/58783823/88257106-a4521100-ccda-11ea-93bb-816

[2020-07-23 08:51] SathyaJayabal commented on #224
@rootelement , I did not observe this after the 17th Jul. Closing this issue.

[2020-07-23 08:51] #224 closed

[2020-07-23 08:53] SathyaJayabal commented on #218
@rootelement , performance has definitely improved a lot for logged in users. The challenge counts in the various buckets is also good. Will continue to test and observe this for a couple of days before closing this.

[2020-07-23 08:59] SathyaJayabal commented on #235
@rootelement , when i later tested for user: picachuitest1 and customeruser for the below challenge, V5 to V4 sync worked fine and registrations done in V5 were reflected in V4 almost immediately.
https://beta-community-app.topcoder.com/challenges/f9dc7412-22c2-414c-a075-84c1d9fb6c8b?tab=registrants
https://www.topcoder.com/challenges/30133858?tab=registrants

[2020-07-24 15:32] rootelement commented on #218
@SathyaJayabal I'm going to close this out to pay Thomas. If there are any problems, please open a new issue.

[2020-07-24 15:37] rootelement commented on #218
Reopening to try to get TCX to pick it up.

[2020-07-24 15:57] #230 closed

[2020-07-24 15:58] rootelement commented on #218
Trying again

[2020-07-24 16:00] rootelement commented on #218
Contest https://www.topcoder.com/challenges/30134231 has been created for this ticket.<br/><br/>```This is an automated message for jcori via Topcoder X```

[2020-07-24 16:01] rootelement commented on #218
Contest https://www.topcoder.com/challenges/30134231 has been updated - it has been assigned to thomaskranitsas.<br/><br/>```This is an automated message for jcori via Topcoder X```

[2020-07-24 16:08] #218 closed

[2020-07-24 16:08] rootelement commented on #218
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30134231<br/><br/>```This is an automated message for jcori via Topcoder X```

[2020-07-24 16:15] rootelement opened #237 "[$200] Convert Task types and Migration Script"
- Add a `legacy.isTask` object
- Update the migration script to populate that field as well as set the appropriate task type
- Update the legacy-challenge-processor to correctly set it back the other way
- Create a migration script to run on live data to update these fields.

[2020-07-24 16:17] rootelement commented on #237
Contest https://www.topcoder.com/challenges/30134232 has been created for this ticket.<br/><br/>```This is an automated message for jcori via Topcoder X```

[2020-07-24 16:18] rootelement commented on #237
Contest https://www.topcoder.com/challenges/30134232 has been updated - it has been assigned to thomaskranitsas.<br/><br/>```This is an automated message for jcori via Topcoder X```

[2020-07-27 06:57] SathyaJayabal opened #238 "Challenge listings displays many invalid challenges for Not-logged in user"
Challenge listings displays many invalid challenges for Not-logged in user
https://beta-community-app.topcoder.com/challenges

example  of these challenges:
https://beta-community-app.topcoder.com/challenges/ec9c0e3b-de76-4ccd-8ec3-ea9e6aa2f0c7
https://beta-community-app.topcoder.com/challenges/cfa902f4-4023-4d41-8241-97528a561aff
These challenges are not valid and the we get an error when opening

[2020-07-27 15:05] #235 closed

[2020-07-27 15:09] SathyaJayabal commented on #186
Phases seem out of sync again. cc @rootelement @lakshmiathreya
<img width="1440" alt="Screenshot 2020-07-27 at 8 37 00 PM" src="https://user-images.githubusercontent.com/58783823/88558467-321a5d00-d049-11ea-838a-003d132608b6.png">
<img width="1440" alt="Screenshot 2020-07-27 at 8 37 43 PM" src="https://user-images.githubusercontent.com/58783823/88558488-39416b00-d049-11ea-819e-3f7dc563e68c.png">
<

[2020-07-28 01:59] rootelement commented on #234
I _think_ this was a symptom of the sync issues we were having at the time with v5 changes being different from v4 sync'd registrants. I force-synced this one and it worked fine. I'm going to force-sync recent challenges just to make sure there are no others, but please let me know if you see any more issues

[2020-07-28 02:01] rootelement commented on #233
@ThomasKranitsas please let me know if this is done, link the commit

[2020-07-28 02:02] ThomasKranitsas commented on #233
It’s done and deployed

[2020-07-28 02:03] rootelement commented on #233
Contest https://www.topcoder.com/challenges/30134515 has been created for this ticket.<br/><br/>```This is an automated message for jcori via Topcoder X```

[2020-07-28 02:03] rootelement commented on #233
Contest https://www.topcoder.com/challenges/30134515 has been updated - it has been assigned to thomaskranitsas.<br/><br/>```This is an automated message for jcori via Topcoder X```

[2020-07-28 03:19] rootelement commented on #187
Is this still an issue? or can this be closed?

[2020-07-28 05:02] SathyaJayabal commented on #211
https://api.topcoder.com/v5/challenges?memberId=MMM
does not return all challenges of the user
user : picachui
<img width="1440" alt="Screenshot 2020-07-28 at 10 31 53 AM" src="https://user-images.githubusercontent.com/58783823/88621260-9d057b80-d0bd-11ea-8808-c0daa3e6daf0.png">
Only the 7 challenges out of the 12 are returned by the api
https://api.topcoder.com/v5/challenges?memberId=22778049&sta

[2020-07-28 05:02] SathyaJayabal commented on #211
cc @rootelement

[2020-07-28 05:41] SathyaJayabal commented on #238
These challenges are not seen now
<img width="1440" alt="Screenshot 2020-07-28 at 11 11 25 AM" src="https://user-images.githubusercontent.com/58783823/88623678-194e8d80-d0c3-11ea-9347-a5102c4e7509.png">

[2020-07-28 05:41] #238 closed

[2020-07-28 06:25] SathyaJayabal commented on #222
Tasks do not show up in v5 as expected.
<img width="1440" alt="Screenshot 2020-07-28 at 11 55 18 AM" src="https://user-images.githubusercontent.com/58783823/88626989-3a19e180-d0c9-11ea-8eb0-269400da31ea.png">

[2020-07-28 06:41] SathyaJayabal commented on #215
@rootelement , found two more duplicate challenges
1.
https://beta-community-app.topcoder.com/challenges/7d2315b1-e0e8-4340-a6a6-71924562e343
https://beta-community-app.topcoder.com/challenges/bb81e459-0ba5-4635-a91a-7635ec89d6be
https://www.topcoder.com/challenges/30128733

2.
https://beta-community-app.topcoder.com/challenges/9ee0e5a3-1a27-4a5f-b4d3-28285454474e
https://beta-community-app.topcod

[2020-07-28 06:42] SathyaJayabal commented on #186
phases are good now

[2020-07-28 06:42] #186 closed

[2020-07-28 06:56] SathyaJayabal commented on #201
@rootelement , registrations from v4 not synced to v5
<img width="1440" alt="Screenshot 2020-07-28 at 12 23 33 PM" src="https://user-images.githubusercontent.com/58783823/88629828-620b4400-d0cd-11ea-8f16-99245a352d64.png">

[2020-07-28 20:17] rootelement commented on #215
These have been removed. Please list any others you find.

[2020-07-28 21:07] rootelement commented on #201
This looks good now. The only things I see off now are:
 - Prizes for v4 challenges that aren't listed ($0 and $1 challenges) show up in v5
 - Submissions on code for multiple submissions show up, as we talked about.

Everything else exactly matches at first glance.
Fixed a couple problems with the sync and it has caught up and run.

I also removed the duplicate challenges you found in #215

And I

[2020-07-29 03:30] SathyaJayabal commented on #201
@rootelement , i still see empty registrants list on this challenge
https://beta-community-app.topcoder.com/challenges/2ce9c4cb-b4ce-4aa5-9807-d3f655860732?tab=registrants
<img width="1440" alt="Screenshot 2020-07-29 at 8 59 45 AM" src="https://user-images.githubusercontent.com/58783823/88753480-df8c8e00-d179-11ea-9f1f-883aa0864954.png">

[2020-07-29 05:35] SathyaJayabal commented on #215
@rootelement , closing this  issue, We will reopen if we find any more.

[2020-07-29 05:35] #215 closed

[2020-07-29 05:50] SathyaJayabal commented on #211
This will be fixed as part of #201

[2020-07-29 05:50] #211 closed

[2020-07-29 05:50] SathyaJayabal commented on #201
@rootelement , one more
https://beta-community-app.topcoder.com/challenges/0ea10b6f-c089-457b-8c08-b01be006b25e?tab=registrants
<img width="1440" alt="Screenshot 2020-07-29 at 11 19 29 AM" src="https://user-images.githubusercontent.com/58783823/88761768-6ac34f00-d18d-11ea-95cd-dd3caf3f0ec5.png">

[2020-07-29 06:03] SathyaJayabal commented on #222
@rootelement , tasks assigned to the user show up in V4 where as these do not show up in V5.

example: user picachui can see their Tass payment tasks on V4 but not on V5

[2020-07-29 06:04] #222 closed

[2020-07-29 06:07] SathyaJayabal opened #239 "Tasks assigned to a member are missing in challenge listings"
Tasks assigned to a member are displayed in V4 but not in V5. Example taas payment tasks for my handle picachui is visible in V4 but not in v5.

Also tasks where the user is an observer (or any other role) should also be displayed.

[2020-07-29 06:08] SathyaJayabal commented on #234
Lets reopen this if we find more duplicates

[2020-07-29 06:08] #234 closed

[2020-07-29 07:25] SathyaJayabal commented on #201
one more case where registrants data is missing
https://beta-community-app.topcoder.com/challenges/27d092fa-167c-4a0c-b6ee-b07ace75c159?tab=registrants
https://www.topcoder.com/challenges/30131970?tab=registrants
<img width="1440" alt="Screenshot 2020-07-29 at 12 35 03 PM" src="https://user-images.githubusercontent.com/58783823/88767951-f9d56480-d197-11ea-81a2-e25c821c7a12.png">
<img width="1440"

[2020-07-29 15:15] ThomasKranitsas opened #240 "[$40] Update resources API to return all roles when searching for your own member ID"
Ref https://github.com/topcoder-platform/community-app/issues/4672

When calling `GET /resources`, the API should return all roles for the caller's ID if the caller is not an admin/M2M.

cc @rootelement

[2020-07-29 15:18] ThomasKranitsas opened #241 "Add support for isActive on resources"
1. Update the challenge resource processor to listen for challenge updated and update the resource to set an active flag to the same value as the challenge active status. Basically, if a challenge is active, the resource is active..
2. Add to GET /resources the ability to filter by Active (null (no filter - both states), false, true)
3. Add to the query on Resources to listChallengesByMember to to