[2020-07-29 16:25] #233 closed

[2020-07-29 16:25] rootelement commented on #233
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30134515<br/><br/>```This is an automated message for jcori via Topcoder X```

[2020-07-29 16:30] cagdas001 commented on #240
@ThomasKranitsas I guess this issue is at wrong repo. This repo is **challenge-api** This should be at [resources-api](https://github.com/topcoder-platform/resources-api), right?

[2020-07-29 17:21] rootelement commented on #214
Based on our call today, I don't believe this is a blocker anymore.

[2020-07-29 17:49] ThomasKranitsas commented on #240
@cagdas001 this is the repo we're using to keep track of the work we're doing on the APIs. I'm working on this issue and will provide a solution ASAP

[2020-07-29 20:25] rootelement commented on #240
Yeah @cagdas001 , we're paying out issues on the APIs from this repo. Thomas will tag the PR/commit here when it's complete, we'll test, deploy, then update the community app issue.

[2020-07-30 04:26] SathyaJayabal commented on #214
@rootelement , we have legacy subtracks for some challenges and new subtracks assigned for some challenges. Infact only the Data Science contests have the new subtrack `challenge`.

What is expected ?

[2020-07-30 15:11] ThomasKranitsas commented on #240
@rootelement fixed in the following commits:
- https://github.com/topcoder-platform/resources-api/commit/c93f4460cb57cba297e84f6e29518b13875a7d83
- https://github.com/topcoder-platform/resources-api/commit/8e694012797be0aad0176f3d2c35733325b2cba2

[2020-07-30 20:06] rootelement opened #242 "[$400] Challenge Refactor"
This is a refactor to bring v5 in line with its original intent, making the object model simplified, and pushing the logic to translate to v4 into the legacy processors as it should be. Each section will have checkboxes for main tasks, then clarification underneath.

# What this Solves

1. v4 to v5 migration inconsistencies because the typeId is a v5 object, but track is not. Logical mapping of ty

[2020-07-31 13:58] rootelement commented on #240
Contest https://www.topcoder.com/challenges/30135489 has been created for this ticket.<br/><br/>```This is an automated message for jcori via Topcoder X```

[2020-07-31 13:58] rootelement commented on #240
Contest https://www.topcoder.com/challenges/30135489 has been updated - it has been assigned to thomaskranitsas.<br/><br/>```This is an automated message for jcori via Topcoder X```

[2020-07-31 17:44] rootelement opened #243 "[$100] Challenge Refactor - Create v4->v5 and v5->v4 Conversion"
From #242

Do these two items:

- [ ] Create GET /challenge-migration/convert-to-v4?track=:track&type=:type&tags=:tags
   - Response { track, subTrack, isTask }
- [ ] Create GET /challenge-migration/convert-to-v5?track=:track&subTrack=:subTrack&isTask:true/false
   - Response: { trackId, typeId, track, type, tags }

Use this document:
https://docs.google.com/spreadsheets/d/1ltADd47U9aIP7M7YUyAhHUb

[2020-07-31 19:46] rootelement commented on #243
Contest https://www.topcoder.com/challenges/30135502 has been created for this ticket.<br/><br/>```This is an automated message for jcori via Topcoder X```

[2020-07-31 19:47] rootelement commented on #243
Contest https://www.topcoder.com/challenges/30135502 has been updated - it has been assigned to thomaskranitsas.<br/><br/>```This is an automated message for jcori via Topcoder X```

[2020-07-31 19:47] #240 closed

[2020-07-31 19:47] rootelement commented on #240
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30135489<br/><br/>```This is an automated message for jcori via Topcoder X```

[2020-07-31 19:50] rootelement opened #244 "[$200] Challenge Refactor - Create Challenge Processor"
From #242

Create a Challenge Processor here:
https://github.com/topcoder-platform/challenge-processor

- [ ] Fork another processor you think is close
- [ ] Complete these actions when a challenge is updated
   - When a user registers on a challenge, if task.isTask, change task.isAssigned = true and populate memberId
   - When a user unregisters from a challenge, if task.isTask, change task.isAss

[2020-07-31 19:50] rootelement commented on #244
Contest https://www.topcoder.com/challenges/30135503 has been created for this ticket.<br/><br/>```This is an automated message for jcori via Topcoder X```

[2020-07-31 19:50] rootelement commented on #244
Contest https://www.topcoder.com/challenges/30135503 has been updated - it has been assigned to thomaskranitsas.<br/><br/>```This is an automated message for jcori via Topcoder X```

[2020-07-31 20:34] rootelement commented on #242
## Tests
V4 to V5:
[code]

## V5 to V4

[2020-07-31 20:52] ThomasKranitsas commented on #243
Done! Commits:
- https://github.com/topcoder-platform/legacy-challenge-migration-script/commit/cffceb5dd64b60699672e13f7ebc84a57c6c6469
- https://github.com/topcoder-platform/legacy-challenge-migration-script/commit/4c5a3632132e1ca701502a5790a598b50bfc3caf
- https://github.com/topcoder-platform/legacy-challenge-migration-script/commit/5516b4d36f264e79ea32ca469394b792c8b3548e

[2020-07-31 20:52] ThomasKranitsas commented on #243
PR: https://github.com/topcoder-platform/legacy-challenge-migration-script/pull/27

[2020-07-31 20:55] rootelement commented on #237
This ticket was not processed for payment. If you would like to process it for payment, please reopen it, add the ```tcx_FixAccepted``` label, and then close it again<br/><br/>```This is an automated message for jcori via Topcoder X```

[2020-07-31 20:56] #237 closed

[2020-07-31 20:56] rootelement commented on #237
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30134232<br/><br/>```This is an automated message for jcori via Topcoder X```

[2020-07-31 22:22] rootelement opened #245 "[$150] Challenge Refactor - Legacy & Processor Updates"
From #242

## Challenge API

- [x] Populate `track` from trackId (String: Design, Data Science, Development, Quality Assurance)
- [x]  Populate `type` from typeId (String: Challenge, First2Finish, Task)

## Resources API
- [x] Prevent adding more than one submitter on a challenge.task.isTask = true

## Legacy Challenge Processor

- [x] Update Legacy Challenge Processor to
   - Utilize the new prop

[2020-07-31 22:23] rootelement commented on #245
Contest https://www.topcoder.com/challenges/30135505 has been created for this ticket.<br/><br/>```This is an automated message for jcori via Topcoder X```

[2020-07-31 22:23] rootelement commented on #245
Contest https://www.topcoder.com/challenges/30135505 has been updated - it has been assigned to thomaskranitsas.<br/><br/>```This is an automated message for jcori via Topcoder X```

[2020-08-01 00:48] #244 closed

[2020-08-01 00:48] rootelement commented on #244
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30135503<br/><br/>```This is an automated message for jcori via Topcoder X```

[2020-08-01 00:48] #243 closed

[2020-08-01 00:48] rootelement commented on #243
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30135502<br/><br/>```This is an automated message for jcori via Topcoder X```

[2020-08-01 01:02] ThomasKranitsas commented on #245
Challenge API: https://github.com/topcoder-platform/challenge-api/commit/a106a2cbf717d747202a9323cbb0013c49750d73

[2020-08-01 01:22] ThomasKranitsas commented on #245
Resources API: https://github.com/topcoder-platform/resources-api/pull/37

[2020-08-01 01:54] ThomasKranitsas commented on #245
Legacy Challenge Processor: https://github.com/topcoder-platform/legacy-challenge-processor/commit/03114a002bb17f7da1aa6846756b499446e7ce24

[2020-08-01 05:31] rootelement opened #246 "[$80] Challenge Refactor - Update Challenge API Swagger"
Make sure the Challenge API swagger is up to date. Make sure to:

- [ ] Fix challenge CRUD
- [ ] Update ChallengeType (CRUD /challenge-types)
- [ ] Add ChallengeTrack (CRUD /challenge-tracks)

[2020-08-01 05:31] rootelement commented on #246
Contest https://www.topcoder.com/challenges/30135508 has been created for this ticket.<br/><br/>```This is an automated message for jcori via Topcoder X```

[2020-08-01 05:34] rootelement opened #247 "[$200] Challenge Refactor - Test in Dev"
Test actions in dev:

- [x] Create a JSON payload to create each track/type in this sheet and put them on this repo's wiki:
https://docs.google.com/spreadsheets/d/1ltADd47U9aIP7M7YUyAhHUbLJgUHszvNo0sIYaiDr_A/edit#gid=0

- [x] Run each challenge JSON in dev, confirm they arrive in v4 correctly, with no errors on:

  - Challenge Processor
  - Legacy Challenge Processor

- [x] Search Challenges

  -

[2020-08-01 05:35] #245 closed

[2020-08-01 05:35] rootelement commented on #245
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30135505<br/><br/>```This is an automated message for jcori via Topcoder X```

[2020-08-01 05:36] rootelement commented on #246
Contest https://www.topcoder.com/challenges/30135508 has been updated - it has been assigned to thomaskranitsas.<br/><br/>```This is an automated message for jcori via Topcoder X```

[2020-08-01 16:39] rootelement opened #248 "[$50] Clean Up Challenge API Tasks"
Remove this from the config:
[code]
Correctly implement `task.isTask`, `task.isAssigned`, and `task.memberId` in the search/filters.

[2020-08-01 16:40] rootelement commented on #248
Contest https://www.topcoder.com/challenges/30135520 has been created for this ticket.<br/><br/>```This is an automated message for jcori via Topcoder X```

[2020-08-01 16:40] rootelement commented on #248
Contest https://www.topcoder.com/challenges/30135520 has been updated - it has been assigned to thomaskranitsas.<br/><br/>```This is an automated message for jcori via Topcoder X```

[2020-08-01 18:07] ThomasKranitsas commented on #246
PR: https://github.com/topcoder-platform/challenge-api/pull/249

[2020-08-01 18:36] #246 closed

[2020-08-01 18:37] rootelement commented on #246
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30135508<br/><br/>```This is an automated message for jcori via Topcoder X```

[2020-08-01 18:41] rootelement opened #250 "Challenge Refactor - Challenge Processor Test"
I tried registering on a challenge in dev and got this:

[code]

should it be `Promise.all` ?
https://github.com/topcoder-platform/challenge-processor/blob/develop/src/app.js#L19

Also, this message is in the logs every minute, is that correct?
https://github.com/topcoder-platform/challenge-processor/blob/develop/src/app.js#L71

[2020-08-01 18:50] ThomasKranitsas commented on #250
Commit: https://github.com/topcoder-platform/challenge-processor/commit/5707f563e213c51753d4c50d21212f8741822b68

[2020-08-01 18:54] ThomasKranitsas commented on #248
Legacy challenge processor: https://github.com/topcoder-platform/legacy-challenge-processor/commit/c86f40f6ceb161ae09bb56f8b19910841cab4791

[2020-08-01 19:25] ThomasKranitsas commented on #248
Challenge API: https://github.com/topcoder-platform/challenge-api/pull/251

[2020-08-01 19:29] #248 closed

[2020-08-01 19:29] rootelement commented on #248
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30135520<br/><br/>```This is an automated message for jcori via Topcoder X```

[2020-08-01 19:29] #250 closed

[2020-08-01 19:52] rootelement opened #252 "[$50] Challenge Refactor - Add Search Properties to GET /challenges"
Update `GET /challenges`. Filters should bubble to uuid filters, don't search on names. if they pass a name that isn't valid, or a uuid that isn't valid, don't filter on it.

- [ ] Add `?types[]=Challenge&types[]=First 2 Finish`
- [ ] Add `?tracks[]=Design&tracks[]=Development`
- [ ] Add `?typeIds[]=uuid1&typeIds[]=uuid2`
- [ ] Add `?trackIds[]=uuid3&typeIds[]=uuid4`
- [ ] Update swagger

[2020-08-02 02:05] rootelement commented on #248
For #242

[2020-08-02 02:05] rootelement commented on #246
For #242

[2020-08-02 02:27] rootelement opened #253 "[$80] Challenge Refactor - Race condition issue"
When a user registers:
1. They click Register on the site
2. The site `POSTs /resources {challengeId, memberId, roleId}`
3. Resource API writes to Dynamo, posts a bus message that a resource has been created

Two things happen at the same time:
1. resource-processor-es picks up that message and writes the new resource to ES
2. challenge-processor-es picks up that message and queries `GET /resource

[2020-08-02 13:51] rootelement commented on #253
Fix using option #2

[2020-08-02 13:51] rootelement commented on #253
Contest https://www.topcoder.com/challenges/30135549 has been created for this ticket.<br/><br/>```This is an automated message for jcori via Topcoder X```

[2020-08-02 13:51] rootelement commented on #253
Contest https://www.topcoder.com/challenges/30135549 has been updated - it has been assigned to thomaskranitsas.<br/><br/>```This is an automated message for jcori via Topcoder X```

[2020-08-02 13:51] rootelement opened #254 "[$80] Fix Groups through Legacy Processor"
For #242
https://github.com/topcoder-platform/legacy-challenge-processor/issues/17

Add:
[code]

I've added this to the dev and prod configs:
`"V5_GROUPS_API_URL": "https://api.topcoder-dev.com/v5/groups",`

[2020-08-02 14:10] ThomasKranitsas commented on #247
PR: https://github.com/topcoder-platform/challenge-api/pull/255

[2020-08-02 14:30] rootelement commented on #252
Contest https://www.topcoder.com/challenges/30135550 has been created for this ticket.<br/><br/>```This is an automated message for jcori via Topcoder X```

[2020-08-02 14:30] rootelement commented on #252
Contest https://www.topcoder.com/challenges/30135550 has been updated - it has been assigned to thomaskranitsas.<br/><br/>```This is an automated message for jcori via Topcoder X```

[2020-08-02 14:31] rootelement commented on #254
Contest https://www.topcoder.com/challenges/30135551 has been created for this ticket.<br/><br/>```This is an automated message for jcori via Topcoder X```

[2020-08-02 14:31] rootelement commented on #254
Contest https://www.topcoder.com/challenges/30135551 has been updated - it has been assigned to thomaskranitsas.<br/><br/>```This is an automated message for jcori via Topcoder X```

[2020-08-02 15:24] ThomasKranitsas commented on #253
Resource API: https://github.com/topcoder-platform/resources-api/pull/38
Resource  processor ES: https://github.com/topcoder-platform/resource-processor-es/commit/4aecec6a6f78cb0d16aa23bfe0338795c8a4b135

[2020-08-02 16:02] ThomasKranitsas commented on #247
Legacy challenge resource processor:
- https://github.com/topcoder-platform/legacy-challenge-resource-processor/commit/3475a34d58e7e0505bfcc9b40982636374d222ea
- https://github.com/topcoder-platform/legacy-challenge-resource-processor/commit/7f189c5493c25171081aacf32aff9d1fb3b4a55e

[2020-08-02 17:11] ThomasKranitsas commented on #247
## Testing (using the postman collection) report

### Development:
- Challenge ✅
- First2Finish ✅
- Task ✅

### Design:
- Challenge ✅
- Challenge (RUX) ✅
- Challenge (with checkpoints) ✅
- First2Finish ✅
- Task ✅

### QA:
- Challenge ✅
- First2Finish ✅
- Task ✅

### Data Science:
- Challenge ✅
- Challenge (MM) ✅
- First2Finish ✅
- Task ✅

## Issues/Notes
- In some cases, the review type got ignore

[2020-08-02 17:14] ThomasKranitsas commented on #254
Commit: https://github.com/topcoder-platform/legacy-challenge-processor/commit/5c041ed1ace6b9011bb0fbb4a056286b90e79a96

[2020-08-02 17:45] ThomasKranitsas commented on #247
## Search challenge

- Search by `type` ✅
- Search by `typeId` ✅
- Search by `track` ✅
- Search by `trackId` ✅
- Search for tasks, adhering to security rules ✅

## Security rules for tasks
### Without auth:
- I'm only able to search/view for tasks that are not assigned to anyone.

### With auth (regular user):
- I'm able to search/view for tasks that are not assigned to anyone.
- I'm able to searc

[2020-08-02 17:46] ThomasKranitsas commented on #254
another commit https://github.com/topcoder-platform/legacy-challenge-processor/commit/d7c069f269397a60a35faf574b3a4457a55c78f7

[2020-08-02 17:48] ThomasKranitsas commented on #247
here are a few fixes I did related to security:
- https://github.com/topcoder-platform/challenge-api/commit/5fb05a60757e45e2d9cfcce01b853fd9f77cdfdb
- https://github.com/topcoder-platform/challenge-api/commit/3077356862b32e35c9bdae4d3203233279294abc

[2020-08-02 18:15] ThomasKranitsas commented on #247
## Test each "Bucket", provide the query to show that data. Clarify the query if it's wrong:

- All Challenges: `GET /challenges?status=Active` ✅
- My Challenges: GET /challenges?status=Active&memberId=:jwtMemberId ✅
- Open for Registration: GET /challenges?status=Active&currentPhaseName=Registration ✅
- Ongoing: GET /challenges?status=Active&registrationEndDateEnd=:todaysDate ✅  If the idea is to

[2020-08-02 18:29] ThomasKranitsas commented on #254
@rootelement the main logic was added but not `groups` nor `groupIds` work. Once you find out the property that needs to be used, just replace it in the code and this will work.

[2020-08-02 18:48] ThomasKranitsas commented on #252
Commit: https://github.com/topcoder-platform/challenge-api/commit/edc9135d04177e79e52a083199f7affb5acaec6e

[2020-08-03 03:35] #252 closed

[2020-08-03 03:35] #253 closed

[2020-08-03 03:35] #254 closed

[2020-08-03 03:35] rootelement commented on #252
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30135550<br/><br/>```This is an automated message for jcori via Topcoder X```

[2020-08-03 03:35] rootelement commented on #253
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30135549<br/><br/>```This is an automated message for jcori via Topcoder X```

[2020-08-03 03:35] rootelement commented on #254
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30135551<br/><br/>```This is an automated message for jcori via Topcoder X```

[2020-08-03 15:32] rootelement opened #256 "[$75] Legacy Challenge Processor - Add Groups via Informix"
Add Groups via Informix:

`tcs_catalog`.`contest_eligibility` contains the challenge id (`contest_id`), and `tcs_catalog`.`group_contest_eligibility` contains the group id or oldId (`group_id`)

Use this informix wrapper:
`"informix-wrapper": "git+https://github.com/appirio-tech/informix-wrapper.git#less-logs",`

You'll have to:
- Create the challenge via API first to get a legacy ID
- Get the Cha

[2020-08-04 03:40] rootelement commented on #256
Initial commit with untested code.
https://github.com/topcoder-platform/legacy-challenge-processor/blob/trying-informix-groups/src/services/groupsService.js

Here for reference:
https://github.com/topcoder-platform/legacy-groups-processor/blob/develop/src/services/ProcessorService.js

[2020-08-04 03:41] rootelement commented on #256
Contest https://www.topcoder.com/challenges/30135745 has been created for this ticket.<br/><br/>```This is an automated message for jcori via Topcoder X```

[2020-08-04 03:41] rootelement commented on #256
Contest https://www.topcoder.com/challenges/30135745 has been updated - it has been assigned to thomaskranitsas.<br/><br/>```This is an automated message for jcori via Topcoder X```

[2020-08-04 13:25] SathyaJayabal opened #257 "[$75] Tasks: Access issue on challenge details page"
User is able to see a task assigned to them on the challenge listings page, But get the error "You don't have access to view this challenge" when accessing the challenge details page.

example:
user:picachui
https://beta-community-app.topcoder.com/challenges/4db7f854-5c74-41b9-a0f9-b1c03245cfa9
<img width="1440" alt="Screenshot 2020-08-04 at 6 53 42 PM" src="https://user-images.githubusercontent.c

[2020-08-05 13:15] SathyaJayabal opened #258 "Challenge counts issue"
All challenges must be a sum of Open for registration and Ongoing Challenges
<img width="1440" alt="Screenshot 2020-08-05 at 6 43 06 PM" src="https://user-images.githubusercontent.com/58783823/89417008-bce71000-d74b-11ea-8641-2936da0e23b3.png">

[2020-08-05 17:22] rootelement commented on #257
I believe this is fixed:
https://beta-community-app.topcoder.com/challenges/7db724d4-7cf6-4e99-a045-0472f253e3a5

The UUID got destroyed by the re-migration, but the tasks show up now. The issue was comparing a member ID as a Number to a String. Thomas fixed it in
https://github.com/topcoder-platform/challenge-api/commit/cd8ba6b5b1ca65b9092b3d0ee5a8b87b495003a1#diff-6bf820f045aeaa766c1cac9497c693f

[2020-08-05 17:23] rootelement commented on #242
Contest https://www.topcoder.com/challenges/30136077 has been created for this ticket.<br/><br/>```This is an automated message for jcori via Topcoder X```

[2020-08-05 17:23] rootelement commented on #242
Contest https://www.topcoder.com/challenges/30136077 has been updated - it has been assigned to thomaskranitsas.<br/><br/>```This is an automated message for jcori via Topcoder X```

[2020-08-05 17:23] rootelement commented on #214
I believe this is closed here, but still open on the Community App side?

[2020-08-05 17:25] rootelement commented on #187
@SathyaJayabal ?

[2020-08-05 17:26] rootelement commented on #163
This is fixed by additional filters. Please review the swagger.

[2020-08-05 17:26] #163 closed

[2020-08-05 17:26] #117 closed

[2020-08-05 17:29] #104 closed

[2020-08-05 17:29] rootelement commented on #91
This was paid by support

[2020-08-05 17:29] #91 closed

[2020-08-05 17:30] rootelement commented on #91
This ticket was not processed for payment. If you would like to process it for payment, please reopen it, add the ```tcx_FixAccepted``` label, and then close it again<br/><br/>```This is an automated message for jcori via Topcoder X```

[2020-08-05 17:30] rootelement commented on #58
This has been fixed in sync/migration

[2020-08-05 17:30] #58 closed

[2020-08-05 17:31] #37 closed

[2020-08-05 17:31] #40 closed

[2020-08-05 17:32] #2 closed

[2020-08-06 03:07] SathyaJayabal commented on #257
@rootelement , I still the issue
https://beta-community-app.topcoder.com/challenges/4096df0c-57eb-4035-a496-e1aaeb2338a9
<img width="1440" alt="Screenshot 2020-08-06 at 8 34 47 AM" src="https://user-images.githubusercontent.com/58783823/89486128-f22d4580-d7bf-11ea-86a9-d88065268465.png">

[2020-08-06 03:11] #187 closed

[2020-08-06 03:12] SathyaJayabal commented on #214
yes right.

[2020-08-06 03:12] #214 closed

[2020-08-06 03:20] SathyaJayabal opened #260 "Past contests : Sort by most recent"
All tasks are displayed first in Past Challenges instead of sorted by most recent.

[2020-08-06 03:31] SathyaJayabal commented on #201
I believe this is fixed with the latest migration.

[2020-08-06 03:31] #201 closed

[2020-08-06 05:56] rootelement commented on #260
I think this is a frontend issue. There is `?sortBy=` and `?sortOrder=`

And you can `sortBy` these properties:
- 'updatedBy',
- 'updated',
- 'createdBy',
- 'created',
- 'endDate',
- 'startDate',
- 'projectId',
- 'name',
- 'typeId'

The only thing I'm sure it can't do is sort by multiple fields.

It looks like the Frontend is currently calling:
` https://api.topcoder.com/v5/challenges/?status=Comp

[2020-08-06 06:00] rootelement commented on #257
@ThomasKranitsas Can you please test this?

In prod, with this cURL:
[code]

I'm seeing the `picachui` account attached:
[code]

[2020-08-06 06:03] SathyaJayabal commented on #257
@rootelement @ThomasKranitsas , so I can see tasks on my listings page, but i get the error only when I click on it and access the details page.

[2020-08-06 08:03] SathyaJayabal commented on #260
tracking this on the community app repo

[2020-08-06 08:03] #260 closed

[2020-08-06 10:16] lakshmiathreya opened #261 "V4 and V5 Challenge counts disparity in Admin view"
In V5 (Beta), the Challenge Listings shows a significantly higher count than V4 (Prod) for an Admin user. Request for a review -
<img width="1614" alt="Screenshot 2020-08-06 at 3 35 54 PM" src="https://user-images.githubusercontent.com/51733042/89520733-f0817300-d7fb-11ea-90a2-145483031c97.png">
<img width="1633" alt="Screenshot 2020-08-06 at 3 41 15 PM" src="https://user-images.githubusercontent.

[2020-08-06 10:17] lakshmiathreya commented on #261
cc @sushilshinde @Oanh-and-only-Oanh @SathyaJayabal

[2020-08-06 14:20] ThomasKranitsas commented on #196
@rootelement This is no longer happening. We can close this issue

[2020-08-06 14:54] #196 closed

[2020-08-06 14:55] ThomasKranitsas commented on #27
@rootelement this can also be closed

[2020-08-06 15:22] ThomasKranitsas commented on #147
This seems to be working fine and the code also looks good.
@rootelement I believe we can close this

[2020-08-06 16:58] #27 closed

[2020-08-06 16:58] #147 closed

[2020-08-07 07:25] SathyaJayabal commented on #239
The user is able to view tasks assigned to them, but not where they have other roles like observer.Reducing the priority.

example:
https://www.topcoder.com/challenges/30133255
user picachui is an observer and can see this task in V4 but not in V5.

[2020-08-07 20:03] ThomasKranitsas commented on #257
@rootelement fixed in:
- https://github.com/topcoder-platform/challenge-api/pull/262
- https://github.com/topcoder-platform/challenge-processor/pull/1

It worked fine on dev. Currently deploying on prod.

[2020-08-07 20:38] ThomasKranitsas commented on #257
Another fix: https://github.com/topcoder-platform/challenge-api/pull/263

[2020-08-07 21:16] ThomasKranitsas commented on #257
one last fix: https://github.com/topcoder-platform/challenge-api/pull/264

[2020-08-09 06:28] SathyaJayabal opened #265 "Registrants list issues"
1. For this challenge we have duplicate registrants.
https://beta-community-app.topcoder.com/challenges/b22f699b-8c7b-4d67-aa77-20b00a58a657?tab=registrants
(not logged in user sees empty registrants list)

<img width="1440" alt="Screenshot 2020-08-09 at 11 55 08 AM" src="https://user-images.githubusercontent.com/58783823/89726351-59086400-da37-11ea-8100-fbc259ecc79c.png">

<img width="1440" alt="

[2020-08-09 07:44] SathyaJayabal commented on #265
Note: challenge 2 is fine now.

[2020-08-10 12:48] rootelement commented on #257
@SathyaJayabal can you please retest this?

[2020-08-10 12:51] rootelement commented on #242
This ticket was not processed for payment. If you would like to process it for payment, please reopen it, add the ```tcx_FixAccepted``` label, and then close it again<br/><br/>```This is an automated message for jcori via Topcoder X```

[2020-08-10 12:52] #242 closed

[2020-08-10 12:52] rootelement commented on #242
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30136077<br/><br/>```This is an automated message for jcori via Topcoder X```

[2020-08-10 12:52] rootelement commented on #256
@ThomasKranitsas  Please support debug. I've increased the prize.

[2020-08-10 13:01] rootelement commented on #265
I agree with this being a P2, maybe even lower, because this will all go away when the public registration is via v5.

[2020-08-10 13:15] rootelement commented on #239
@SathyaJayabal can you retest this? Since we fixed #257 , i believe that should fix this as well?

[2020-08-10 13:52] SathyaJayabal commented on #239
@rootelement , this one is not fixed yet.
Same example as above
example:
https://www.topcoder.com/challenges/30133255
user picachui is an observer and can see this task in V4 but not in V5.

[2020-08-10 13:53] SathyaJayabal commented on #257
@rootelement , verified, user can access the task challenge details page.

[2020-08-10 13:54] rootelement commented on #257
Contest https://www.topcoder.com/challenges/30136612 has been created for this ticket.<br/><br/>```This is an automated message for jcori via Topcoder X```

[2020-08-10 13:54] rootelement commented on #257
Contest https://www.topcoder.com/challenges/30136612 has been updated - it has been assigned to thomaskranitsas.<br/><br/>```This is an automated message for jcori via Topcoder X```

[2020-08-10 13:54] #257 closed

[2020-08-10 13:55] rootelement commented on #247
Contest https://www.topcoder.com/challenges/30136613 has been created for this ticket.<br/><br/>```This is an automated message for jcori via Topcoder X```

[2020-08-10 13:55] rootelement commented on #247
Contest https://www.topcoder.com/challenges/30136613 has been updated - it has been assigned to thomaskranitsas.<br/><br/>```This is an automated message for jcori via Topcoder X```

[2020-08-10 13:57] rootelement commented on #257
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30136612<br/><br/>```This is an automated message for jcori via Topcoder X```

[2020-08-10 14:50] SathyaJayabal opened #266 "Past challenges: NumOfSubmissions for design challenges includes checkpoint submissions"
In some cases(past challenges) the number of submissions (numOfSubmissions) returned includes the checkpoint submissions. So when the frontend adds numOfSubmissions + numOfCheckpointSubmissions, it gives the wrong number.
Example:
https://beta-community-app.topcoder.com/challenges/63ed01ee-c019-4c31-bcd5-9096a78929ef
https://www.topcoder.com/challenges/30132448
<img width="1440" alt="Screenshot 20

[2020-08-12 06:00] SathyaJayabal opened #267 "Winners info missing for a challenge"
Winners info missing for a challenge
https://beta-community-app.topcoder.com/challenges/3f2d5317-258f-42ac-b667-adfdb7628b75
https://www.topcoder.com/challenges/30135642?tab=winners
Note: I could not find any other challenge missing this info
<img width="1440" alt="Screenshot 2020-08-12 at 11 29 11 AM" src="https://user-images.githubusercontent.com/58783823/89980236-1e990400-dc8f-11ea-8ce9-3488403

[2020-08-12 06:00] SathyaJayabal commented on #267
cc @lakshmiathreya

[2020-08-12 13:21] SathyaJayabal commented on #239
@rootelement ,
1. A task assigned to the user  appears only under My Challenges bucket. It should also appear under Ongoing  Challenges bucket.
example:
https://www.topcoder.com/challenges/30136852
https://www.topcoder.com/challenges/30136850
https://beta-community-app.topcoder.com/challenges/46e60f21-29d2-482e-86e3-04673cee9aaa
https://beta-community-app.topcoder.com/challenges/7f7762e5-fe0c-4a9a

[2020-08-12 13:54] rootelement opened #268 "[$75] Filter on Events"
You should be able to filter on `GET /v5/challenges?events[]=tco21`

[2020-08-12 22:47] rootelement commented on #256
I removed ES, queried against informix directly, and tested in dev.

[2020-08-12 22:47] rootelement commented on #256
This ticket was not processed for payment. If you would like to process it for payment, please reopen it, add the ```tcx_FixAccepted``` label, and then close it again<br/><br/>```This is an automated message for jcori via Topcoder X```

[2020-08-12 23:26] #256 closed

[2020-08-12 23:26] rootelement commented on #256
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30135745<br/><br/>```This is an automated message for jcori via Topcoder X```

[2020-08-12 23:28] #247 closed

[2020-08-12 23:28] rootelement commented on #247
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30136613<br/><br/>```This is an automated message for jcori via Topcoder X```

[2020-08-12 23:29] rootelement commented on #198
Can we close this now @vikasrohit ?

[2020-08-12 23:29] #180 closed

[2020-08-12 23:33] rootelement commented on #124
This issue in and of itself is fixed. The search is definitely fuzzy now. But it's very vague. There will be a related issue opened to make the search more intelligent across not only name, but challenge description and tags

[2020-08-12 23:33] #124 closed

[2020-08-13 08:20] SathyaJayabal opened #269 "Tasks: completed tasks have a submission on V4, but not on V5"
Tasks:  completed tasks have a submission on V4, but not on V5.

@Oanh-and-only-Oanh , not sure if this is an issue.

example:
<img width="1440" alt="Screenshot 2020-08-13 at 1 36 25 PM" src="https://user-images.githubusercontent.com/58783823/90111067-bcfa9780-dd6b-11ea-9366-42be1675708b.png">
<img width="1440" alt="Screenshot 2020-08-13 at 1 48 36 PM" src="https://user-images.githubusercontent.co

[2020-08-13 10:11] ThomasKranitsas commented on #269
AFAIK, on v4, we create some dummy submission record in order to be able to close the challenge. I'm not sure if that's what's causing this issue.

[2020-08-13 10:38] SathyaJayabal commented on #269
Yes, you are right. If @Oanh-and-only-Oanh confirms if its ok, we can close this issue.

[2020-08-13 10:49] SathyaJayabal commented on #269
@ThomasKranitsas , do you know from where the dummy submission is created?  Will this issue cause problems in closing tasks after V5 release.
cc @rootelement

[2020-08-13 19:41] Oanh-and-only-Oanh commented on #269
From a front-end perspective, that's fine not to have submission for completed tasks. Just want to make sure we're still able to close out the challenge?

[2020-08-14 11:11] SathyaJayabal opened #270 "Registrants count: incorrect # of registrants displays after a user submits to a challenge"
Registrants count: incorrect # registrants displays after a user registers/submits to a challenge. The correct count is updated after a few mins after sync runs.

1. Note the # of registrants for a challenge
2.Submit to the challenge
3. Note number of registrants become equal to number of submissions (both details and listings page)
4. wait for few mins - sync updates number of registrants to corr

[2020-08-14 11:43] SathyaJayabal commented on #270
Adding screenshots

1.Note the # of registrants for a challenge and submit
<img width="1440" alt="Screenshot 2020-08-14 at 5 01 55 PM" src="https://user-images.githubusercontent.com/58783823/90245398-3966a680-de50-11ea-95b6-fd8f0d4d6ddd.png">
2. Note number of registrants become equal to number of submissions
<img width="1440" alt="Screenshot 2020-08-14 at 5 02 48 PM" src="https://user-images.gith

[2020-08-14 13:18] SathyaJayabal opened #271 "Track v4->v5 mapping clarification"
https://docs.google.com/spreadsheets/d/1ltADd47U9aIP7M7YUyAhHUbLJgUHszvNo0sIYaiDr_A/edit?usp=sharing
As per the mapping document there is only MM for DataScience track. In topcoder direct too, I see only MM option under DataScience.

But I see a few Code challenges under Data Science track in production. These have been mapped to Develop /Code Challenges in V5.

Example:
https://www.topcoder.com/c

[2020-08-18 10:53] maxceem opened #272 "Owner doesn't have permissions to load challenge if task is assigned to someone"
## Steps to reproduce

1. Create a challenge with any non-admin user, for example, with a Topcoder Manager `pshah_manager`
2. Call `GET` endpoint for the created challenge using Postman to make sure that `pshah_manager` user can see the challenge.
3. Use Postman to `PATCH` the challenge and assign task member with the next body:
[code]
4. Now call `GET` endpoint again, the access would be denied:

[2020-08-19 08:09] m-yadav opened #273 "Unable to open Old marathon rounds via challenge page"
Challenge page for old marathon matches was visible via the URL "topcoder.com/challenges/<</roundId/>> . but it has started giving error now saying "Cannot read property 'id' of undefined"

Steps :

1.Pick any old round id . for eg : 17036  -- SpaceNet RoadDetector - RoadDetector Marathon Match
2.Hitting the URL topcoder.com/challenges/17036 shows below

![image](https://user-images.githubusercont

[2020-08-19 08:17] m-yadav commented on #273
opened in wrong repo... so closing it...

[2020-08-19 08:17] #273 closed

[2020-08-20 04:59] lakshmiathreya opened #274 "New Challenge missing in V5/Dynamo Db"
Newly created challenge is seen in V4/OR. Missing in V5/Dynamo Db.
http://api.topcoder.com/v5/challenges?legacyId=30137850 returns null too.

<img width="1534" alt="Screenshot 2020-08-20 at 10 22 28 AM" src="https://user-images.githubusercontent.com/51733042/90718608-ef5a4680-e2cf-11ea-9754-43059952b3fe.png">

<img width="1601" alt="Screenshot 2020-08-20 at 10 21 53 AM" src="https://user-images.gi

[2020-08-20 05:01] lakshmiathreya commented on #274
cc @sushilshinde @Oanh-and-only-Oanh @mtwomey.

Might be a sync issue? If Sync doesn't work and Challenges continue to be missed in V5 - we have only 2 options:
1. Use Beta (v4) as primary OR
2. Rollback V5

[2020-08-20 09:04] lakshmiathreya commented on #274
<img width="1590" alt="Screenshot 2020-08-20 at 2 33 05 PM" src="https://user-images.githubusercontent.com/51733042/90750245-293c4480-e2f2-11ea-87ab-3653e3da9f22.png">

[2020-08-20 09:04] lakshmiathreya commented on #274
Challenge appearing in V4 now after latency of about 12 hours ...

[2020-08-20 09:18] SathyaJayabal commented on #274
@lakshmiathreya , sync will only sync active challenges, hence the draft challenge did not appear in v5.
This is working as expected.

[2020-08-20 09:20] SathyaJayabal commented on #274
@rootelement @lakshmiathreya @Oanh-and-only-Oanh , this means the copilot creating the challenge will not be able to view the challenge when its in draft state.

[2020-08-20 12:50] lakshmiathreya commented on #274
Draft Challenges should be part of Sync process. Support reported that they need to be able to see Draft challenges in Comm App - in line with their usage previously.

[2020-08-20 13:24] rootelement commented on #274
That's a huge change that will heavily weigh on the sync process. We'll
have to architect it out. It's easy when we switch to using Challenge
Manager and challenges are created in v5...

On Thu, Aug 20, 2020 at 8:50 AM lakshmiathreya <notifications@github.com>
wrote:

--

James Cori
Lead Software Engineer
jcori@topcoder.com / 413.961.9044 / @jamesmcori
<https://twitter.com/jamesmcori>

<cbonner@to

[2020-08-20 13:26] rootelement commented on #274
Just at a quick glance, we're syncing ~2000 active challenges. There are
11,000 challenges in draft. While we can slow down the migration and sync
process since registration is through v5. We'll have to monitor it.

On Thu, Aug 20, 2020 at 9:23 AM Cori, James <jcori@topcoder.com> wrote:

--

James Cori
Lead Software Engineer
jcori@topcoder.com / 413.961.9044 / @jamesmcori
<https://twitter.com/jame

[2020-08-20 15:52] ThomasKranitsas opened #275 "The sortBy property is not working correctly"
When searching for challenges, the `sortBy` property is not working for any non-date property. For example, if I set it to `sortBy=created` or `sortBy=updated` it works but if I set it to `sortBy=name` it doesn't work.

It should work and should sort the results alphabetically.

cc @rootelement

[2020-08-20 16:13] ThomasKranitsas commented on #270
@rootelement this has been fixed here https://github.com/topcoder-platform/challenge-processor-es/commit/8e07388015b2e66ee2c50adad8ac89e719898824

[2020-08-24 12:26] vikasrohit opened #276 "Non task challenge is also not returned with task challenge"
@rootelement I think we don't yet support listing tasks (which are not assigned to the user) for a non admin user, however, I think the current logic is causing non task challenges to to missing from the response as well for non admin users. We have user `pshah_manager` who is not able to see tasks and challenge which were created using the same account. This user is not an admin but it did create

[2020-08-24 12:38] vikasrohit commented on #276
@rootelement @ThomasKranitsas suggested a fix https://github.com/topcoder-platform/challenge-api/pull/277. I tried the query in postman by directly calling the ES endpoint but not tested the code itself. Further, I am not sure if it creates issue with any other use case e.g. public challenge listings or not.

[2020-08-24 12:55] rootelement opened #278 "Secure the Legacy Migration API"
On this repo:
https://github.com/topcoder-platform/legacy-challenge-migration-script

There are service APIs. Please add M2M security, requiring the listed scopes for access:
[code]

[2020-08-24 13:02] rootelement commented on #276
@vikasrohit I've merged the PR to dev. Please test there. If it looks good to you, we can have the QA team test as well.

[2020-08-24 13:24] rootelement opened #279 "[$75] Final Submission Guidelines Appended when they Shouldn't Be"
Issue here:
https://github.com/topcoder-platform/community-app/issues/4747

Apparently the finalSubmissionGuidelines property was there but had a string "null", so that was appended to the spec during migration.

We need:
1. To update the migration/sync to check for this and not append it to the spec
2. A migration script to check the specs for that exact string as laid out in the issue linked abo

[2020-08-24 14:45] vikasrohit opened #280 "Tasks are not listed in GET endpoint for Observers"
As observed in https://github.com/topcoder-platform/challenge-api/issues/239#issuecomment-670372774, tasks are not returned in the list challenges endpoint when the tasks is not assigned to the logged in user and user is a non admin user. The user do exists in the resources of the challenge as Observer because the user itself created that task.

[2020-08-24 14:45] vikasrohit commented on #280
fyi @ThomasKranitsas @rootelement

[2020-08-24 16:55] rootelement opened #281 "[$125] Data Science Development challenges aren't in the right track"
Currently, Data Science challenges that were not Marathon Matches were launched out of direct as Development > Code challenges with a Technology tag of `Data Science`

- [ ] Update the migration and sync process to key off this technology tag and create a Data Science > Challenge.
- [ ] Create a migration to update current challenges. See if you can search ES that contains the tech tag for Data sc

[2020-08-24 16:56] rootelement commented on #281
Contest https://www.topcoder.com/challenges/30138374 has been created for this ticket.<br/><br/>```This is an automated message for jcori via Topcoder X```

[2020-08-24 16:56] rootelement commented on #281
Contest https://www.topcoder.com/challenges/30138374 has been updated - it has been assigned to thomaskranitsas.<br/><br/>```This is an automated message for jcori via Topcoder X```

[2020-08-24 17:59] rootelement commented on #270
Fixed in dev. Will push out this weds night.

[2020-08-26 20:15] ThomasKranitsas commented on #276
@rootelement I think I found the issue.

If you check this https://api.topcoder-dev.com/v5/challenges/b91e4c01-ec46-404f-8691-aa631776d0e5

It has:

[code]

Note that the `isAssigned` and `memberId` properties are missing and since the query is trying to match with `{ match_phrase: { 'task.isAssigned': false } }`, it fails.
If that's actually the reason, we can simply fix it by adding default valu

[2020-08-26 20:31] ThomasKranitsas commented on #281
@rootelement the `convertV4TrackToV5` method does not take any tags as input. It only gets `v4Track, v4SubTrack, v4IsTask`. How should we handle it? Should I add an additional prop for `v4Tags` on this method and update the endpoint?

Also, I see there is support for `DEVELOP > DEVELOP_MARATHON_MATCH` challenges from v4. I'm not sure how those are created but they are different from `DATA_SCIENCE

[2020-08-26 20:52] ThomasKranitsas commented on #279
@rootelement PR: https://github.com/topcoder-platform/legacy-challenge-migration-script/pull/29

[2020-08-26 21:40] ThomasKranitsas commented on #281
@rootelement, in case you want to include support for Develop > Code with the `Marathon Match` tag, here's the PR https://github.com/topcoder-platform/legacy-challenge-migration-script/pull/30

[2020-08-27 03:59] SathyaJayabal commented on #271
This is being worked on in
https://github.com/topcoder-platform/challenge-api/issues/281

[2020-08-27 03:59] #271 closed

[2020-08-27 14:49] rootelement commented on #276
@ThomasKranitsas is it better to add default values, or check for false OR non-existent?

[2020-08-27 15:30] ThomasKranitsas commented on #276
I'd say better to add default values.. No need to over-complicate the query as that could have a performance impact

[2020-08-27 15:51] rootelement opened #282 "WIP v1.0.2 Release Notes"
- Updated challenge-api and resources-api routes to be accessible by `Connect Manager` role
- Challenge Processor change for groups to read/write to informix
-

[2020-08-27 23:54] rootelement commented on #270
Fixed in prod.

![Screen Shot 2020-08-27 at 7 54 33 PM](https://user-images.githubusercontent.com/5400156/91506044-25cf2d00-e89f-11ea-93e2-19546c6077b0.png)

![Screen Shot 2020-08-27 at 7 53 54 PM](https://user-images.githubusercontent.com/5400156/91506047-2a93e100-e89f-11ea-8e58-7954ba410158.png)

[2020-08-28 11:19] SathyaJayabal commented on #270
Verified on prod

[2020-08-28 11:19] #270 closed

[2020-08-28 17:11] #281 closed

[2020-08-28 17:11] rootelement commented on #281
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30138374<br/><br/>```This is an automated message for jcori via Topcoder X```

[2020-08-28 23:47] ThomasKranitsas commented on #276
@rootelement should I fix this?

[2020-08-28 23:49] ThomasKranitsas commented on #275
Fixed in https://github.com/topcoder-platform/challenge-api/commit/d149fa291ebc882e08b6ed61fa741131d96631df
Deployed & verified on dev
- https://api.topcoder-dev.com/v5/challenges?sortOrder=desc&sortBy=name
- https://api.topcoder-dev.com/v5/challenges?sortOrder=asc&sortBy=name

both work fine and return the expected result.

cc @rootelement this can be closed.

[2020-08-29 15:41] rootelement opened #283 "[$40] DS Challenge Mapping V5 to V4"
Update this function:
https://github.com/topcoder-platform/legacy-challenge-migration-script/blob/develop/src/util/conversionMappings.js#L116

To populate tags in the response object. If it's a V5 Data Science Challenge that isn't a Marathon Match, the V4 challenge should have a technology tag of `Data Science`

V4 to V5 is already taken care of

[2020-08-29 15:41] rootelement commented on #283
Contest https://www.topcoder.com/challenges/30139583 has been created for this ticket.<br/><br/>```This is an automated message for jcori via Topcoder X```

[2020-08-29 15:41] rootelement commented on #283
Contest https://www.topcoder.com/challenges/30139583 has been updated - it has been assigned to thomaskranitsas.<br/><br/>```This is an automated message for jcori via Topcoder X```

[2020-08-29 16:27] rootelement opened #284 "numOfCheckpointSubmissions bug"
https://github.com/topcoder-platform/legacy-challenge-migration-script/blob/develop/src/scripts/migrations/002-migrate-numOfCheckpointSubmissions.js#L56

It's not selecting the right object. The query should be something like:
[code]
But I can't phrase it correctly.

[2020-08-29 18:48] ThomasKranitsas commented on #278
@rootelement PR https://github.com/topcoder-platform/legacy-challenge-migration-script/pull/32/

[2020-08-29 19:30] rootelement commented on #278
Contest https://www.topcoder.com/challenges/30139588 has been created for this ticket.<br/><br/>```This is an automated message for jcori via Topcoder X```

[2020-08-29 19:30] rootelement commented on #278
Contest https://www.topcoder.com/challenges/30139588 has been updated - it has been assigned to thomaskranitsas.<br/><br/>```This is an automated message for jcori via Topcoder X```

[2020-08-29 19:34] ThomasKranitsas commented on #278
I got paid from the challenge. No need to get paid here

[2020-08-29 19:34] #278 closed

[2020-08-29 22:58] rootelement commented on #284
Fixed

[2020-08-29 22:58] #284 closed

[2020-08-30 14:07] rootelement commented on #279
@sushilshinde This is fixed in prod. Please verify and close out:
https://github.com/topcoder-platform/community-app/issues/4747

[2020-08-30 14:08] rootelement commented on #279
Contest https://www.topcoder.com/challenges/30139600 has been created for this ticket.<br/><br/>```This is an automated message for jcori via Topcoder X```

[2020-08-30 14:08] rootelement commented on #279
Contest https://www.topcoder.com/challenges/30139600 has been updated - it has been assigned to thomaskranitsas.<br/><br/>```This is an automated message for jcori via Topcoder X```

[2020-08-30 14:13] rootelement commented on #279
Payment failed: [500]: Failed to get challenge details by Id<br/><br/>```This is an automated message for jcori via Topcoder X```

[2020-08-31 21:11] #279 closed

[2020-08-31 21:11] rootelement commented on #279
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30139600<br/><br/>```This is an automated message for jcori via Topcoder X```

[2020-09-01 13:45] ThomasKranitsas commented on #283
@rootelement  PR https://github.com/topcoder-platform/legacy-challenge-migration-script/pull/33

[2020-09-01 13:55] ThomasKranitsas commented on #268
@rootelement PR https://github.com/topcoder-platform/challenge-api/pull/285

[2020-09-02 03:39] SathyaJayabal opened #286 "Winners data missing for challenges in approval state"
Winners data missing for challenges in approval state

V4 had winners data when the challenge is in approval state. V5 is missing this data. Winners data is present only when the challenge is complete.

example challenge:
https://www.topcoder.com/challenges/6901ad3c-f107-4947-b9f0-4c1548a0bf03

[2020-09-03 11:14] ThomasKranitsas commented on #269
The V5 Challenge API does not require a submission to close out a challenge/task. It simply expects the winner(s) to be defined. We can close this issue as it's not a valid bug and it also doesn't make sense to require a dummy submission in order to close out a challenge/task.

[2020-09-03 11:34] ThomasKranitsas commented on #239
1. The calls from both pages look identical.
2. Being handled in https://github.com/topcoder-platform/challenge-api/issues/280

@rootelement I think we can close this issue

[2020-09-03 11:36] ThomasKranitsas opened #287 "[$100] Task issues"
### Tasks are not listed in the GET endpoint for Observers

Ref https://github.com/topcoder-platform/challenge-api/issues/280

Solution:
- Modify the ES Query so, if a challenge is a task but it's being returned by the Resources API (meaning, the logged-in user has access to it), it won't be excluded.

### Fix malformed `task` information

Ref https://github.com/topcoder-platform/challenge-api/iss

[2020-09-03 12:22] ThomasKranitsas commented on #231
This could be because of the sync delay. There are many ways this could happen. To name a few:
- There is a delay until the processor picks up the event and creates the record on V5
- The challenge was not yet migrated to V5 so the processor keeps reposting the event until the challenge gets available and then be able to create the record

@rootelement If that's really an issue, I guess we can rea

[2020-09-03 12:35] ThomasKranitsas commented on #258
I'm not sure how those numbers are calculated right now but it's very easy to get the numbers with just a few calls. For example:

- http://api.topcoder.com/v5/challenges?status=Active&perPage=1 (`X-Total` is 78 which is the number of all active challenges)
- http://api.topcoder.com/v5/challenges?status=Active&perPage=1&currentPhaseName=Registration (`X-Total` is 39 which is the number of all open

[2020-09-03 12:37] ThomasKranitsas commented on #261
If you can share the code that populates those numbers, I can debug and tell you why it's wrong

[2020-09-03 12:38] SathyaJayabal commented on #261
This can be closed @ThomasKranitsas , Admin will be able to see all tasks, hence the extra count.

cc @lakshmiathreya

[2020-09-03 12:38] #261 closed

[2020-09-03 12:39] ThomasKranitsas commented on #265
Registration is now via V5 so I think that issue is no longer valid.
@rootelement I guess we can close this one

[2020-09-03 12:46] ThomasKranitsas commented on #286
https://github.com/topcoder-platform/challenge-api/blob/746dfc7421b29204bb2789ab7c8fc45008515b44/src/services/ChallengeService.js#L965-L967

The above code removes the `winners` object from the challenge if the status is not Completed

[2020-09-03 12:48] ThomasKranitsas commented on #267
This could be two things:
- The winners information is not being saved after a challenge is completed
- The challenge status is not `Completed`

[2020-09-03 12:49] SathyaJayabal commented on #286
@Oanh-and-only-Oanh , is it ok for winners tab  to be  displayed only after the challenge  is completed ? If so we can close this issue.

In v4, winners tab is displayed, when the challenge is in approval stage, before challenge completion.
link to community-app issue for this one https://github.com/topcoder-platform/community-app/issues/4674

[2020-09-03 15:36] #286 closed

[2020-09-03 15:48] rootelement opened #288 "Migrated Legacy Marathon Matches"
Create a migration for legacy marathon matches out of the `mmatches` v4 ES index.

Work in this branch:
https://github.com/topcoder-platform/legacy-challenge-migration-script/tree/features/migrate-mmatches

[2020-09-11 14:11] ThomasKranitsas commented on #287
Fixed in:
- https://github.com/topcoder-platform/challenge-api/commit/73852ff7a76cdc94a6a03c49ced86ffc2167b3ab
- https://github.com/topcoder-platform/challenge-api/commit/1d0ca0707dfc3dacf85a98e6827fac2ec333173e
- https://github.com/topcoder-platform/challenge-api/commit/e0cc722a3d26c70190473ee15b1d742931a535c2

[2020-09-11 14:14] rootelement commented on #287
Contest https://www.topcoder.com/challenges/30141436 has been created for this ticket.<br/><br/>```This is an automated message for jcori via Topcoder X```

[2020-09-11 14:14] rootelement commented on #287
Contest https://www.topcoder.com/challenges/30141436 has been updated - it has been assigned to thomaskranitsas.<br/><br/>```This is an automated message for jcori via Topcoder X```

[2020-09-11 16:27] rootelement opened #289 "[$40] Member Handle Issue"
https://github.com/topcoder-platform/community-app/issues/4787

Address using member handles with special characters

[2020-09-11 16:27] rootelement commented on #289
Contest https://www.topcoder.com/challenges/30141450 has been created for this ticket.<br/><br/>```This is an automated message for jcori via Topcoder X```

[2020-09-11 19:14] rootelement opened #290 "WIP Implement Forums Object"
We need to allow CRUD of Challenge Objects including a forums object to associate the forum for the UI.

Example additional property to the challenge object.
[code]
Options should be a non-required, non-validated array of key-value pairs

## How a User Creates a Forum:
(From the comment below)
1. User creates a challenge of status New, gets a UUID
2. On this challenge, if the user wants a discussi

[2020-09-12 15:37] rootelement commented on #290
From @ThomasKranitsas in slack :

My Response:
1. Yes, in the future i was thinking about moving this to a discussions api. I think v1 we’re just going to put it on the object. We can migrate it away if we want to, but i think that might be abstraction for no reason.
2. See below.
3. No, this is just linking the private challenge discussion forum to the challenge. There will be other forums, but t

[2020-09-14 18:20] ajefts opened #291 "[$50] Add ability to search by metadata"
Add the ability to search for challenges by the metadata fields. For example, topgear would like to search for and see data in the "effort hours" field. The fields should also be available in the response. Let's discuss permission strategy for who should be able to view the metadata.

[2020-09-14 19:51] ThomasKranitsas commented on #289
Fixed in https://github.com/topcoder-platform/resources-api/commit/2ece8426afb9decd6949e478ff4def381f8f537f

[2020-09-14 19:51] ThomasKranitsas commented on #289
@rootelement FYI this is fixed, deployed, and verified on dev

[2020-09-15 12:53] ajefts commented on #291
fyi @rootelement

[2020-09-15 14:13] rootelement commented on #289
Contest https://www.topcoder.com/challenges/30141450 has been updated - it has been assigned to thomaskranitsas.<br/><br/>```This is an automated message for jcori via Topcoder X```

[2020-09-15 14:19] rootelement commented on #289
Payment failed: [400]: Failed to update challenge. Detail: javax.ejb.EJBTransactionRolledbackException<br/><br/>```This is an automated message for jcori via Topcoder X```

[2020-09-15 14:33] rootelement commented on #276
Fixed in https://github.com/topcoder-platform/challenge-api/pull/292

[2020-09-15 15:23] rootelement commented on #239
@SathyaJayabal please check this in prod now.

[2020-09-15 15:24] rootelement commented on #258
I believe this will be fixed with the updated challenge listings coming out in 1.1

[2020-09-15 17:06] rootelement commented on #272
Fixed in #287

[2020-09-15 17:06] #272 closed

[2020-09-16 03:25] SathyaJayabal commented on #265
@rootelement , while this issue is not seen in current challenges, we still do have older challenges with the duplicate list of registrants. Is there a way to fix these before we close this issue.
https://www.topcoder.com/challenges/6d33bded-9b76-44ce-b478-994dd2f9b26b?tab=registrants
https://www.topcoder.com/challenges/b22f699b-8c7b-4d67-aa77-20b00a58a657?tab=registrants
https://www.topcoder.com/

[2020-09-16 04:05] SathyaJayabal commented on #239
@rootelement
1. Unassigned Task: Visible to other user roles (tested for observer , copilot)
example of unassigned task - visible to picachui (copilot) and picacahuitest1(observer)
https://www.topcoder.com/challenges/75dcd9dd-772b-4ab0-b5e5-517a7a938249
Assigned task: visible only to the submitter (assigned member)

example of assigned task:
https://www.topcoder.com/challenges/906a5054-3d00-4848-b

[2020-09-17 17:52] rootelement commented on #291
Contest https://www.topcoder.com/challenges/30142350 has been created for this ticket.<br/><br/>```This is an automated message for jcori via Topcoder X```

[2020-09-17 17:52] rootelement commented on #291
Contest https://www.topcoder.com/challenges/30142350 has been updated - it has been assigned to thomaskranitsas.<br/><br/>```This is an automated message for jcori via Topcoder X```

[2020-09-17 17:57] #289 closed

[2020-09-17 17:57] rootelement commented on #289
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30141450<br/><br/>```This is an automated message for jcori via Topcoder X```

[2020-09-17 17:58] rootelement commented on #288
These have been migrated. Submissions are still pending.

Migrated Examples:
https://www.topcoder.com/challenges/47621bf7-cda9-4e6d-9ac2-867fb1377298
https://www.topcoder.com/challenges/1941cf87-36a2-4a90-9c23-eeeb8de3fd5c
https://www.topcoder.com/challenges/3e7cf545-bd57-40a6-a8ac-c72786ca4a55
https://www.topcoder.com/challenges/3cf45ca7-319d-440f-b40f-c19bce3bb7c0

[2020-09-17 17:59] #287 closed

[2020-09-17 17:59] rootelement commented on #287
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30141436<br/><br/>```This is an automated message for jcori via Topcoder X```

[2020-09-17 17:59] ThomasKranitsas commented on #291
@ajefts do we allow specific metadata keys or should we think about how to allow “any kind of metadata”?

For example, `?meta.effortHours=<something>&meta.somethingElse=<something>`.

So, anything with `meta.*` will be used for searching on the metadata property.

cc @rootelement

[2020-09-17 17:59] #283 closed

[2020-09-17 17:59] rootelement commented on #283
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30139583<br/><br/>```This is an automated message for jcori via Topcoder X```

[2020-09-17 18:02] #282 closed

[2020-09-17 18:02] rootelement commented on #280
Fixed in #287

[2020-09-17 18:02] #280 closed

[2020-09-17 18:03] #276 closed

[2020-09-17 18:03] #275 closed

[2020-09-17 18:03] rootelement commented on #268
Contest https://www.topcoder.com/challenges/30142355 has been created for this ticket.<br/><br/>```This is an automated message for jcori via Topcoder X```

[2020-09-17 18:03] rootelement commented on #268
Contest https://www.topcoder.com/challenges/30142355 has been updated - it has been assigned to thomaskranitsas.<br/><br/>```This is an automated message for jcori via Topcoder X```

[2020-09-17 18:04] rootelement commented on #268
This ticket was not processed for payment. If you would like to process it for payment, please reopen it, add the ```tcx_FixAccepted``` label, and then close it again<br/><br/>```This is an automated message for jcori via Topcoder X```

[2020-09-17 18:06] rootelement commented on #290
From @jmgasper in slack:

My response:
options array for me would be up to the processor only. So if we have a processor for slack, it could add a registration url to the options array. Not up to the user, but only the processor.

We don’t get that any kind of re-post notification. gotta figure that out

[2020-09-17 18:08] #268 closed

[2020-09-17 18:11] rootelement commented on #268
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30142355<br/><br/>```This is an automated message for jcori via Topcoder X```

[2020-09-17 18:17] rootelement commented on #267
@SathyaJayabal Have you seen this happen on any other challenges? I fixed this one challenge:
<img width="387" alt="Screen Shot 2020-09-17 at 2 16 28 PM" src="https://user-images.githubusercontent.com/5400156/93511203-6d6e3500-f8f0-11ea-87db-8a8d2664f0ac.png">

[2020-09-17 18:17] rootelement commented on #274
Is this still an issue? or is it kinda "as designed" @lakshmiathreya ? If the problem is that we're not syncing Draft challenges, can we close this one and open one detailing what the actual issue is please?

[2020-09-17 18:19] rootelement commented on #265
I've queued these to re-sync. They should be fixed.

[2020-09-18 02:47] SathyaJayabal commented on #267
@rootelement , two more examples reported here, one with missing winners information and another where the winners info is different in v4 and v5,
https://github.com/topcoder-platform/community-app/issues/4850

[2020-09-18 02:50] SathyaJayabal commented on #265
@rootelement , thanks

[2020-09-18 02:50] #265 closed

[2020-09-18 09:16] ThomasKranitsas opened #293 "[$600] Misc fixes for the WM + more"
### Issues fixed
- https://github.com/topcoder-platform/challenge-engine-ui/issues/821 - Updated the API to allow any resource with full access to modify a challenge instead of just the member that matches the `challenge.createdBy`. Fixed in: https://github.com/topcoder-platform/challenge-api/commit/dd0743d8d7dce00fe21807bf89a61708b8695af1
- https://github.com/topcoder-platform/challenge-engine-ui

[2020-09-18 11:55] ThomasKranitsas opened #295 "[$40] Calls to the project API fail and API gets stuck"
from @vikasrohit on slack:

challenge api seems to non responsive for certain calls and I found following in logs (it seems if v3 direct api is down, v5 also fails):
[code]
Not sure if that is already known thing, just wanted to raise in case we missed something here. I was expecting all v3/v4 api calls are now in processors.

cc @rootelement

[2020-09-18 12:00] ThomasKranitsas commented on #295
Fixed in https://github.com/topcoder-platform/challenge-api/commit/8bf485f5169560bfc64eacd0cf0a65bf097224d7

[2020-09-18 19:15] rootelement commented on #290
Scenario:
1. A challenge is posted, the forums processor creates a forum
2. Members register for the challenge
3. The challenge is deemed failed for whatever reason and is reposted.

Questions:
1. How do we prevent the forum processor from creating a forum? Because the newly created challenge should have the forums/discussions object populated, the forums processor should not create one?
2. How do

[2020-09-18 19:18] rootelement commented on #290
Another Question:
1. How do we prevent the challenge-processor from creating a forum (like for a task?)

It's almost like when a challenge is created (by challenge manager, for example), the challenge manager should populate the discussions object (as listed above) but leave the URL blank. That way, it shows the challenge is expecting a destination to be inserted. Then that covers the previous sce

[2020-09-18 20:14] dmessing commented on #290
I'm probably way off, but wouldn't a task just not generate a "Create challenge event"  Or is it that the forum creation is listening to a create challenge event?

[2020-09-21 12:37] rootelement commented on #290
A task is a task is a challenge is a challenge. Everything is a challenge, and every challenge fires a create/update event. The logic to ignore would need to be on the processor side. So either we "always create a forum for a challenge and never create a forum for a task" (as it is now) or we have some sort of way to signify that a challenge is waiting for a forum to be created.

@cwdcwd thoughts?

[2020-09-21 13:26] rootelement opened #296 "[$700] Finish Legacy Resource Processor Informix Updates"
- [ ] Address the scorecard concerns from this challenge: https://www.topcoder.com/challenges/30142136
- [ ] Create a pull request against Develop

[2020-09-21 13:54] cwdcwd commented on #290
yeah I think you'll just want the processor that creates forums to ignore challenges tagged as tasks.
Alternatively, you could have your forum creation processor listen on a different topic and have the API publish to that topic when a forum is needed. In that way you'd push the decision into the API and keep the processor "dumb"

[2020-09-21 17:30] rootelement commented on #296
@gaoziqiang007 please address as much as you can without the updated db. If I can't get that for you by the time you're done this task, you'll still get the full amount and I'll test the actual dev db. Then I'll let you know if I run into any issues.

[2020-09-21 17:39] rootelement commented on #293
Did this challenge not get created in the backend because of some issue with the processor? Just want to make sure this title didn't prevent it from being created.

[2020-09-21 18:05] rootelement opened #297 "Fix Fuzzy Search on Name & Description"
https://github.com/topcoder-platform/community-app/issues/4971

According to my tests, this issue is valid through postman too.

I'm thinking name/description search needs to be changed to either:

https://www.elastic.co/guide/en/elasticsearch/reference/6.8/query-dsl-fuzzy-query.html
or
https://www.elastic.co/guide/en/elasticsearch/reference/6.8/query-dsl-wildcard-query.html

[2020-09-21 23:10] gaoziqiang007 commented on #296
@rootelement
Fromhttps://github.com/appirio-tech/ap-challenge-microservice/blob/dev/src/main/resources/sql/sequences/resource_sequence.sql and https://github.com/appirio-tech/ap-challenge-microservice/blob/dev/src/main/resources/sql/sequences/comp_inquiry_sequence.sql , there should exist SEQUENCE_COMPONENT_INQUIRY_SEQ.nextval and SEQUENCE_RESOURCE_ID_SEQ.nextval, but in the DB container, I didn't

[2020-09-22 03:04] gaoziqiang007 commented on #296
From https://github.com/appirio-tech/ap-challenge-microservice/blob/dev/src/main/resources/sql/challenge/register/get_component_info.sql, there is 'AND pi79.project_info_type_id = 79', but in my test db, no record match this restriction.

[2020-09-22 11:50] ThomasKranitsas commented on #293
Nope, it's getting created just fine. The only "issue" is that legacy sanitizes the challenge title.
Example:
http://api.topcoder-dev.com/v5/challenges/1e66d539-4d24-4e0c-bb77-46945e1c5863
http://api.topcoder-dev.com/v4/challenges/30057099

Title on V5: `I am a challenger <script>alert('test')</script> Task Draft`
Title on V4: `I am a challenger &lt;script&gt;alert(&#39;test&#39;)&lt;/script&gt; T

[2020-09-22 12:33] gaoziqiang007 commented on #296
There are some forum operations, I write a ForumWrapper.js but I'm not cleear how to implement method 'removeRole', 'removeUserPermission', and 'deleteCategoryWatch', I find forums.jar in https://github.com/appirio-tech/forums-wrapper/tree/master/build/lib , but I can't find which tables are operated.

[2020-09-22 12:33] gaoziqiang007 commented on #296
sendEmailNotification() in RegistrationManager.java is not implemented now

[2020-09-22 12:35] gaoziqiang007 commented on #296
In class com.appirio.service.challenge.clients.GroupServiceClient, there is a getGroups method, and it looks like it will call other service to get groups information.

[2020-09-22 12:38] vikasrohit commented on #293
@ThomasKranitsas just on the note of the sanitizing, we are trying to standardize the input validation across our apps, and in that endeavor, we have settled on the [`express-santizer`](https://www.npmjs.com/package/express-sanitizer) as standard library for sanitizing the input data.

[2020-09-22 12:42] gaoziqiang007 commented on #296
@rootelement

I have created a PR: https://github.com/topcoder-platform/legacy-challenge-resource-processor/pull/14
Please let me know if there is something wrong.

[2020-09-22 13:35] rootelement commented on #296
Sorry, just got to my desk. Please disregard the forums stuff. This processor will not handle any forums work going forward.

I will review your PR and check.

[2020-09-22 17:19] rootelement commented on #293
Done.

I'm fine with this approach. We'll need to update dynamo, correct?

[2020-09-22 17:19] rootelement commented on #293
Contest https://www.topcoder.com/challenges/30143208 has been created for this ticket.<br/><br/>```This is an automated message for jcori via Topcoder X```

[2020-09-22 17:19] rootelement commented on #293
Contest https://www.topcoder.com/challenges/30143208 has been updated - it has been assigned to thomaskranitsas.<br/><br/>```This is an automated message for jcori via Topcoder X```

[2020-09-22 17:26] rootelement commented on #291
This looks good @ThomasKranitsas Please open a ticket to get this implemented on a branch for our review.

[2020-09-22 18:58] ThomasKranitsas commented on #291
PR https://github.com/topcoder-platform/challenge-api/pull/299

[2020-09-22 19:08] rootelement commented on #290
Here's the flow as I understand it:
1. User creates a challenge of status New, gets a UUID
2. On this challenge, if the user wants a discussion created, they will populate
[code]
3. The challenge forum processor will pick up the challenge create event, check in the array if there is a `type: challenge` and `provider: vanilla` without a populated url property, create the forum, then PATCH the chall

[2020-09-22 22:26] ThomasKranitsas commented on #296
New PR: https://github.com/topcoder-platform/legacy-challenge-resource-processor/pull/15

[2020-09-22 23:01] ThomasKranitsas opened #300 "[$75] Only allow m2m to modify task.*"
The properties in `challenge.task.*` should be `read only` thus we need to update the code so only m2m tokens can modify those values. If a member tries to modify them, we should ignore the changes.

cc @rootelement

[2020-09-22 23:08] ThomasKranitsas opened #301 "[$50] Sanitise request body"
Based on https://github.com/topcoder-platform/challenge-api/issues/293#issuecomment-696693419 we need to use https://www.npmjs.com/package/express-sanitizer to sanitize the request body wherever needed.

cc @rootelement

[2020-09-22 23:43] ThomasKranitsas opened #302 "[$50] Refactor access levels on the resources"
Right now, we have a `fullAccess` flag for each `ResourceRole` which means a resource can either have or not full access (read/write) on a challenge.

We should split this into two flags (`fullReadAccess` and `fullWriteAccess`) so we can chose which roles have what sort of access.

For example, a manager/copilot can have both and an observer can have only `fullReadAccess` etc

cc @rootelement

[2020-09-23 14:06] rootelement commented on #296
Contest https://www.topcoder.com/challenges/30143356 has been created for this ticket.<br/><br/>```This is an automated message for jcori via Topcoder X```

[2020-09-23 14:06] rootelement commented on #296
Contest https://www.topcoder.com/challenges/30143356 has been updated - it has been assigned to gaoziqiang.<br/><br/>```This is an automated message for jcori via Topcoder X```

[2020-09-23 14:07] rootelement commented on #296
Thanks for your work on this @gaoziqiang007 !

[2020-09-23 14:08] rootelement commented on #293
The full access piece has been pulled out here:
https://github.com/topcoder-platform/challenge-api/issues/302

[2020-09-23 14:08] #293 closed

[2020-09-23 14:08] rootelement commented on #293
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30143208<br/><br/>```This is an automated message for jcori via Topcoder X```

[2020-09-23 14:10] rootelement opened #303 "[$400] Copilot Payment & Testing for #296"
https://github.com/topcoder-platform/challenge-api/issues/296

[2020-09-23 14:10] rootelement commented on #303
Contest https://www.topcoder.com/challenges/30143357 has been created for this ticket.<br/><br/>```This is an automated message for jcori via Topcoder X```

[2020-09-23 14:10] rootelement commented on #303
Contest https://www.topcoder.com/challenges/30143357 has been updated - it has been assigned to thomaskranitsas.<br/><br/>```This is an automated message for jcori via Topcoder X```

[2020-09-23 14:11] #303 closed

[2020-09-23 14:11] rootelement commented on #296
Payment failed: [500]: Failed to get challenge details by Id<br/><br/>```This is an automated message for jcori via Topcoder X```

[2020-09-23 14:15] rootelement commented on #303
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30143357<br/><br/>```This is an automated message for jcori via Topcoder X```

[2020-09-23 19:22] ThomasKranitsas opened #304 "[$75] Update retry logic on processors"
Update the retry logic on the following processors based on the details below:
- https://github.com/topcoder-platform/legacy-challenge-resource-processor
- https://github.com/topcoder-platform/legacy-challenge-processor

## Requirements
1. Add a retry count
2. Retry delay is attempt # * delay amount (ie try 3 * 10 seconds = 30 seconds)
3. Max attempts logs an error and that’s it

cc @rootelement

[2020-09-23 19:31] ThomasKranitsas commented on #304
PRs:
- https://github.com/topcoder-platform/legacy-challenge-resource-processor/pull/17
- https://github.com/topcoder-platform/legacy-challenge-processor/pull/25

[2020-09-24 18:42] rootelement commented on #304
Contest https://www.topcoder.com/challenges/30143556 has been created for this ticket.<br/><br/>```This is an automated message for jcori via Topcoder X```

[2020-09-24 18:42] rootelement commented on #304
Contest https://www.topcoder.com/challenges/30143556 has been updated - it has been assigned to thomaskranitsas.<br/><br/>```This is an automated message for jcori via Topcoder X```

[2020-09-24 18:43] #304 closed

[2020-09-24 18:45] rootelement commented on #304
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30143556<br/><br/>```This is an automated message for jcori via Topcoder X```

[2020-09-24 18:55] rootelement commented on #296
Trying again... If it doesn't work, i'll pay by task.

[2020-09-24 18:55] #296 closed

[2020-09-24 18:55] rootelement commented on #296
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30143356<br/><br/>```This is an automated message for jcori via Topcoder X```

[2020-09-24 20:37] ThomasKranitsas opened #305 "[$150] Update legacy challenge processor to repost resource creation events on kafka"
Think of this scenario:

1. I create a challenge in workmanager. Status is New
2. That gets to the legacy challenge processor, it doesn’t create it because it’s status is New.
3. Legacy challenge resource processor also gets a message to add the user on that challenge as a manager/observer, whatever… But it’s going to retry 3 times to find that legacy id and fail…

## Solution

When the legacy cha

[2020-09-24 20:38] ThomasKranitsas commented on #305
fix: https://github.com/topcoder-platform/legacy-challenge-processor/commit/146c502c4e02cfe40a68d9b55a596853de3f903c

cc @rootelement

[2020-09-24 22:59] ThomasKranitsas opened #306 "Issue with phases"
In PUT/PATCH, we expect the `phaseId` to be passed… which means, there’s no way to add more phases to a challenge. You can only update the existing ones.

So, you can’t add multiple iterative review phases for example.

We need to add support for both `phaseId` and `id`. If the id is provided, the existing phase will be updated. If the `phaseId` is provided, a new phase will be created

[2020-09-24 23:22] ThomasKranitsas opened #307 "[$50] Misc fixes on the challenge/resource APIs"
- Update PUT/PATCH /challenges/:uuid to extend phases instead of replacing them
- Update POST /resources to skip phase dependency checks on tasks

cc @rootelement

[2020-09-24 23:22] ThomasKranitsas commented on #307
Fixed in:
- https://github.com/topcoder-platform/challenge-api/commit/011c08c6eabb5f0010819b16b1fe763a25595813
- https://github.com/topcoder-platform/resources-api/commit/c76eb6d2da6a98a68fafb4847025464c9c17e220

[2020-09-25 11:52] rootelement commented on #307
Contest https://www.topcoder.com/challenges/30143628 has been created for this ticket.<br/><br/>```This is an automated message for jcori via Topcoder X```

[2020-09-25 11:52] rootelement commented on #307
Contest https://www.topcoder.com/challenges/30143628 has been updated - it has been assigned to thomaskranitsas.<br/><br/>```This is an automated message for jcori via Topcoder X```

[2020-09-25 11:52] #307 closed

[2020-09-25 11:57] rootelement commented on #307
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30143628<br/><br/>```This is an automated message for jcori via Topcoder X```

[2020-09-26 15:05] ThomasKranitsas commented on #300
Fixed in https://github.com/topcoder-platform/challenge-api/commit/7fa2075fea714ba19410aafaf12e53b724b3a582

[2020-09-26 15:41] ThomasKranitsas commented on #290
PR: https://github.com/topcoder-platform/challenge-api/pull/309

[2020-09-26 16:28] ThomasKranitsas commented on #301
The recommended package was not very convenient to use so I used [xss](https://www.npmjs.com/package/xss) instead.

PR https://github.com/topcoder-platform/challenge-api/pull/310

[2020-09-26 17:19] ThomasKranitsas opened #311 "Admins should be able to modify discussions"
https://github.com/topcoder-platform/challenge-api/pull/309/files#diff-6bf820f045aeaa766c1cac9497c693f5R1201

Admins should also be allowed to modify the `url` and `options` of discussions.

[2020-09-26 17:56] ThomasKranitsas commented on #302
PR https://github.com/topcoder-platform/resources-api/pull/41

[2020-09-28 14:12] rootelement commented on #305
Contest https://www.topcoder.com/challenges/30143955 has been created for this ticket.<br/><br/>```This is an automated message for jcori via Topcoder X```

[2020-09-28 14:12] rootelement commented on #305
Contest https://www.topcoder.com/challenges/30143955 has been updated - it has been assigned to thomaskranitsas.<br/><br/>```This is an automated message for jcori via Topcoder X```

[2020-09-28 14:13] #305 closed

[2020-09-28 14:14] rootelement commented on #301
Contest https://www.topcoder.com/challenges/30143956 has been created for this ticket.<br/><br/>```This is an automated message for jcori via Topcoder X```

[2020-09-28 14:14] rootelement commented on #301
Contest https://www.topcoder.com/challenges/30143956 has been updated - it has been assigned to thomaskranitsas.<br/><br/>```This is an automated message for jcori via Topcoder X```

[2020-09-28 14:18] rootelement commented on #305
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30143955<br/><br/>```This is an automated message for jcori via Topcoder X```

[2020-09-28 14:18] rootelement commented on #301
Payment failed: [500]: Failed to get challenge details by Id<br/><br/>```This is an automated message for jcori via Topcoder X```

[2020-09-28 14:24] rootelement commented on #300
Contest https://www.topcoder.com/challenges/30143957 has been created for this ticket.<br/><br/>```This is an automated message for jcori via Topcoder X```

[2020-09-28 14:24] rootelement commented on #300
Contest https://www.topcoder.com/challenges/30143957 has been updated - it has been assigned to thomaskranitsas.<br/><br/>```This is an automated message for jcori via Topcoder X```

[2020-09-28 14:29] rootelement commented on #300
Payment failed: [500]: Failed to get challenge details by Id<br/><br/>```This is an automated message for jcori via Topcoder X```

[2020-09-28 14:36] rootelement opened #312 "[$850] Work Manager E2E Testing"
Please run through all normal use of Work Manager and log issues on that repo.

- [x] Create Development Challenge, F2F, and Task.

- [x] Make sure they create correctly, and propagate to legacy/Direct/OR.

- [x] Make sure changing options and saving updates properties in v5 and legacy

- [x] Make sure Activating each challenge type works correctly

- [x] Make sure Assigning / Closing Tasks work a

[2020-09-28 16:49] rootelement opened #313 "[$50] Update Challenge Timeline Template Object"
- [ ] Add a property for isDefault
- [ ] Add ability to filter by isDefault
- [ ] Add ability to filter on trackId

[2020-09-28 17:01] rootelement commented on #313
Contest https://www.topcoder.com/challenges/30143978 has been created for this ticket.<br/><br/>```This is an automated message for jcori via Topcoder X```

[2020-09-28 17:01] rootelement commented on #313
Contest https://www.topcoder.com/challenges/30143978 has been updated - it has been assigned to thomaskranitsas.<br/><br/>```This is an automated message for jcori via Topcoder X```

[2020-09-28 18:58] #300 closed

[2020-09-28 18:58] rootelement commented on #300
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30143957<br/><br/>```This is an automated message for jcori via Topcoder X```

[2020-09-28 18:59] #301 closed

[2020-09-28 18:59] rootelement commented on #301
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30143956<br/><br/>```This is an automated message for jcori via Topcoder X```

[2020-09-29 17:04] rootelement opened #314 "Add AuditLog Entry for Migration/Sync"
I'm thinking it might be too much to write what's changed like the API does. I think we can just put an entry in there for when a migration happens for a challenge uuid, and when a sync happens. Make sure it only writes an Audit if something is synced. If it looks up an ID and the ES versions match, it doesn't write anything to the DB, it shouldn't write an audit.

[2020-10-01 19:17] luizrrodrigues opened #316 "Feature: When search by `name` include `tags`"
Issue: https://github.com/topcoder-platform/community-app/issues/5026

@rootelement We need able to include title, description in challenge specs, and tags when search by `name`

![image](https://user-images.githubusercontent.com/7029641/94853061-2eb4a080-0401-11eb-9efc-66681b5688c7.png)

[2020-10-02 16:04] rootelement opened #317 "Activate Challenge - Internal Reviewer Error"
Right now if you Activate a challenge with an internal reviewer selected, you get an error from Direct. I believe it's because the challenge resource for the internal reviewer is either not created in legacy yet, or it's not attached to the phase somehow? Or the reviewer selected doesn't have the correct role to be a reviewer? Not sure

## Error from Direct
![image](https://user-images.githubuserc

[2020-10-02 16:05] rootelement commented on #317
@ajefts Can you weigh in on what prereqs an internal reviewer must meet?

[2020-10-02 16:45] rootelement opened #318 "[$250] Legacy Challenge Processor - Copilot Fee"
When you set a Copilot fee as a prizeSet in v5, it doesn't go back to legacy.

Challenge prize sets object:
[code]

Challenge in direct:
![Screen Shot 2020-10-02 at 12 00 32 PM](https://user-images.githubusercontent.com/5400156/94948080-ba373b80-04ac-11eb-9ca9-80cade3d952b.png)

This needs to be stored in the `project_info` table, as `project_info_type_id` **49**.

Actions
- Legacy Challenge Proce

[2020-10-02 16:58] rootelement commented on #318
FYI - there's an open issue on [challenge engine ui](https://github.com/topcoder-platform/challenge-engine-ui/issues/847) to fix the format of the copilot payment. It should look like this:

[code]

[2020-10-02 18:12] luizrrodrigues opened #319 "Challenge metadata.allowStackArt returning wrong data type"
ref.: https://api.topcoder.com/v5/challenges/ba800bde-a26d-486d-ac87-9db1a0b7dc9a

[code]

`value` return `string` type instead `boolean`

![image](https://user-images.githubusercontent.com/7029641/94955647-46535e00-04c1-11eb-81c6-bb01e721eb8a.png)

original issue: https://github.com/topcoder-platform/community-app/issues/5037

[2020-10-02 18:19] rootelement commented on #319
No, the metadata object is not type-specific like that. Name is always a string, Value is always a string. You'll have to typecast it on your side.

[2020-10-02 18:35] luizrrodrigues commented on #319
@rootelement okay, I'll take care of this in FE side.

[2020-10-02 18:36] #319 closed

[2020-10-05 13:40] rootelement opened #320 "Challenge Registration - Deregistration doesn't propagate correctly"
From @SathyaJayabal

I am testing the registration flow in dev env like we discussed in yesterday's call. Registration is working fine. But Unregistration is not reflecting in OR. When a user registers from the FE, the registration immediately reflects in OR and the user is able to see the challenge under "My Open Projects". Similarly when the  user unregisters from the FE, the user should not see

[2020-10-05 15:43] ThomasKranitsas commented on #320
After debugging, it seems this is the same sync/delay issue we had with challenge data.

There is some delay before the message gets posted on kafka and if the sync tool runs before the legacy resource proc deletes the resource, it'll sync the data forward and the user will get added to the challenge again.

cc @rootelement

[2020-10-05 18:36] ajefts commented on #317
@rootelement Take a look at https://github.com/appirio-tech/direct-app/blob/221d3ebbed0c8d7892cfb40291d6ca138c30add1/components/online_review_upload_services/src/java/main/com/cronos/onlinereview/services/uploads/impl/DefaultUploadServices.java#L1398.  I think we're probably missing a couple properties that need to be set on the resource record.

[2020-10-06 09:14] vikasrohit commented on #317
@rootelement to confirm, WM is adding the reviewer as `Reviewer` resource (318b9c07-079a-42d9-a81f-b96be1dc1099) using v5 api when user sets internal reviewer.
<img width="699" alt="Screen Shot 2020-10-06 at 2 44 05 PM" src="https://user-images.githubusercontent.com/2417632/95182536-64330280-07e2-11eb-8def-ab434d0be320.png">

[2020-10-06 13:02] rootelement commented on #317
@ThomasKranitsas looks like this is missing:
https://github.com/appirio-tech/direct-app/blob/221d3ebbed0c8d7892cfb40291d6ca138c30add1/components/online_review_upload_services/src/java/main/com/cronos/onlinereview/services/uploads/impl/DefaultUploadServices.java#L1467

[2020-10-06 14:21] rootelement commented on #317
I've confirmed. I created a challenge in direct with an internal reviewer. This is what the resources look like for that challenge in informix:
<img width="948" alt="Screen Shot 2020-10-06 at 9 55 56 AM" src="https://user-images.githubusercontent.com/5400156/95211109-29b56f80-07ba-11eb-8421-847e8c524971.png">
And this is what the resource_info for that last resource looks like:
<img width="881" al

[2020-10-06 14:21] rootelement commented on #317
Committing a fix attempt now. Will test.

[2020-10-06 15:58] rootelement commented on #317
Success!
https://challenges.topcoder-dev.com/projects/16640/challenges/d534ab7d-7ae5-4328-8aad-e3b05d6b4751/view

<img width="957" alt="Screen Shot 2020-10-06 at 11 58 14 AM" src="https://user-images.githubusercontent.com/5400156/95226703-4312e780-07cb-11eb-8693-a76d28430de4.png">

[2020-10-06 19:50] ThomasKranitsas commented on #318
PRs:
- https://github.com/topcoder-platform/legacy-challenge-processor/pull/26
- https://github.com/topcoder-platform/legacy-challenge-migration-script/pull/37

[2020-10-07 03:12] SathyaJayabal commented on #288
@rootelement , There are still few MM's that are missing
example:
https://community.topcoder.com/tc?module=MatchDetails&rd=15761
https://www.topcoder.com/challenges/15761

[2020-10-07 14:02] ThomasKranitsas commented on #313
PR https://github.com/topcoder-platform/challenge-api/pull/321

[2020-10-07 20:12] luizrrodrigues opened #322 "registrationEndDateEnd filter not working well"
@rootelement Can you check this please:

Call: https://api.topcoder.com/v5/challenges/?status=Active&currentPhaseName=Submission&registrationEndDateEnd=2020-10-07T16:00:00Z&perPage=10&page=1&sortBy=startDate&sortOrder=desc

[code]

Include challenge with **Registration** phase still open, example:
https://api.topcoder.com/v5/challenges/0e4e8ee3-264a-45cb-8442-02aed0a24c92

`scheduledEndDate: "2020

[2020-10-08 01:28] luizrrodrigues opened #323 "Add support to sortBy Prize"
endpoint `/challenges?sortBy=`

@rootelement Can we have option to sortBy prize?

https://github.com/topcoder-platform/community-app/issues/4982

[2020-10-08 14:13] rootelement commented on #320
@SathyaJayabal I think Thomas is right here, I think it was because of a jam up in the resource processor. I've tried it a couple times in dev and it work fine.

[2020-10-08 14:45] ThomasKranitsas commented on #323
Hey @luizrrodrigues, this is already possible. Example:
http://api.topcoder-dev.com/v5/challenges?sortBy=prizeSets.prizes.value&sortOrder=asc (highest prize first)
http://api.topcoder-dev.com/v5/challenges?sortBy=prizeSets.prizes.value&sortOrder=desc (lowest prize first)

[2020-10-08 14:46] #323 closed

[2020-10-08 17:29] luizrrodrigues commented on #323
Oh, cool. Thanks @ThomasKranitsas

[2020-10-08 20:05] luizrrodrigues opened #324 "Filter by tags (with auth) will return a lot of private challenges"
With auth + without tags
![image](https://user-images.githubusercontent.com/7029641/95507683-2243c100-0988-11eb-8e98-e86660802ba1.png)

with auth + with tags
![image](https://user-images.githubusercontent.com/7029641/95507756-44d5da00-0988-11eb-9f22-36425fa2d8ae.png)

with auth + with tags
![image](https://user-images.githubusercontent.com/7029641/95507804-5c14c780-0988-11eb-818d-1e9168839f45.png)

[2020-10-08 23:10] luizrrodrigues opened #325 "Filter by events (with auth) not working"
Endpoint: `/v5/challenges?events[]=tco20`

no auth + with `events`:
![image](https://user-images.githubusercontent.com/7029641/95522059-7909c480-09a1-11eb-91e4-bed9875ea4e4.png)

with auth + `events`:
![image](https://user-images.githubusercontent.com/7029641/95522171-bff7ba00-09a1-11eb-83cd-bbb35b7c9ea5.png)

with auth + with `events`:
![image](https://user-images.githubusercontent.com/7029641/95

[2020-10-09 01:44] luizrrodrigues commented on #324
@rootelement Sorry, this one was reported by myself before: https://github.com/topcoder-platform/community-app/issues/4967#issuecomment-698115972

But in first report, I was just looking for the numbers. :)

[2020-10-09 01:44] #324 closed

[2020-10-09 15:29] ThomasKranitsas commented on #325
Hey @luizrrodrigues! This has been fixed in the latest prod release. Please test again.
cc @rootelement  (it was the same fix I did for tags)

[2020-10-09 15:43] luizrrodrigues commented on #325
@ThomasKranitsas Yep, confirmed, this was fixed with latest Prod release.

Thanks.

[2020-10-09 15:43] #325 closed

[2020-10-09 15:48] rootelement commented on #322
Contest https://www.topcoder.com/challenges/30145093 has been created for this ticket.<br/><br/>```This is an automated message for jcori via Topcoder X```

[2020-10-09 15:48] rootelement commented on #322
Contest https://www.topcoder.com/challenges/30145093 has been updated - it has been assigned to jcori.<br/><br/>```This is an automated message for jcori via Topcoder X```

[2020-10-09 17:22] rootelement commented on #318
This is fixed and deployed, but the migration has not been run in prod yet. Will do that this weekend.

[2020-10-09 17:23] rootelement commented on #317
Fixed in prod

[2020-10-09 17:23] #317 closed

[2020-10-09 17:24] rootelement commented on #316
@ThomasKranitsas We'll need to add a `?search=` query var to search across properties. Can you think about the implications of this and list an outline here?

[2020-10-09 22:21] rootelement commented on #295
Contest https://www.topcoder.com/challenges/30145101 has been created for this ticket.<br/><br/>```This is an automated message for jcori via Topcoder X```

[2020-10-09 22:21] rootelement commented on #295
Contest https://www.topcoder.com/challenges/30145101 has been updated - it has been assigned to thomaskranitsas.<br/><br/>```This is an automated message for jcori via Topcoder X```

[2020-10-12 16:43] rootelement commented on #290
This is implemented and deployed on the API side.

[2020-10-12 16:43] #290 closed

[2020-10-13 02:24] luizrrodrigues opened #326 "sortBy not working well"
@rootelement

Some sort option not working well:

`prizeSets.prizes.value` - Looks like this includes all values like Challenge Prize, Copilot and fees.
![image](https://user-images.githubusercontent.com/7029641/95807610-01a99d00-0ce1-11eb-844c-6b89642f0e92.png)

-----

`registrationEndDate` - This is a know issue, because we have multiple **Registration End** date:
- registrationEndDate _(sort us

[2020-10-13 02:32] luizrrodrigues commented on #326
https://github.com/topcoder-platform/community-app/issues/4982

[2020-10-13 19:55] #295 closed

[2020-10-13 19:56] rootelement commented on #295
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30145101<br/><br/>```This is an automated message for jcori via Topcoder X```

[2020-10-14 03:46] rootelement opened #327 "[$300] Copilot Payment Issue"
I've updated the legacy-challenge-processor and the legacy-challenge-resource-processor to manipulate the resource_info table for copilots to add their copilot payments. But there's still some strange multiple-events happening that is screwing up the data store. There are payloads that come through with, and then shortly thereafter, without, the prizeSets node set.

Please test creating a developm

[2020-10-15 11:45] ThomasKranitsas commented on #327
@rootelement this is fixed in:
- https://github.com/topcoder-platform/challenge-api/commit/7e1f3f171670d73344e14ab8b26e12d2546d8388

[2020-10-15 13:48] rootelement commented on #327
Now there's a legacy-challenge-processor race condition creating legacy ids... will open a new issue.

[2020-10-15 13:48] rootelement commented on #327
Contest https://www.topcoder.com/challenges/30145834 has been created for this ticket.<br/><br/>```This is an automated message for jcori via Topcoder X```

[2020-10-15 13:48] rootelement commented on #327
Contest https://www.topcoder.com/challenges/30145834 has been updated - it has been assigned to thomaskranitsas.<br/><br/>```This is an automated message for jcori via Topcoder X```

[2020-10-15 13:49] #327 closed

[2020-10-15 13:51] rootelement commented on #327
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30145834<br/><br/>```This is an automated message for jcori via Topcoder X```

[2020-10-15 13:51] rootelement opened #328 "[$200] Challenge API Race Condition"
Challenge api. a user saves a challenge, which causes a challenge.notification.update message to be put on the bus. The legacy challenge processor picks that up, says “oh, this status is draft and there’s no legacy id, i’ll create one”. It does, and it PATCHes the v5 api with the legacy id…. which causes another update message. Which the legacy challenge processor picks up. Now, this time it doesn

[2020-10-16 10:32] rootelement commented on #328
Contest https://www.topcoder.com/challenges/30145929 has been created for this ticket.<br/><br/>```This is an automated message for jcori via Topcoder X```

[2020-10-16 10:32] rootelement commented on #328
Contest https://www.topcoder.com/challenges/30145929 has been updated - it has been assigned to thomaskranitsas.<br/><br/>```This is an automated message for jcori via Topcoder X```

[2020-10-16 18:54] #328 closed

[2020-10-16 18:55] rootelement commented on #328
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30145929<br/><br/>```This is an automated message for jcori via Topcoder X```

[2020-10-16 18:56] rootelement commented on #318
Contest https://www.topcoder.com/challenges/30145987 has been created for this ticket.<br/><br/>```This is an automated message for jcori via Topcoder X```

[2020-10-16 18:56] rootelement commented on #318
Contest https://www.topcoder.com/challenges/30145987 has been updated - it has been assigned to thomaskranitsas.<br/><br/>```This is an automated message for jcori via Topcoder X```

[2020-10-16 18:57] rootelement opened #330 "[$75] Legacy Terms - Add/Remove NDA"
The only terms you can manipulate in v5/Work Manager is NDA.

I think i want to just check the v5 array. If it has the NDA uuid in it, add legacy id of that NDA to informix. If it doesn’t have it in v5, and it exists in informix, remove it.

[2020-10-16 18:57] rootelement commented on #330
Contest https://www.topcoder.com/challenges/30145988 has been created for this ticket.<br/><br/>```This is an automated message for jcori via Topcoder X```

[2020-10-16 18:57] #313 closed

[2020-10-16 18:58] rootelement commented on #313
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30143978<br/><br/>```This is an automated message for jcori via Topcoder X```

[2020-10-16 18:58] rootelement commented on #302
Contest https://www.topcoder.com/challenges/30145989 has been created for this ticket.<br/><br/>```This is an automated message for jcori via Topcoder X```

[2020-10-16 18:58] rootelement commented on #302
Contest https://www.topcoder.com/challenges/30145989 has been updated - it has been assigned to thomaskranitsas.<br/><br/>```This is an automated message for jcori via Topcoder X```

[2020-10-16 19:00] rootelement commented on #318
Payment failed: [500]: Failed to get challenge details by Id<br/><br/>```This is an automated message for jcori via Topcoder X```

[2020-10-16 19:02] rootelement commented on #302
Payment failed: [500]: Failed to get challenge details by Id<br/><br/>```This is an automated message for jcori via Topcoder X```

[2020-10-16 19:03] rootelement commented on #330
Contest https://www.topcoder.com/challenges/30145988 has been updated - it has been assigned to thomaskranitsas.<br/><br/>```This is an automated message for jcori via Topcoder X```

[2020-10-16 19:04] #318 closed

[2020-10-16 19:04] rootelement commented on #318
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30145987<br/><br/>```This is an automated message for jcori via Topcoder X```

[2020-10-16 19:04] #302 closed

[2020-10-16 19:05] rootelement commented on #302
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30145989<br/><br/>```This is an automated message for jcori via Topcoder X```

[2020-10-19 16:19] rootelement commented on #320
I'm not seeing an issue anymore. Will close. Open if any problems arise.

[2020-10-19 16:19] #320 closed

[2020-10-19 16:20] #198 closed

[2020-10-19 16:23] rootelement opened #331 "Delete Draft Challenge"
https://github.com/topcoder-platform/challenge-engine-ui/issues/873

We need to update the WM flow to not create a Draft challenge until ready to activate if this is the case. Otherwise, unless you leave initial page where you select a track/type, the user is immediately creating a Draft challenge and won't be able to delete

[2020-10-21 14:34] rootelement commented on #313
This is done in dev and prod

[2020-10-21 19:51] rootelement commented on #330
Fixed in
https://github.com/topcoder-platform/legacy-challenge-processor/commit/3d7c8799bb9c267196b7fb07281a1971a0694b60

[2020-10-21 19:51] #330 closed

[2020-10-21 19:51] rootelement commented on #330
This ticket was not processed for payment. If you would like to process it for payment, please reopen it, add the ```tcx_FixAccepted``` label, and then close it again<br/><br/>```This is an automated message for jcori via Topcoder X```

[2020-10-26 20:27] ThomasKranitsas opened #334 "Support searching by public groups without auth"
Community app issue: https://github.com/topcoder-platform/community-app/issues/5069

We need to add support for that on the API side based on the `privateGroup` property of the groups.
We should not allow un-auth users to filter based on private groups.

[2020-10-29 17:07] rootelement opened #335 "[$40] Resource Pagination Issue"
Fix this:
https://github.com/topcoder-platform/resources-api/issues/43

[2020-10-29 17:08] rootelement commented on #335
Contest https://www.topcoder.com/challenges/30147880 has been created for this ticket.<br/><br/>```This is an automated message for jcori via Topcoder X```

[2020-10-29 17:08] rootelement commented on #335
Contest https://www.topcoder.com/challenges/30147880 has been updated - it has been assigned to thomaskranitsas.<br/><br/>```This is an automated message for jcori via Topcoder X```

[2020-10-29 17:09] #335 closed

[2020-10-29 17:11] rootelement commented on #335
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30147880<br/><br/>```This is an automated message for jcori via Topcoder X```

[2020-10-30 12:51] ThomasKranitsas commented on #312
### General feedback:
- ✅  Adding/removing NDA works fine
- ✅  Adding Internal Reviewer works fine
- ✅  Adding copilot works fine

### Development Track:
- Task: https://challenges.topcoder-dev.com/projects/16640/challenges/631da65d-b780-4e29-b9e5-ab62c1135926/view
  - ✅  Creates fine
  - ✅  Saves as draft fine
  - ✅  Activates fine
  - ⚠️  Create, save as draft, activate and try to close without

[2020-11-03 09:44] SathyaJayabal opened #336 "Sort is not returning any challenges"
got to https://www.topcoder.com/challenges?
apply sort for any of the following buckets
[code]

Expected: Challenges must be displayed sorted on the selected sort criteria
Actual: `No Challenges Found` message is displayed and no challenges are displayed.

The below api call does not return any challenges
`https://api.topcoder.com/v5/challenges/?status=Active&currentPhaseName=Registration&perPage=

[2020-11-03 15:16] rootelement commented on #291
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30142350<br/><br/>```This is an automated message for jcori via Topcoder X```

[2020-11-03 15:21] rootelement commented on #312
Increasing payment for:
- https://github.com/topcoder-platform/resources-api/issues/42
- Week of Oct 19 status update
- Week of Oct 28 status update
- Week of Nov 3rd status update
- Support in 1.0.4 rollout of ES reindex

[2020-11-03 15:22] rootelement commented on #312
Contest https://www.topcoder.com/challenges/30148615 has been created for this ticket.<br/><br/>```This is an automated message for jcori via Topcoder X```

[2020-11-03 15:22] rootelement commented on #312
Contest https://www.topcoder.com/challenges/30148615 has been updated - it has been assigned to thomaskranitsas.<br/><br/>```This is an automated message for jcori via Topcoder X```

[2020-11-03 15:26] #312 closed

[2020-11-03 15:27] rootelement commented on #312
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30148615<br/><br/>```This is an automated message for jcori via Topcoder X```

[2020-11-12 09:19] rootelement opened #339 "[$1400] - Edit Timelines in Work Manager"
We need to be able to edit timelines in work manager. That includes:
1. Changing the timeline template
2. Changing the start/end of a phase and possibly moving the gantt

We had this in the UI before and had the functionality there, and everything worked fine in v5. It was when it was sync'd back to legacy that there was a problem. If i remember correctly, the issue was the v4 API wouldn't allow f

[2020-11-12 11:23] rootelement opened #340 "[$200] Webhooks Debug & TCO Support"
Thanks for the help over the past week sir!
(from me, @cwdcwd, and @ajefts)

[2020-11-12 11:23] rootelement commented on #340
Contest https://www.topcoder.com/challenges/30150794 has been created for this ticket.<br/><br/>```This is an automated message for jcori via Topcoder X```

[2020-11-12 11:24] rootelement commented on #340
Contest https://www.topcoder.com/challenges/30150794 has been updated - it has been assigned to callmekatootie.<br/><br/>```This is an automated message for jcori via Topcoder X```

[2020-11-12 11:25] #340 closed

[2020-11-12 11:27] rootelement commented on #340
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30150794<br/><br/>```This is an automated message for jcori via Topcoder X```

[2020-11-12 12:41] callmekatootie commented on #340
Thanks much!! :hugs:

[2020-11-23 14:03] vikasrohit commented on #331
@rootelement I didn't understand the text here. Are you suggesting to keep the challenge in browser member until user hit `Save Draft` button? or something else which I didn't understand.

[2020-11-30 23:29] ThomasKranitsas opened #342 "[$100] Misc fixes for attachments"
- [x] Set default `fileSize` for attachments to `0`
- [x] Updated the `AttachmentService` to call the `ChallengeService` in order to update the challenge object on attachment create/update/delete
- [x] Updated the `ChallengeService` to remove support for `attachmentIds` and add support for `attachments`

### Commits:
- https://github.com/topcoder-platform/challenge-api/commit/73fa4fe1b8982980ed423

[2020-12-01 15:42] maxceem opened #343 "No records found when searching non-active challenges by "memberId""
On the Topcoder challenge listing page, we can show "My Challenges"

![image](https://user-images.githubusercontent.com/146016/100762076-3fcb5f00-33fc-11eb-9dd6-8f3a6f64f200.png)

This list provided by the next API call https://api.topcoder-dev.com/v5/challenges/?status=Active&memberId=8547899&perPage=10&page=1&sortBy=startDate&sortOrder=desc&tracks[]=Dev&tracks[]=Des&tracks[]=DS&tracks[]=QA which

[2020-12-01 16:36] rootelement commented on #342
Contest https://www.topcoder.com/challenges/30155187 has been created for this ticket.<br/><br/>```This is an automated message for jcori via Topcoder X```

[2020-12-01 16:36] rootelement commented on #342
Contest https://www.topcoder.com/challenges/30155187 has been updated - it has been assigned to thomaskranitsas.<br/><br/>```This is an automated message for jcori via Topcoder X```

[2020-12-01 16:36] #342 closed

[2020-12-01 16:37] rootelement opened #344 "Timeline Notifications Enabled"
https://github.com/topcoder-platform/work-manager/issues/908#issuecomment-735818367

Please enable this on the https://github.com/topcoder-platform/legacy-challenge-processor by default on create. It'll have to be an informix manipulation

[2020-12-01 16:38] rootelement commented on #342
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30155187<br/><br/>```This is an automated message for jcori via Topcoder X```

[2020-12-01 16:38] rootelement opened #345 "[$300] Status & Copilot Questions"
Status for 11/16, 11/23, 11/30
Issue grooming
Slack support

[2020-12-01 16:38] rootelement commented on #345
Contest https://www.topcoder.com/challenges/30155188 has been created for this ticket.<br/><br/>```This is an automated message for jcori via Topcoder X```

[2020-12-01 17:41] rootelement commented on #345
Contest https://www.topcoder.com/challenges/30155188 has been updated - it has been assigned to thomaskranitsas.<br/><br/>```This is an automated message for jcori via Topcoder X```

[2020-12-01 18:46] #345 closed

[2020-12-01 18:46] rootelement commented on #345
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30155188<br/><br/>```This is an automated message for jcori via Topcoder X```

[2020-12-02 18:04] nursoltan-s opened #346 "[$10] Challenge Search Api, events param validation error."
### Steps to Reproduce:
1) Run `curl https://api.topcoder-dev.com/v5/challenges/\?events\[\]\=tco20`
2) See error: "{"message":"\"0\" must be a number"}"

### Expected:
- Api should return challenges related "TCO20" events.

### Problem:
https://github.com/topcoder-platform/challenge-api/blob/develop/src/services/ChallengeService.js#L675
-  events validation should be `Joi.array().items(Joi.string

[2020-12-02 18:12] rootelement commented on #346
Just pushed a fix to dev. Thanks for bringing the issue to our attention.
https://github.com/topcoder-platform/challenge-api/commit/cc7d1dfa0657094563ea0709db374c06a987b93b

It's deploying now.

[2020-12-02 18:13] rootelement commented on #346
Contest https://www.topcoder.com/challenges/30155543 has been created for this ticket.<br/><br/>```This is an automated message for jcori via Topcoder X```

[2020-12-02 18:13] rootelement commented on #346
Topcoder-X only supports a single assignee on a ticket to avoid issues with payment<br/><br/>```This is an automated message for jcori via Topcoder X```

[2020-12-02 18:13] rootelement commented on #346
Contest https://www.topcoder.com/challenges/30155543 has been updated - it has been assigned to nursoltan-s.<br/><br/>```This is an automated message for jcori via Topcoder X```

[2020-12-02 18:16] rootelement commented on #346
Not sure why this won't allow me to assign you... I'm trying to pay it out...

[2020-12-02 18:16] #346 closed

[2020-12-02 18:16] rootelement commented on #346
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30155543<br/><br/>```This is an automated message for jcori via Topcoder X```

[2020-12-02 18:18] rootelement commented on #346
Working in dev:
http://api.topcoder-dev.com/v5/challenges?events[]=tco15

[2020-12-07 14:38] rootelement commented on #339
Contest https://www.topcoder.com/challenges/30156224 has been created for this ticket.<br/><br/>```This is an automated message for jcori via Topcoder X```

[2020-12-07 14:38] rootelement commented on #339
Contest https://www.topcoder.com/challenges/30156224 has been updated - it has been assigned to thomaskranitsas.<br/><br/>```This is an automated message for jcori via Topcoder X```

[2020-12-07 14:42] ThomasKranitsas commented on #339
PR: https://github.com/topcoder-platform/legacy-challenge-processor/pull/27

[2020-12-07 15:07] #339 closed

[2020-12-07 15:07] rootelement commented on #339
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30156224<br/><br/>```This is an automated message for jcori via Topcoder X```

[2020-12-08 16:35] rootelement opened #347 "[$125] Legacy Terms Processor Sync Script"
1. Query v5 terms using an m2m to get all member ids that have signed a given terms uuid (can be constant in the script)
1. Check to see if that handle and legacy id are in `user_terms_of_use_xref` in informix, if not, add the memberId, terms legacy Id, created and modified dates (CURRENT is fine)

[2020-12-08 16:35] rootelement commented on #347
Contest https://www.topcoder.com/challenges/30156586 has been created for this ticket.<br/><br/>```This is an automated message for jcori via Topcoder X```

[2020-12-08 16:35] rootelement commented on #347
Contest https://www.topcoder.com/challenges/30156586 has been updated - it has been assigned to thomaskranitsas.<br/><br/>```This is an automated message for jcori via Topcoder X```

[2020-12-08 19:10] ThomasKranitsas commented on #347
PR https://github.com/topcoder-platform/legacy-challenge-processor/pull/28

[2020-12-08 19:40] #347 closed

[2020-12-08 19:41] rootelement commented on #347
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30156586<br/><br/>```This is an automated message for jcori via Topcoder X```

[2020-12-09 17:49] maxceem opened #348 "When creating multiple attachments in parallel, only one is actually created"
Follow up from https://github.com/topcoder-platform/work-manager/issues/917#issuecomment-741941747

In Work Manager, we support uploading multiple attachments at once.
- we send multiple `POST /challenges/:id/attachments` requests in parallel and all of them are successful
- but after I reload the challenge `GET /challenge/:id` returns only one attachment

See demo video https://monosnap.com/file/

[2020-12-09 19:00] rootelement opened #349 "[$200] Challenge Notifications"
1. Add project_info type 11 to the legacy-challenge-processor
2. Add notification entry to the legacy-challenge-resource-processor

[2020-12-09 19:00] rootelement commented on #349
Contest https://www.topcoder.com/challenges/30156971 has been created for this ticket.<br/><br/>```This is an automated message for jcori via Topcoder X```

[2020-12-09 19:00] rootelement commented on #349
Contest https://www.topcoder.com/challenges/30156971 has been updated - it has been assigned to thomaskranitsas.<br/><br/>```This is an automated message for jcori via Topcoder X```

[2020-12-09 19:01] rootelement commented on #349
PRs
- https://github.com/topcoder-platform/legacy-challenge-processor/pull/29
- https://github.com/topcoder-platform/legacy-challenge-processor/pull/30

[2020-12-09 19:34] ThomasKranitsas commented on #349
Legacy resource proc PR: https://github.com/topcoder-platform/legacy-challenge-resource-processor/pull/18

[2020-12-10 00:06] rootelement commented on #344
This is confirmed fixed in dev:
https://challenges.topcoder-dev.com/projects/16640/challenges/6ceb1dee-2a7b-4ba2-aaa4-b22776b3e165/view
<img width="363" alt="Screen Shot 2020-12-09 at 7 05 41 PM" src="https://user-images.githubusercontent.com/5400156/101703927-9d415a80-3a51-11eb-9ed1-2f7a1ff01b20.png">

[2020-12-10 00:06] #344 closed

[2020-12-10 00:09] #316 closed

[2020-12-10 00:09] #322 closed

[2020-12-10 15:50] rootelement opened #350 "[$75] Update Terms Error Response"
When a user is registered to a challenge, and that user hasn't signed requisite terms, the error returns the name of the terms, but no data associated with it.

Augment the error object to have a freeform metadata object (we will add this to the v5 standard), for example:
[code]

DO NOT edit the error message object, only add the metadata object (i mean, don't remove properties, or rename properti

[2020-12-10 15:50] rootelement commented on #350
Contest https://www.topcoder.com/challenges/30157278 has been created for this ticket.<br/><br/>```This is an automated message for jcori via Topcoder X```

[2020-12-10 16:05] ThomasKranitsas commented on #350
PR: https://github.com/topcoder-platform/resources-api/pull/50

[2020-12-10 16:05] rootelement commented on #350
Contest https://www.topcoder.com/challenges/30157278 has been updated - it has been assigned to thomaskranitsas.<br/><br/>```This is an automated message for jcori via Topcoder X```

[2020-12-10 16:19] rootelement commented on #349
Payment failed: [500]: Failed to get billing detail for the project.<br/><br/>```This is an automated message for jcori via Topcoder X```

[2020-12-10 16:20] rootelement commented on #350
Payment failed: [500]: Failed to get billing detail for the project.<br/><br/>```This is an automated message for jcori via Topcoder X```

[2020-12-11 17:05] rootelement opened #351 "Implement new Sort standard"
Implement better sort:

`GET /cars?sort=-manufacturer,+model`

Source:
https://medium.com/@mwaysolutions/10-best-practices-for-better-restful-api-33a25a4e92c1

[2020-12-16 18:54] #350 closed

[2020-12-16 18:54] rootelement commented on #350
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30157278<br/><br/>```This is an automated message for jcori via Topcoder X```

[2020-12-16 18:54] #349 closed

[2020-12-16 18:54] rootelement commented on #349
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30156971<br/><br/>```This is an automated message for jcori via Topcoder X```

[2020-12-16 18:57] #334 closed

[2020-12-16 18:57] #331 closed

[2020-12-17 15:34] rootelement commented on #326
This is fixed on the api side. Closing the issue.

[2020-12-17 15:34] #326 closed

[2020-12-18 13:37] ThomasKranitsas commented on #267
@SathyaJayabal need help on how to reproduce this issue so I can fix it

[2020-12-18 13:38] ThomasKranitsas commented on #266
@SathyaJayabal can you please retest this?

[2020-12-18 13:42] ThomasKranitsas commented on #239
I see the ongoing bucket has been removed. Can we close this issue? @rootelement @SathyaJayabal

[2020-12-18 13:47] SathyaJayabal commented on #267
@ThomasKranitsas
https://www.topcoder.com/challenges/a073a64c-0bb1-4104-9ae0-028654b7196e and
https://www.topcoder.com/challenges/cb39113a-2286-4521-9df5-02334d6c3476

have different winner info in v4 and v5. Have not seen any other cases. Not sure how this is caused or how it can be reproduced.

[2020-12-18 13:47] #239 closed

[2020-12-18 14:01] SathyaJayabal commented on #266
@ThomasKranitsas , the older challenge still has the wrong number of submissions
example
`63ed01ee-c019-4c31-bcd5-9096a78929ef`
But more recent contests have the correct number of submissions
example
`60587e53-ff44-481b-9ec0-f8377a04acca`

<img width="1440" alt="Screenshot 2020-12-18 at 7 28 46 PM" src="https://user-images.githubusercontent.com/58783823/102622671-5e08bd00-4167-11eb-8f35-03ee6daed5

[2020-12-18 15:30] #297 closed

[2020-12-18 15:30] #258 closed

[2020-12-18 15:31] #231 closed

[2020-12-18 15:32] rootelement opened #353 "[$40] Sorting Resources"
https://github.com/topcoder-platform/resources-api/issues/51

[2020-12-18 15:32] rootelement commented on #353
Contest https://www.topcoder.com/challenges/30159236 has been created for this ticket.<br/><br/>```This is an automated message for jcori via Topcoder X```

[2020-12-18 15:33] rootelement commented on #353
@topcoder-platform/tcxcommunity This is open for pickup

[2020-12-18 15:37] #274 closed

[2020-12-18 15:44] rootelement commented on #353
Contest https://www.topcoder.com/challenges/30159236 has been updated - it has been assigned to Narekvar90.<br/><br/>```This is an automated message for jcori via Topcoder X```

[2020-12-18 16:14] ThomasKranitsas opened #354 "[$20] Fix error code when deleting a resource"
Issue: https://github.com/topcoder-platform/resources-api/issues/39

The fix needs to be done on the Resouce API repo. Create a pull request against the `develop` branch.

[2020-12-18 16:14] rootelement commented on #354
Contest https://www.topcoder.com/challenges/30159246 has been created for this ticket.<br/><br/>```This is an automated message for jcori via Topcoder X```

[2020-12-18 16:15] ThomasKranitsas commented on #354
@topcoder-platform/tcxcommunity This is open for pickup

[2020-12-18 18:42] rootelement opened #355 "[$600] Copilot Payment for Week of 12/13"
Provided Status
Debugged and Groomed Issues
Made Fixes
Tested and debugged dev deploys.

[2020-12-18 18:42] rootelement commented on #355
Contest https://www.topcoder.com/challenges/30159253 has been created for this ticket.<br/><br/>```This is an automated message for jcori via Topcoder X```

[2020-12-18 18:44] rootelement commented on #355
Contest https://www.topcoder.com/challenges/30159253 has been updated - it has been assigned to thomaskranitsas.<br/><br/>```This is an automated message for jcori via Topcoder X```

[2020-12-18 18:46] #355 closed

[2020-12-18 18:46] rootelement commented on #355
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30159253<br/><br/>```This is an automated message for jcori via Topcoder X```

[2020-12-19 11:37] rootelement commented on #354
Contest https://www.topcoder.com/challenges/30159246 has been updated - it has been assigned to marioskranitsas.<br/><br/>```This is an automated message for jcori via Topcoder X```

[2020-12-19 12:20] marioskranitsas commented on #354
PR https://github.com/topcoder-platform/resources-api/pull/53

[2020-12-19 14:12] narekcat commented on #353
Hello @rootelement . I have fixed this issue, see pull request https://github.com/topcoder-platform/resources-api/pull/54.
I think I can add  support  sorting by `role text` alphabetically, but it will require additional efforts.

[2020-12-19 15:37] #354 closed

[2020-12-19 15:37] rootelement commented on #354
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30159246<br/><br/>```This is an automated message for jcori via Topcoder X```

[2020-12-20 13:55] rootelement opened #356 "[$20] Remove legacy.reviewType from being required on create"
`Post /v5/challenges` requires `legacy.reviewType` be set. Please remove this requirement (and from Update if it's also required). If it's not passed in, default it by using a constant just like CONFIDENTIALITY_TYPE, setting the default to Internal. Update the swagger to show that the types can be: COMMUNITY, INTERNAL

[2020-12-20 13:55] rootelement commented on #356
Contest https://www.topcoder.com/challenges/30159339 has been created for this ticket.<br/><br/>```This is an automated message for jcori via Topcoder X```

[2020-12-20 15:01] rootelement commented on #356
Contest https://www.topcoder.com/challenges/30159339 has been updated - it has been assigned to marioskranitsas.<br/><br/>```This is an automated message for jcori via Topcoder X```

[2020-12-21 12:07] marioskranitsas commented on #356
PR https://github.com/topcoder-platform/challenge-api/pull/357

[2020-12-21 13:46] #353 closed

[2020-12-21 13:46] rootelement commented on #353
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30159236<br/><br/>```This is an automated message for jcori via Topcoder X```

[2020-12-21 13:47] #356 closed

[2020-12-21 13:47] rootelement commented on #356
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30159339<br/><br/>```This is an automated message for jcori via Topcoder X```

[2020-12-22 14:00] rootelement opened #358 "Use Case - Topcoder User launching Challenge"
Right now if someone knows the v5 Project ID of an active project, and that project has a billing account, they can launch a challenge. We need to:

- [ ] Check to see if the jwt user has an active v5 Project ID
- [ ] That user has a role on that project (v5 Project.members)
- [ ] If the user has no role on the project, throw a 403

[2020-12-22 14:03] rootelement opened #359 "WIP Use Case - v5 Project Members on Challenges"
The use case here is:

On the v5 Project object is a members array. Please satisfy these scenarios:
- [ ]  Complete this check #358
- [ ]  v5 project member type `copilot` is added as a challenge manager with notifications on
- [ ]  v5 project member type `manager` is added as a challenge manager with notifications off
- [ ]  v5 project member type `customer` is added as a challenge manager with n

[2020-12-22 14:08] rootelement opened #360 "Use Case - User Added/Removed from v5 Project"
Need to update the https://github.com/topcoder-platform/resource-processor to listen to v5 Project bus messages to add/remove people as they’re added/removed from the project. Must follow all the rules set in #358 and #359

[2020-12-29 04:15] SathyaJayabal commented on #267
@ThomasKranitsas @rootelement , one more recent example
https://github.com/topcoder-platform/community-app/issues/5273

[2020-12-31 14:20] rootelement opened #362 "[$600] Copilot Payment"
- Tasks
- Status
- Debugging
- Fixes and dev testing

[2020-12-31 14:21] rootelement commented on #362
Contest https://www.topcoder.com/challenges/30161010 has been created for this ticket.<br/><br/>```This is an automated message for jcori via Topcoder X```

[2020-12-31 14:24] rootelement commented on #362
Contest https://www.topcoder.com/challenges/30161010 has been updated - it has been assigned to thomaskranitsas.<br/><br/>```This is an automated message for jcori via Topcoder X```

[2020-12-31 14:25] #362 closed

[2020-12-31 14:29] rootelement commented on #362
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30161010<br/><br/>```This is an automated message for jcori via Topcoder X```

[2021-01-05 10:15] vikasrohit opened #364 "V5 GET challenges API - Topgear team"
Topgear team reported V5 get challenges has issues
V5 GET challenges API
12:01
curl -X GET
'https://api.topcoder.com/v5/challenges?directProjectId=projectid&page=1&perPage=100'
-H 'Authorization: Bearer '
-H 'cache-control: no-cache'

Response is
{
"message": "Not found Group of id 053eb23f-......................"
}

Carried from https://github.com/topcoder-platform/work-manager/issues/898

[2021-01-06 16:44] ThomasKranitsas commented on #348
PR https://github.com/topcoder-platform/challenge-api/pull/361

[2021-01-06 17:13] ThomasKranitsas commented on #348
Deployed on dev, tested, works.

cc @rootelement

[2021-01-06 17:16] ThomasKranitsas commented on #343
@maxceem can you please test again ?

[2021-01-06 17:17] #348 closed

[2021-01-06 18:03] ThomasKranitsas commented on #360
PRs:

- https://github.com/topcoder-platform/challenge-api/pull/366
- https://github.com/topcoder-platform/legacy-challenge-resource-processor/pull/19
- https://github.com/topcoder-platform/resource-processor/pull/11

cc @rootelement

[2021-01-06 18:03] ThomasKranitsas commented on #359
PRs:

- https://github.com/topcoder-platform/challenge-api/pull/366
- https://github.com/topcoder-platform/legacy-challenge-resource-processor/pull/19
- https://github.com/topcoder-platform/resource-processor/pull/11

cc @rootelement

[2021-01-06 18:03] ThomasKranitsas commented on #358
PRs:

- https://github.com/topcoder-platform/challenge-api/pull/366
- https://github.com/topcoder-platform/legacy-challenge-resource-processor/pull/19
- https://github.com/topcoder-platform/resource-processor/pull/11

cc @rootelement

[2021-01-12 12:34] ThomasKranitsas commented on #343
@maxceem any update?

[2021-01-12 13:38] maxceem commented on #343
Sorry for the delay with reply @ThomasKranitsas

It looks good now some challenges are returned for TonyJ (id `8547899`):

![image](https://user-images.githubusercontent.com/146016/104321273-1538ef80-54ec-11eb-9a58-af97612245c1.png)

Link for verification https://www.topcoder-dev.com/challenges?bucket=myPast&tracks[DS]=true&tracks[Des]=true&tracks[Dev]=true&tracks[QA]=true&types[]=CH&types[]=F2F&t

[2021-01-12 14:17] rootelement commented on #343
@maxceem can we close this?

[2021-01-12 14:18] #107 closed

[2021-01-12 15:06] maxceem commented on #343
Yes, @rootelement closing it.

[2021-01-12 15:06] #343 closed

[2021-01-12 18:34] maxceem commented on #348
@ThomasKranitsas just to clarify. The initial issue which was described in this issue still persists, if I create attachments one by one, they disappear after https://monosnap.com/file/s3fjU3J3d3d3UeS6pA3aeyT2A5aJED

After creating a demo, I've checked the PR and understood that returning the array is intentional, so I would try updating UI to use one call with an array to overcome this issue.

[2021-01-12 21:13] ThomasKranitsas commented on #348
@maxceem that's the only way to overcome this issue. What you're talking about is the same as making multiple PUT requests at the same time. The latest one will overwrite the rest. With the latest updates, as you correctly understood, you can make one request to create multiple attachments

[2021-01-14 02:08] BenjiTheC opened #367 "Where is the registrant list in challenge api"
Hi team, I'm working on a academic research on crowdsourcing and is using your public api to gather some data. Just want to know that in V5 challenge API `https://api.topcoder.com/v5/challenges/?status=Completed` how can I get the list of registrants' handles? This field was available in v4 api and frontend app can show the registrants' list but I can't find any api call that contains the JSON dat

[2021-01-14 10:26] ThomasKranitsas commented on #367
Hey @BenjiTheC, in the V5 architecture, challenge registrants are no longer managed by the challenge API itself. They are managed by the Resources API.

Please find the documentation here http://api.topcoder-dev.com/v5/resources/docs/ (repo https://github.com/topcoder-platform/resources-api)

Let me know if you have any further questions!

[2021-01-14 10:26] #367 closed

[2021-01-14 12:20] maxceem opened #368 "Support attachments with spaces in filename."
Looks like attachments with spaces in filenames are not supported in the moment. Probably some other characters would cause the same issue.

- I'm trying to upload a file with the name `file name with space.txt`.
- I use FileStack to upload it to AWS S3 and get the next URL in AWS:
[code]
- Now if I try to create an attachment using the a POST request with the next body, I would get error: `{"mess

[2021-01-14 12:52] maxceem opened #369 "Cannot download attachments"
When I'm trying to download any attachment there is `Internal Server Error`.

For example attachments of this challenge https://api.topcoder-dev.com/v5/challenges/b2826ae7-186a-41ee-9645-6762539047c7.

Example download link https://api.topcoder-dev.com/v5/challenges/b2826ae7-186a-41ee-9645-6762539047c7/attachments/9a80cb11-4051-4abf-8147-fc239d128e4d/download?token=eyJhbGciOiJSUzI1NiIsInR5cCI6IkpX

[2021-01-14 12:53] maxceem commented on #368
Probably this issue would be resolved after fixing https://github.com/topcoder-platform/challenge-api/issues/369.

[2021-01-14 14:54] maxceem commented on #369
My bad I've accidentally used the wrong config. Works well with correct S3 config.

[2021-01-14 14:54] #369 closed

[2021-01-14 14:55] maxceem commented on #368
Works well if encoding URL before creating attachment after fixing https://github.com/topcoder-platform/challenge-api/issues/369.

[2021-01-14 14:55] #368 closed

[2021-01-14 15:44] BenjiTheC commented on #367
Thank you so much @ThomasKranitsas ! Been stumbling on this for couple of days, you literally make my day!

One more question regarding the Project api. As I understand, the project api is only accessible by the project managers/co-pilot. So if project manager and co-pilot are the major stakeholder of my research, and the project data (e.g. project description, general project start/end date, etc)

[2021-01-14 15:59] ThomasKranitsas commented on #367
@rootelement @ajefts ☝️

[2021-01-14 16:49] BenjiTheC commented on #367
Also during calling the challenge api and member api, I found following behaviors of microservices that I would like to provide some input for and learn the underlying design of:

1. Pagination with `page` & `perPage`, when I test the allowed value interval of pagination in different microservices, namely challenge api and member api, there seems to be an inconsistency with the behaviors of pagina

[2021-01-19 13:07] ajefts commented on #291
@rootelement @ThomasKranitsas This doesn't seem to be working.  I can see the stockart, but I don't see the other metadata fields like `effort hours`.

[2021-01-21 17:40] rootelement opened #370 "Legacy Challenge Processor Phase Management"
1. Update this PR: https://github.com/topcoder-platform/legacy-challenge-processor/pull/27
2. Confirm that we can successfully edit phases in v5 and they persist in legacy
   1. Change a phase duration and change subsequent phase startDates
   2. Open a phase, open multiple phases
   3. Close a phase, close multiple phases

[2021-01-21 20:54] rootelement opened #371 "[$400] Issue Cleanup & Status"
Status, Issue Cleanup, Followup, Debug & Testing

[2021-01-21 20:54] rootelement commented on #371
Contest https://www.topcoder.com/challenges/30163354 has been created for this ticket.<br/><br/>```This is an automated message for jcori via Topcoder X```

[2021-01-21 20:56] rootelement commented on #371
Contest https://www.topcoder.com/challenges/30163354 has been updated - it has been assigned to thomaskranitsas.<br/><br/>```This is an automated message for jcori via Topcoder X```

[2021-01-21 21:01] rootelement commented on #371
Payment failed: [500]: Failed to get challenge details by Id<br/><br/>```This is an automated message for jcori via Topcoder X```

[2021-01-21 21:03] #371 closed

[2021-01-21 21:03] rootelement commented on #371
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30163354<br/><br/>```This is an automated message for jcori via Topcoder X```

[2021-01-22 11:28] vikasrohit commented on #348
@rootelement when we are planning to move this to production? Attachments feature was broken on production in WM, so I am hiding that for now and would enable it again once we have these changes in production.

[2021-01-26 21:51] rootelement opened #374 "[$40] Hotfix Resource API Pagination"
https://github.com/topcoder-platform/challenge-api/pull/373

[2021-01-26 21:57] rootelement commented on #374
Challenge https://www.topcoder.com/challenges/0a30d65c-56e7-4704-bc78-f789896de083 has been created for this ticket.<br/><br/>```This is an automated message for jcori via Topcoder X```

[2021-02-03 19:38] ThomasKranitsas opened #377 "Reindex data in Resources API"
We need to reindex the data in the Resources API and update the mappings so `challengeId` is a `keyword` so we can do:

[code]

[2021-02-03 19:39] ThomasKranitsas opened #378 "Support pure v5 tasks"
We need to add support for a `legacy` property named `pureV5Task` (boolean).

If that property is set on a challenge, we will skip all legacy challenge checks and handle it purely on the v5 domain.

[2021-02-03 21:08] ThomasKranitsas commented on #378
PRs:
- https://github.com/topcoder-platform/challenge-api/pull/379
- https://github.com/topcoder-platform/legacy-challenge-processor/pull/35
- https://github.com/topcoder-platform/legacy-challenge-resource-processor/pull/20

[2021-02-05 00:08] rootelement commented on #374
Challenge https://www.topcoder.com/challenges/d45f19bb-86ec-4085-89df-762a8909e17e has been created for this ticket.<br/><br/>```This is an automated message for jcori via Topcoder X```

[2021-02-05 16:05] rootelement opened #380 "[$400] Challenge API and TopcoderX Support"
- Debug
- Patch
- Test

[2021-02-05 16:24] rootelement commented on #380
Challenge https://www.topcoder.com/challenges/daa02eb6-9032-40e6-86e0-e6d0da47db54 has been created for this ticket.<br/><br/>```This is an automated message for jcori via Topcoder X```

[2021-02-05 16:26] rootelement commented on #380
Challenge https://www.topcoder.com/challenges/daa02eb6-9032-40e6-86e0-e6d0da47db54 has been assigned to thomaskranitsas.<br/><br/>```This is an automated message for jcori via Topcoder X```

[2021-02-05 16:26] rootelement commented on #374
Challenge https://www.topcoder.com/challenges/d45f19bb-86ec-4085-89df-762a8909e17e has been assigned to thomaskranitsas.<br/><br/>```This is an automated message for jcori via Topcoder X```

[2021-02-05 16:30] rootelement commented on #380
Payment failed: [400]: Failed to activate challenge. Detail: Cannot Activate this project, it has no active billing accounts.<br/><br/>```This is an automated message for jcori via Topcoder X```

[2021-02-05 16:30] rootelement commented on #374
Payment failed: [400]: Failed to activate challenge. Detail: Cannot Activate this project, it has no active billing accounts.<br/><br/>```This is an automated message for jcori via Topcoder X```

[2021-02-08 04:19] BenjiTheC commented on #367
Hi Thomas, is there an api endpoint where I can access the score of a challenge submission? There used to by a `points` field in the `winners` array of the challenge in V4 api, I'm unable to find one in V5, would you please let me know, if still available, how can I get the submission score?

Thx!

[2021-02-08 14:48] #374 closed

[2021-02-08 14:49] rootelement commented on #374
Payment task has been updated: https://www.topcoder.com/challenges/d45f19bb-86ec-4085-89df-762a8909e17e
*Payments Complete*
Winner: thomaskranitsas
Challenge `d45f19bb-86ec-4085-89df-762a8909e17e` has been paid and closed.<br/><br/>```This is an automated message for jcori via Topcoder X```

[2021-02-08 14:50] rootelement commented on #380
Payment task has been updated: https://www.topcoder.com/challenges/daa02eb6-9032-40e6-86e0-e6d0da47db54
*Payments Complete*
Winner: thomaskranitsas
Challenge `daa02eb6-9032-40e6-86e0-e6d0da47db54` has been paid and closed.<br/><br/>```This is an automated message for jcori via Topcoder X```

[2021-02-08 14:50] #380 closed

[2021-02-10 15:32] BenjiTheC opened #381 "Can I get winner's submission score in V5 API"
Hi team, I'm working on a academic research on crowdsourcing and is using your public api to gather some data. Previously I opened an issue regarding the registrant list (#367 ) and really appreciate your timely response!

I got a new question regarding the score of winner for Completed challenges. _In the V5 Challenge API there is no `point` field in the `winner` array._ I find the issue #71 call

[2021-02-12 17:26] BenjiTheC commented on #381
@ThomasKranitsas Mind take a quick look and save someone's day ? ;-) Thx!

[2021-02-15 22:33] rootelement commented on #378
Paid out via https://www.topcoder.com/challenges/24cb81b2-b403-465e-b2d2-13b10d29399d

[2021-02-15 22:33] #378 closed

[2021-02-15 22:34] rootelement commented on #370
Paid out via:
https://www.topcoder.com/challenges/70b51ae6-33b8-4813-b594-70d88824bb80

[2021-02-15 22:34] #370 closed

[2021-02-19 08:30] rootelement opened #385 "Defaults on Challenge Create"
The required payload for challenge create should be:
[code]

Can you add defaults for:
- [ ] startDate - Set it to NOW if it's not present in the payload
- [ ] timelineTemplateId - can we remove that as a requirement and use the default from the API for the track/type?
- [ ] status - can we default to new if a status isn't passed?

[2021-02-19 16:42] rootelement opened #386 "Enhance the Audit Logs Endpoint"
AuditLogs endpoint uses unpaginated Dynamo scan to get data, so it doesn't return everything.

I ran this:
[code]

And get one object returned:
[code]

But in the UI, i get 14 rows returned:

![Screen Shot 2021-02-19 at 11 38 20 AM](https://user-images.githubusercontent.com/5400156/108533718-4a80ec00-72a7-11eb-91d6-169f9b5f3250.png)

Update the endpoint to use better dynamo query logic (adding cha

[2021-02-22 14:17] rootelement opened #387 "Challenge Forum Title Limit"
Member created a challenge and the challenge title was too long for the challenge forum processor. We need to limit/truncate this somewhere. Will decide where.

## Logs from Challenge Forum Processor
[code]

[2021-02-22 14:20] rootelement commented on #387
@vikasrohit @ThomasKranitsas @jmgasper
This is a problem we have to solve across the three properties, WM, Challenge API, Forum Processor:

1. @jmgasper - Please confirm the Challenge Forum Title character limit. We will also need to retry creating a forum on `challenge.notifications.update` if the same conditions exist - discussions object exists with no url. Right now i have no way to recreate a

[2021-02-23 04:25] m-yadav opened #389 "Challenge Status not updated on Challenge page"
The challenge : https://www.topcoder.com/challenges/de5c4d07-2b11-4e7c-ba16-7fc07c490a3f
is already marked completed but the status on the challenge page still shows next deadline as "Registration"

![image](https://user-images.githubusercontent.com/45197181/108801970-24b45980-75bd-11eb-8c75-1c62ba0c027f.png)

The OR Status shows completed
https://software.topcoder.com/review/actions/ViewProjectDe

[2021-02-23 05:22] SathyaJayabal opened #390 "Search only searching in challenge spec and not title"
@rootelement , when we search for a specific term, challenge api returns only when search term is found in the challenge description. It does not consider title. This was working fine before.

Example:
<img width="1440" alt="Screenshot 2021-02-23 at 10 51 07 AM" src="https://user-images.githubusercontent.com/58783823/108805080-1cf8b300-75c5-11eb-86f8-c80a60cc5408.png">
<img width="1440" alt="Scree

[2021-02-25 08:26] m-yadav opened #391 "Work Manager Challenge Status Sync issue"
There have been cases reported where the challenge created via WM is marked completed in Direct/ OR but the status on WM still shows draft and on the challenge details page  the status is in progress.

For example

The task is shown on the Draft tab in Draft status
https://challenges.topcoder.com/projects/25300/challenges/c7b62375-041a-4455-9c06-266dbb97f14a/view, while it has to be shown as Compl

[2021-03-02 20:51] rootelement opened #393 "WIP Billing Account & Markup"
For this issue, we'll implement billing account on the challenge object and the calculate the markup. This challenge depends on the projects api implementing the sfdc billing account markup property.

## 1. Implement Challenge API
Allow the challenge api to have a `billing` object:
[code]

1. Billing Account ID should NOT be required to create a challenge
2. Billing Account ID SHOULD be required t

[2021-03-04 23:21] ThomasKranitsas commented on #393
Working on https://github.com/topcoder-platform/challenge-api/tree/feature/v5-ba

The flow will be like this:
- If the billing information is set, we validate and use that
- If the billing information is not set, we will try to fetch the default from the Projects API

Assumptions:
1. The `billingAccountId` is read
2. The `markup` can be different than what's in the Project info but we default to t

[2021-03-05 00:13] ThomasKranitsas commented on #393
PRs:
- https://github.com/topcoder-platform/challenge-api/pull/388
- https://github.com/topcoder-platform/legacy-challenge-processor/pull/39/

[2021-03-05 13:54] rootelement commented on #364
This was fixed. It was a problem with Groups pagination.

[2021-03-05 13:54] #364 closed

[2021-03-05 14:23] rootelement opened #394 "WIP Challenge "Seats""
We need to add the ability to limit the number of people who can register for a challenge.

Add `challenge.seats` - If it doesn't exist, or it's set to 0, it's unlimited.

On the challenge registration, when a user registers, make sure there's a seat available.

## Issues
1. What prevents someone from registering for a challenge, taking a seat, and not doing the work?

[2021-03-05 15:22] cwdcwd commented on #394
1. We have that problem with open reg today with non submission but obviously squatting here would be an issue. I'd hate to introduce checkpoints and complicate things but how about a negative incentive. Squatting without a valid submission dings the member somehow or blocks them from later registrations.
2. I think all, myself
3. Do you mean limit reg to a filter on member traits of some kind? It

[2021-03-10 03:33] rootelement opened #398 "createdBy in Legacy tcwebservice user"
When you create a challenge in v5, it is initially created in legacy via v4 challenge api. This marks the create_user in legacy as the tcwebservice user because that's what the API uses to create the user.

Since we're overriding pretty much everything immediately after create, can you pull the createdBy from v5 and write it to the projects.create_user. Catch is that you have to convert handle to

[2021-03-15 20:50] ThomasKranitsas commented on #385
PR https://github.com/topcoder-platform/challenge-api/pull/397

[2021-03-15 20:51] ThomasKranitsas commented on #386
PR https://github.com/topcoder-platform/challenge-api/pull/396

[2021-03-15 20:51] ThomasKranitsas commented on #387
PR https://github.com/topcoder-platform/challenge-api/pull/395

[2021-03-19 19:46] ThomasKranitsas commented on #390
@SathyaJayabal in order to fix/improve our search functionality, can you please create a list of expected search queries and results along with a simple explanation so we can improve our code? Something like:
- Searching for `node API` should return `Implement an API using NodeJs`. Explanation: all query terms are partially present in any order

We need as many use case scenarios as possible so we

[2021-03-19 19:49] rootelement commented on #390
Might be a question for @Oanh-and-only-Oanh as well.

[2021-03-22 12:18] ThomasKranitsas commented on #390
@SathyaJayabal @Oanh-and-only-Oanh any update here?

[2021-03-22 12:22] SathyaJayabal commented on #390
@ThomasKranitsas , the basic search which was working before is :
Searching for `node API` should return challenges which have the words `node API` either in the title or the description(contest spec).

@Oanh-and-only-Oanh , please add any further requirements.

[2021-03-22 12:36] ThomasKranitsas commented on #390
IMHO, searching for node API should return challenges that:

1. have the `node API` in the title (case insensitive)
2. OR have the `node API`  in the description (case insensitive)
3. OR have the tag `node` (partial match - case insensitive)
4. OR have the tag `API` (partial match - case insensitive)

we could make this more advanced by extracting all words in #1 and use them separately as a query

[2021-03-22 12:55] rootelement commented on #390
I almost think the weight should be:
1. Title Exact Match Phrase
2. Tag exact match
3. Description Exact Match
4. Title Fuzzy Match (tokenized)
5. Tag Fuzzy
6. Description Fuzzy

[2021-03-22 14:51] Oanh-and-only-Oanh commented on #390
I agree with @rootelement but as a minimum we'd like it to return challenges which has the search terms either in the title or the description(contest spec).

[2021-03-25 15:32] sushilshinde opened #402 "New Feature Request : filter by prize range"
Current API endpoint doesn't support filter by prize range. Requesting this feature for the Part 2  for [challenge listing MFE](https://www.topcoder.com/challenges/ff551ab2-95cb-4acd-9343-4d490ea4bb5e)
UI : https://marvelapp.com/prototype/g0i7agh/screen/76792761

Ref : https://docs.google.com/spreadsheets/d/1gL5KlZG9myRzw3oXEn8sHc3isvmirM5pjhfC9LQfVSE/edit#gid=0

[2021-03-25 15:44] sushilshinde opened #403 "New Feature Request : Change condition"
Current API endpoint supports `Filter by Skills` but it uses AND instead OR. These need fix.
Requesting this feature for Part 2  for [challenge listing MFE](https://www.topcoder.com/challenges/ff551ab2-95cb-4acd-9343-4d490ea4bb5e)
UI : https://marvelapp.com/prototype/g0i7agh/screen/76792761
Field  : Skills/Techology

[2021-03-25 16:49] ThomasKranitsas commented on #403
This is already supported. We have support for a `includeAllTags` query parameter. By default, the API does an `OR` query but if you set the `includeAllTags` to `true` it switches to `AND`.

Examples:
- http://api.topcoder-dev.com/v5/challenges?tags[]=AWS&tags[]=nodejs returns challenges that have either nodejs or aws in the tags
- http://api.topcoder-dev.com/v5/challenges?tags[]=AWS&tags[]=nodejs

[2021-03-25 16:58] ThomasKranitsas commented on #402
Done. PR: https://github.com/topcoder-platform/challenge-api/pull/404

cc @rootelement

[2021-03-25 17:02] sushilshinde commented on #403
@luizrrodrigues FYI

[2021-03-26 08:24] maxceem opened #405 "Cannot create challenges in some projects even by admin"
When trying to create a challenge in Work Manager in some projects there is an error:

[code]

This happens even using admin users like `TonyJ`, the Challenge API endpoint return error `400`:
[code]

![image](https://user-images.githubusercontent.com/146016/112603083-28860680-8e1d-11eb-9b6a-b2e623eb98bd.png)

[2021-03-26 17:52] rootelement commented on #402
Confirmed in dev:

[code]

[2021-03-26 17:52] #402 closed

[2021-03-26 17:52] #403 closed

[2021-03-26 17:57] rootelement commented on #405
Mentioned in thread. The project in connect needs the billing account selected.

[2021-03-26 17:57] #405 closed

[2021-03-30 14:58] sushilshinde commented on #402
@luizrrodrigues FYI

[2021-04-01 05:52] rootelement commented on #402
@sushilshinde @luizrrodrigues confirmed in prod

[2021-04-10 08:54] maxceem opened #410 "Get challenges which particular user has access to by admin/m2m"
We have endpoint `GET /v5/challenges` which returns the list of the challenges. Some challenges are private and would be only returned to the users who belong to particular groups.

- At the moment this endpoint decides which challenges to return based on the user who called this endpoint.
- We would like to be able to get a list of the challenges by admin/m2m token as another sees it like this:

[2021-04-10 15:20] rootelement commented on #410
I'm mobile at the minute, but I believe you can filter by `memberId` as an m2m or admin. Please check.

[2021-04-10 15:56] maxceem commented on #410
Thanks for replying @rootelement, it's similar but we have a bit different request.

`memberId` means `my challenges` i. e. challenges where the member is registered as submitter/reviewer or challenge which member is running as copoilot/observer/manager.

![image](https://user-images.githubusercontent.com/146016/114276091-d9032580-9a2d-11eb-8fea-0263bed0fc9f.png)

But what we would like to have is

[2021-04-29 14:37] #387 closed

[2021-04-29 14:42] #385 closed

[2021-04-29 14:43] #360 closed

[2021-04-29 14:43] #359 closed

[2021-04-29 14:47] #358 closed

[2021-04-29 15:04] rootelement commented on #158
@ThomasKranitsas  Is this still true? We're using v5 projects for BA info, we don't allow activation if it's not set, and the LCP should be reading the BA from the payload/api?

[2021-04-29 15:05] #154 closed

[2021-04-29 15:05] #128 closed

[2021-04-29 15:12] #102 closed

[2021-05-26 21:26] ThomasKranitsas opened #416 "[$20] Add pureV5 flag on challenge"
Add support for a flag named `pureV5` inside the `legacy` property of the Challenge object that’s similar to the existing `pureV5Task`. Update all related endpoints and documentation.

## Repo information:

Repo: https://github.com/topcoder-platform/challenge-api

Create a pull request against the **develop** branch

[2021-05-26 21:26] rootelement commented on #416
Challenge https://www.topcoder.com/challenges/08807271-e038-4c1e-b132-d2d0a6ac5a5a has been created for this ticket.<br/><br/>```This is an automated message for jcori via Topcoder X```

[2021-05-26 21:30] ThomasKranitsas opened #417 "[$120] Create a flow diagram for the phase management"
Please go through this challenge specification https://www.topcoder.com/challenges/a1311e25-5657-40bc-8f71-45c5a4f760e7 and create a flow diagram that describes how all those services work with each other in order to run and manage a pure v5 design challenge end-to-end.

Use the diagram from https://github.com/topcoder-platform/eventbridge-poc as an example

Upload a zip file with the rendered ima

[2021-05-26 21:30] rootelement commented on #417
Challenge https://www.topcoder.com/challenges/c2aa064f-7fdf-4b54-abe7-2d58d05b3664 has been created for this ticket.<br/><br/>```This is an automated message for jcori via Topcoder X```

[2021-05-26 21:36] ThomasKranitsas opened #418 "[$120] Schedule the start/end of the Registration, Submission and Checkpoint submission phases"
Create a handler on the EventBridge PoC that responds to challenge table insert/update events and:
- If the `challenge.status` is not `Active` or does not have the `legacy.pureV5` flag, ignore the event
- If it is `Active` and has the `legacy.pureV5` flag, calls the Schedule API to schedule the start/end of the Registration, Submission, and Checkpoint Submission phases
- When a challenge gets upda

[2021-05-26 21:36] rootelement commented on #418
Challenge https://www.topcoder.com/challenges/5076edee-4678-4bf4-8504-aa3185f3ef83 has been created for this ticket.<br/><br/>```This is an automated message for jcori via Topcoder X```

[2021-05-26 22:19] ThomasKranitsas commented on #416
Challenge https://www.topcoder.com/challenges/08807271-e038-4c1e-b132-d2d0a6ac5a5a has been assigned to gauravseta.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2021-05-26 22:36] ThomasKranitsas commented on #417
Challenge https://www.topcoder.com/challenges/c2aa064f-7fdf-4b54-abe7-2d58d05b3664 has been assigned to codingdrone.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2021-05-27 06:19] ThomasKranitsas commented on #418
Challenge https://www.topcoder.com/challenges/5076edee-4678-4bf4-8504-aa3185f3ef83 has been assigned to Narekvar90.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2021-05-27 09:58] codingdrone commented on #417
Hi, as many services are involved in phase management, would need more time, would request 12 more hours.

[2021-05-27 10:13] ThomasKranitsas commented on #418
Challenge https://www.topcoder.com/challenges/5076edee-4678-4bf4-8504-aa3185f3ef83 Narekvar90 has been unassigned.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2021-05-27 10:33] ThomasKranitsas commented on #417
That's fine

[2021-05-27 11:17] chtbharti commented on #418
Please assign it to me.

[2021-05-27 11:21] Gauravseta commented on #416
@ThomasKranitsas PR https://github.com/topcoder-platform/challenge-api/pull/419

[2021-05-27 11:22] ThomasKranitsas commented on #418
Challenge https://www.topcoder.com/challenges/5076edee-4678-4bf4-8504-aa3185f3ef83 has been assigned to gauravseta.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2021-05-27 15:32] #416 closed

[2021-05-27 15:32] ThomasKranitsas commented on #416
Payment task has been updated: https://www.topcoder.com/challenges/08807271-e038-4c1e-b132-d2d0a6ac5a5a
*Payments Complete*
Winner: gauravseta
Copilot: thomaskranitsas
Challenge `08807271-e038-4c1e-b132-d2d0a6ac5a5a` has been paid and closed.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2021-05-27 16:10] ThomasKranitsas commented on #418
@Gauravseta there is a change in the requirements. Please pause the work until I post the new requirements here

[2021-05-27 16:14] ThomasKranitsas commented on #418
@Gauravseta I have updated the requirements. I'll also increase the prize for the additional effort

[2021-05-27 18:33] ThomasKranitsas opened #420 "[$120] Handle checkpoint screening phase"
After the end of the Checkpoint Submission phase, the checkpoint submissions need to be screened.

Create a new handler in the EventBridge PoC that will listen to challenge table update events in dynamo DB, will check if there are any checkpoint submissions by calling the submissions API, and if there are any, it will start the checkpoint screening phase by updating the challenge using the Challen

[2021-05-27 18:33] ThomasKranitsas commented on #420
Challenge https://www.topcoder.com/challenges/0d10ab37-ec1e-4648-8a44-4cd60a3049e2 has been created for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2021-05-27 18:36] ThomasKranitsas commented on #420
@topcoder-platform/topcodercompetitors @topcoder-platform/tcxcommunity new issue open for pickup!

[2021-05-27 18:39] ThomasKranitsas opened #421 "[$120] Handle screening phase"
After the end of the Submission phase, the submissions need to be screened.

Create a new handler in the EventBridge PoC that will listen to challenge table update events in dynamo DB, will check if there are any submissions by calling the submissions API, and if there are any, it will start the screening phase by updating the challenge using the Challenge API.

Create another handler that will li

[2021-05-27 18:39] ThomasKranitsas commented on #421
Challenge https://www.topcoder.com/challenges/c451ba08-8d16-44b6-8da5-f15378215a59 has been created for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2021-05-27 18:39] ThomasKranitsas commented on #421
@topcoder-platform/topcodercompetitors @topcoder-platform/tcxcommunity new issue open for pickup!

[2021-05-27 23:00] ThomasKranitsas commented on #420
@chtbharti, please sign-up with Topcoder X tool<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2021-05-27 23:03] ThomasKranitsas commented on #421
@chtbharti, please sign-up with Topcoder X tool<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2021-05-27 23:04] chtbharti commented on #420
why issue not getting assigned? pls assign, I'm starting working on it.

[2021-05-28 10:04] ThomasKranitsas commented on #420
@chtbharti please go to the challenge page and click the link at the bottom of the challenge specification to register with Topcoder-X. This will allow you to self-assign

[2021-05-28 10:07] ThomasKranitsas commented on #417
@codingdrone the Scheduler API writes the scheduled events on the `scheduler-api` table but the actual phase information is saved within the challenge object on the `Challenge` table

[2021-05-28 10:16] codingdrone commented on #417
[phase-flow.zip](https://github.com/topcoder-platform/challenge-api/files/6560205/phase-flow.zip)

[2021-05-28 13:34] ThomasKranitsas commented on #417
Also, the diagram needs to be descriptive and not simply say "Receive event" > "Create phase event"

[2021-05-28 16:45] ThomasKranitsas commented on #418
@Gauravseta status update, please?

[2021-05-28 19:56] ThomasKranitsas commented on #421
Make sure to follow the best practices from https://platform.topcoder-dev.com/model/help/copilots-link

[2021-05-28 19:56] ThomasKranitsas commented on #420
Make sure to follow the best practices from https://platform.topcoder-dev.com/model/help/copilots-link

[2021-05-29 03:29] codingdrone commented on #417
[phase-flow2.zip](https://github.com/topcoder-platform/challenge-api/files/6563977/phase-flow2.zip)

@ThomasKranitsas  please review.

[2021-05-29 12:05] Gauravseta commented on #418
@ThomasKranitsas unable to import following postman collection
https://github.com/topcoder-platform/challenge-api/blob/develop/docs/topcoder-challenge-api.postman_collection.json

it says format error, whereas i am succesfuly able to import following collection https://github.com/topcoder-platform/challenge-api/blob/develop/docs/test%20challenge%20creation/Test%20Challenge%20Creation.postman_colle

[2021-05-29 19:50] ThomasKranitsas commented on #418
Yes, please use that one

[2021-05-29 19:50] ThomasKranitsas commented on #418
Can I get an ETA, please? If you can't fix this, please remove yourself

[2021-05-29 19:51] ThomasKranitsas commented on #420
@chtbharti are you still working on this?

[2021-05-29 19:51] ThomasKranitsas commented on #421
@rashmi73 update please. If you can't fix this, please remove yourself

[2021-05-29 19:52] #417 closed

[2021-05-29 19:52] ThomasKranitsas commented on #417
Payment task has been updated: https://www.topcoder.com/challenges/c2aa064f-7fdf-4b54-abe7-2d58d05b3664
*Payments Complete*
Winner: codingdrone
Copilot: thomaskranitsas
Challenge `c2aa064f-7fdf-4b54-abe7-2d58d05b3664` has been paid and closed.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2021-05-30 00:59] Gauravseta commented on #418
@ThomasKranitsas PR https://github.com/topcoder-platform/eventbridge-poc/pull/5

[2021-05-30 01:06] rashmi73 commented on #421
@ThomasKranitsas give me few hours I will unassign in case I fail

[2021-05-30 15:07] ThomasKranitsas commented on #421
@rashmi73 it's been 14 hours since you requested "a few hours".

[2021-05-30 19:55] ThomasKranitsas commented on #421
Challenge https://www.topcoder.com/challenges/c451ba08-8d16-44b6-8da5-f15378215a59 rashmi73 has been unassigned.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2021-05-30 20:02] ThomasKranitsas commented on #421
Challenge https://www.topcoder.com/challenges/c451ba08-8d16-44b6-8da5-f15378215a59 has been assigned to gauravseta.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2021-05-31 00:28] ThomasKranitsas commented on #420
Challenge https://www.topcoder.com/challenges/0d10ab37-ec1e-4648-8a44-4cd60a3049e2 has been assigned to chtbharti.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2021-05-31 00:28] ThomasKranitsas commented on #420
Challenge https://www.topcoder.com/challenges/0d10ab37-ec1e-4648-8a44-4cd60a3049e2 chtbharti has been unassigned.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2021-05-31 00:31] ThomasKranitsas commented on #420
Challenge https://www.topcoder.com/challenges/0d10ab37-ec1e-4648-8a44-4cd60a3049e2 has been assigned to codingdrone.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2021-05-31 11:21] #421 closed

[2021-05-31 11:22] ThomasKranitsas commented on #421
Payment task has been updated: https://www.topcoder.com/challenges/c451ba08-8d16-44b6-8da5-f15378215a59
*Payments Complete*
Winner: gauravseta
Copilot: thomaskranitsas
Challenge `c451ba08-8d16-44b6-8da5-f15378215a59` has been paid and closed.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2021-05-31 11:22] ThomasKranitsas commented on #418
Challenge https://www.topcoder.com/challenges/5076edee-4678-4bf4-8504-aa3185f3ef83 gauravseta has been unassigned.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2021-05-31 11:22] ThomasKranitsas commented on #418
Challenge https://www.topcoder.com/challenges/5076edee-4678-4bf4-8504-aa3185f3ef83 has been assigned to thomaskranitsas.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2021-05-31 11:23] ThomasKranitsas commented on #421
@Gauravseta I've accidentally paid you through this ticket for the work on #418

[2021-05-31 11:23] ThomasKranitsas commented on #420
@codingdrone are you working on this? Can I get an update please?

[2021-05-31 11:24] ThomasKranitsas commented on #421
@Gauravseta please don't work on this

[2021-05-31 14:06] codingdrone commented on #420
yeah, working on it, need  more time as many services are involved.

[2021-05-31 18:13] Gauravseta commented on #418
@ThomasKranitsas though this PR is for #421 ticket which is closed and paid hence adding here as this is open and have to be paid actually.

https://github.com/topcoder-platform/eventbridge-poc/pull/6

[2021-05-31 18:13] ThomasKranitsas commented on #418
Challenge https://www.topcoder.com/challenges/5076edee-4678-4bf4-8504-aa3185f3ef83 thomaskranitsas has been unassigned.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2021-05-31 18:15] ThomasKranitsas commented on #418
Challenge https://www.topcoder.com/challenges/5076edee-4678-4bf4-8504-aa3185f3ef83 has been assigned to gauravseta.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2021-06-01 13:10] ThomasKranitsas commented on #420
@codingdrone status update please?

[2021-06-01 13:12] ThomasKranitsas commented on #420
If I don't hear back from you within the next hour, you'll be removed

[2021-06-01 13:25] ThomasKranitsas commented on #420
Challenge https://www.topcoder.com/challenges/0d10ab37-ec1e-4648-8a44-4cd60a3049e2 codingdrone has been unassigned.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2021-06-01 13:42] ThomasKranitsas commented on #420
Challenge https://www.topcoder.com/challenges/0d10ab37-ec1e-4648-8a44-4cd60a3049e2 has been assigned to gauravseta.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2021-06-01 17:42] Gauravseta commented on #420
@ThomasKranitsas PR https://github.com/topcoder-platform/eventbridge-poc/pull/7 for this issue but please merge this PR first https://github.com/topcoder-platform/eventbridge-poc/pull/6

[2021-06-02 22:28] ThomasKranitsas opened #423 "[$70] Effort payment for Gauravseta"
This covers the effort from https://github.com/topcoder-platform/challenge-api/issues/418 and https://github.com/topcoder-platform/challenge-api/issues/420

The provided fix is half-baked and the business logic is wrong. There are even some syntax errors in the code.

We decided to cancel this bug bash and launch a challenge instead.

[2021-06-02 22:28] ThomasKranitsas commented on #423
Challenge https://www.topcoder.com/challenges/77c8702c-efa8-4020-9c56-de9d0da2db05 has been created for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2021-06-02 22:28] ThomasKranitsas commented on #418
Challenge https://www.topcoder.com/challenges/5076edee-4678-4bf4-8504-aa3185f3ef83 gauravseta has been unassigned.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2021-06-02 22:28] ThomasKranitsas commented on #423
Challenge https://www.topcoder.com/challenges/77c8702c-efa8-4020-9c56-de9d0da2db05 has been assigned to gauravseta.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2021-06-02 22:28] #423 closed

[2021-06-02 22:29] ThomasKranitsas commented on #420
Challenge https://www.topcoder.com/challenges/0d10ab37-ec1e-4648-8a44-4cd60a3049e2 gauravseta has been unassigned.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2021-06-02 22:29] ThomasKranitsas commented on #423
Payment task has been updated: https://www.topcoder.com/challenges/77c8702c-efa8-4020-9c56-de9d0da2db05
*Payments Complete*
Winner: gauravseta
Copilot: thomaskranitsas
Challenge `77c8702c-efa8-4020-9c56-de9d0da2db05` has been paid and closed.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2021-06-03 22:15] ganganimaulik commented on #420
@ThomasKranitsas

there is some issue with x.topcoder.com => it keeps redirecting me back to login page when i try to sign in to
my account is ganganimaulik@gmail.com : https://www.topcoder.com/members/Maulik.Gangani

![image](https://user-images.githubusercontent.com/10296400/120718495-ffea4f00-c4e6-11eb-8c39-8ec317c4f796.png)
![image](https://user-images.githubusercontent.com/10296400/120718544-

[2021-06-16 10:23] lakshmiathreya opened #425 "[$20] Keyword search doesn't return results"
<img width="1680" alt="Screenshot 2021-06-16 at 3 47 29 PM" src="https://user-images.githubusercontent.com/51733042/122202491-bd4b4e00-ceba-11eb-90aa-7c0e8503dc81.png">

<img width="1680" alt="Screenshot 2021-06-11 at 9 25 55 PM" src="https://user-images.githubusercontent.com/51733042/122202579-d227e180-ceba-11eb-997e-a25bf6645a2b.png">
<img width="1680" alt="Screenshot 2021-06-11 at 8 13 03 PM" s

[2021-06-16 10:24] lakshmiathreya commented on #425
cc @luizrrodrigues @SathyaJayabal

[2021-06-16 10:25] lakshmiathreya commented on #425
https://github.com/topcoder-platform/community-app/issues/5580

[2021-06-16 10:26] lakshmiathreya commented on #425
https://github.com/topcoder-platform/community-app/issues/5580

[2021-06-16 22:39] ThomasKranitsas commented on #425
Challenge https://www.topcoder.com/challenges/51c2990f-af17-4e68-bacc-92f329253f97 has been created for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2021-06-16 22:39] ThomasKranitsas commented on #425
Challenge https://www.topcoder.com/challenges/51c2990f-af17-4e68-bacc-92f329253f97 has been assigned to thomaskranitsas.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2021-06-16 22:39] ThomasKranitsas commented on #425
Fixed in https://github.com/topcoder-platform/challenge-api/commit/4e30a53d1e1a081c8fea065b3bcdfa38e1696290

[2021-06-16 22:40] #425 closed

[2021-06-16 22:40] ThomasKranitsas commented on #425
Payment task has been updated: https://www.topcoder.com/challenges/51c2990f-af17-4e68-bacc-92f329253f97
*Payments Complete*
Winner: thomaskranitsas
Challenge `51c2990f-af17-4e68-bacc-92f329253f97` has been paid and closed.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2021-06-29 17:25] ThomasKranitsas commented on #420
Done

[2021-06-29 17:25] #420 closed

[2021-06-29 17:25] ThomasKranitsas commented on #420
Challenge 0d10ab37-ec1e-4648-8a44-4cd60a3049e2 has been cancelled<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2021-06-29 17:25] ThomasKranitsas commented on #418
Done

[2021-06-29 17:25] #418 closed

[2021-06-29 17:25] ThomasKranitsas commented on #418
Challenge 5076edee-4678-4bf4-8504-aa3185f3ef83 has been cancelled<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2021-07-05 06:23] RiteshTC opened #427 "Allow admin user to mark a completed challenge as cancelled."
An admin user token should be able edit a completed challenge.

Scenario:
A challenge is not generating payment because of bug in payment processor.
Created another payment to pay to member.
Cannot mark the "buggy" completed challenge as cancelled.
There are 2 challenges for the same work, with "Completed" Status.

[2021-07-12 16:30] Oanh-and-only-Oanh commented on #390
@rootelement @ThomasKranitsas, when will this fixed be released?

[2021-07-13 13:00] ThomasKranitsas commented on #390
@Oanh-and-only-Oanh there's a PR https://github.com/topcoder-platform/challenge-api/pull/428 for this.

@rootelement should we merge that to prod?

[2021-07-13 18:31] rootelement commented on #390
This was pushed to prod earlier today

[2021-07-16 04:19] SathyaJayabal commented on #390
@ThomasKranitsas, still search does not return the challenge when we search by a word in the challenge title
<img width="1440" alt="Screenshot 2021-07-16 at 9 42 55 AM" src="https://user-images.githubusercontent.com/58783823/125891096-233f3e07-9fbf-49c6-9c41-1826bd76a666.png">
<img width="1440" alt="Screenshot 2021-07-16 at 9 43 16 AM" src="https://user-images.githubusercontent.com/58783823/125891

[2021-07-21 10:10] m-yadav opened #430 "Future registration date in challenges"
Hi Team,

For few of the submitters , registration date in a challenge is shown for Dec 2021.
PFB snippet for reference

Challenge : https://software.topcoder.com/review/actions/ViewProjectDetails?method=viewProjectDetails&pid=30157801
You can see the registrants list or refer the screenshot below
![image](https://user-images.githubusercontent.com/45197181/126472218-4a70a83b-797e-4e02-b27f-2e2fb54

[2021-08-06 18:22] ThomasKranitsas opened #431 "Challenge orchestrator problem indicator"
We need a way to support indicating what went wrong while the challenge orchestrator failed to progress a challenge phase or perform an action with a descriptive description of the issue that occurred.

For example, `The review phase can't be open because there are no submissions`

[2021-09-08 20:41] jmgasper opened #434 "Double payment"
@rootelement  / @ThomasKranitsas - I had a challenge that got processed for payment twice by Topcoder-X.  Not sure why yet, but there was no "block" in the challenge API either to avoid a double payment.  I'll work on the Topcoder-X side, but can we also add a check to the challenge API to avoid a double payment please?

<img width="794" alt="Screen Shot 2021-09-09 at 6 39 58 am" src="https://user

[2021-09-08 20:50] ThomasKranitsas commented on #434
@jmgasper are you sure it's been processed twice? Do you see 2 payments in PACTs? Or was the post posted twice on Gitlab?

[2021-09-08 20:52] jmgasper commented on #434
@ThomasKranitsas - The member received two payments in PACTs

[2021-09-28 06:23] SathyaJayabal commented on #390
@ThomasKranitsas , search is now not returning when the search term is found in a tag.

For example, when we click on any of the tags for a challenge in listings page, it doesn't return any results.
<img width="1440" alt="Screenshot 2021-09-28 at 11 52 32 AM" src="https://user-images.githubusercontent.com/58783823/135034035-026f1d86-c320-482b-8587-4630eee8a117.png">

[2021-09-28 06:26] SathyaJayabal commented on #390
cc @luizrrodrigues

[2021-12-10 12:33] ThomasKranitsas commented on #434
This has been fixed today

[2021-12-10 12:33] #434 closed

[2021-12-10 12:33] ThomasKranitsas opened #442 "Update swagger for statistics"
Add the new `/challenges/${challengeId}/statistics` endpoint in the swagger

[2021-12-22 12:17] SathyaJayabal opened #445 "User not able to access challenge details page of a challenge that belongs to a group"
The user is able to see the challenge in the listings page but gets the error when they try to access the details page
Example:
user: tester1234
group- wipro-all
challenge:
https://www.topcoder-dev.com/challenges/2df15dc5-6533-4b13-96fc-2106635ba3e2
<img width="1440" alt="Screenshot 2021-12-22 at 5 40 23 PM" src="https://user-images.githubusercontent.com/58783823/147091469-cddccbb2-272e-4eb0-a9e8-

[2021-12-22 12:40] SathyaJayabal commented on #445
listings page  with  the challenge listed
<img width="1440" alt="Screenshot 2021-12-22 at 6 10 01 PM" src="https://user-images.githubusercontent.com/58783823/147094265-0bcda498-430a-422d-b200-e95446d56b5f.png">

[2021-12-22 12:42] lakshmiathreya commented on #445
![IMG_0023](https://user-images.githubusercontent.com/51733042/147094490-bc7a4370-e965-4eb8-af66-b76bf44f3769.PNG)

[2021-12-22 12:42] lakshmiathreya commented on #445
tester1234 is part of Wipro - All.

[2021-12-22 14:05] ThomasKranitsas commented on #445
@lakshmiathreya please test. It's been fixed

[2021-12-22 14:28] SathyaJayabal commented on #445
user is able to see details page now
<img width="1440" alt="Screenshot 2021-12-22 at 7 58 16 PM" src="https://user-images.githubusercontent.com/58783823/147108011-53f10289-5f13-4ed5-948b-ac23ef147a01.png">

[2022-03-18 07:24] SathyaJayabal opened #477 "Performance fix: Update method to get groups for a user"
Performance fix: Update method to get groups for a user
https://github.com/topcoder-platform/challenge-api/pull/476

[2022-03-18 07:25] SathyaJayabal commented on #477
verified on dev
Load time improvement:
https://docs.google.com/spreadsheets/d/1tR46uNLr0uLOEswfKvqZ1CwsBr-NAyHRB6llmehHezI/edit#gid=0
Regression testing:
https://docs.google.com/spreadsheets/d/1zHO3upydBs1dwbmdO_rhQZv9SPxKEYhE5UGpDVko7v4/edit#gid=1846865490

[2022-03-18 07:31] SathyaJayabal commented on #477
https://topcoder.atlassian.net/browse/PLAT-236

[2022-03-18 07:45] lakshmiathreya commented on #477
@luizrrodrigues pls link the Group gen tool to this Issue

[2022-03-18 14:51] luizrrodrigues commented on #477
@lakshmiathreya Can you share a repo to push? (I'm can't create a new repo in `topcoder-platform`)

Currently pushed here: https://github.com/luizrrodrigues/groups-tool

[2022-03-22 05:36] SathyaJayabal commented on #477
https://topcoder.atlassian.net/browse/PROD-933?focusedCommentId=17337

[2022-03-22 05:36] #477 closed

[2022-04-11 10:12] rakibansary opened #485 "JIRA PLAT-950 & PLAT-951"
Attempting to activate a legacy challenge created using v5 challenge API fails and the challenge state in Work Manager reverts back to `draft`- this happens when the challenge is created using invalid challenge timeline template. The Api endpoints used to create and update challenge timeline templates are broken and needs to be fixed to correct the challenge timeline templates

[2022-04-11 10:19] rakibansary commented on #485
Resolved in #484

[2022-04-15 01:02] #485 closed

[2022-04-18 11:47] SarahRuan opened #486 "Where is the submissions list in challenge api"
Hi team, I'm working on a academic research on crowdsourcing and is using your public api to gather some data. Just want to know that in V5 challenge API https://api.topcoder.com/v5/challenges/?status=Completed how can I get the list of submissions' handles? This field was available in frontend app can show the submission' list but I can't find any api call that contains the JSON data of submissio

[2022-06-01 08:28] ThomasKranitsas opened #490 "Allow Challenge cancellation to be changed after a challenge closes"
## Current behavior

Currently, we do not allow changing the challenge status after the challenge has been completed.

## Expected behavior

We should allow the status of a challenge going from `Completed` to `Cancelled - Client Request`

[2022-06-01 08:29] ThomasKranitsas commented on #490
@marioskranitsas please createa PR against the `develop` branch

[2022-06-01 10:57] marioskranitsas commented on #490
@ThomasKranitsas Done!

[2022-06-01 12:33] rakibansary opened #492 "Cache ChallengeType and ChallengeTrack lookups"
ChallengeType and ChallengeTrack are fetched from DynamoDB with a scan operation for each /challenges call. These should be indexed in ES, but there's currently no processor for it. Since actual data is small enough, they can be cached in-memory.

[2022-06-02 10:01] sandhiyakavi commented on #492
Sanity testing is completed in Prod Env. No issues found.

[2022-06-02 10:01] #492 closed

[2022-07-08 01:11] jmgasper opened #498 "Add generic TCO challenge filter"
### REF

https://topcoder.atlassian.net/browse/PROD-2283

### Problem

We're adding a new feature to the community app to be able to toggle display of only challenges eligible for TCO points.

The API problem I'm running into is that the `events` flag on each challenge is specific to the TCO year, like `tco21`, `tco22`, etc..

So, to pull all TCO eligible challenges, I'd have to pass in all TCO ye

[2022-07-11 02:37] #498 closed

[2022-07-14 19:34] Schpotsky opened #502 "Search challenges - cannot page through more than 10000 challenges"
When we perform a search for challenges with page=100 and perPage=100, I see that the number of total pages is 583
See below:
![search-page100](https://user-images.githubusercontent.com/5437419/179066860-e1ef9848-beb8-46a0-afe5-e5226173b40d.png)

But when I try to search with page=101 and perPage=100, there are no results returned by the API and the values of total-pages and total number of record

[2022-07-15 01:18] jmgasper opened #503 "Can't update certain past challenges"
I'm attempting to apply a new tag to some historical challenges to make them easier to search / sort.

REF:  https://topcoder.atlassian.net/browse/PROD-2469

I ran into an issue with a few that the challenge API won't let me update.

I can _retrieve_ the challenges via the challenge API just fine, like:

`GET https://api.topcoder.com/v5/challenges/47621bf7-cda9-4e6d-9ac2-867fb1377298`

But, when I

[2022-07-15 07:23] jmgasper opened #504 "Search by clicking tag isn't working"
**Describe the bug**

On the challenge details page (`https://topcoder.com/challenges/{challenge_id}`), we show the `tags` array from the challenge object in the header.

Clicking on one of those tags should search by that tag and show the list of like-tagged challenges, but it currently doesn't work.

The problem is that the challenge API doesn't search in the tags without including a `tags[]={ta

[2022-07-15 09:33] ThomasKranitsas commented on #503
That's because the data is missing from DynamoDB. It could be due to incomplete migration that we never caught.

If you provide the JSON bodies for those challenges based on the dynamo model definition, I can insert the data directly in dynamo from AWS

[2022-07-15 23:28] jmgasper commented on #503
@ThomasKranitsas - I'm not sure what the format of the dynamo model is vs. what we get directly from the API.  I've exported everything individually from ES / challenge API, if that helps:

[missing_challenges.zip](https://github.com/topcoder-platform/challenge-api/files/9124669/missing_challenges.zip)

[2022-07-19 22:04] #504 closed

[2022-07-19 22:23] jmgasper commented on #503
@ThomasKranitsas - Was that dump of JSON enough to fix this?  Thanks!

[2022-07-26 14:44] jmgasper commented on #503
@ThomasKranitsas - Any update here?  Thanks!

[2022-07-26 14:44] jmgasper commented on #503
@Oanh-and-only-Oanh ☝️

[2022-07-26 14:46] Oanh-and-only-Oanh commented on #503
Let's proceed with this known issue.

[2022-08-17 02:24] #503 closed

[2022-08-17 02:26] jmgasper opened #519 "No DELETE path for challenge-types or challenge-tracks"
There is no way to DELETE a challenge-type or challenge-track via the API.  This means that there is an erroneous challenge-type in dev that was created but can't be deleted.

We need to support the `DELETE` verb for both challenge-types and challenge-tracks, restricted solely to admins.

Please ensure that you fully update:

* Code
* Postman
* Swagger
* Tests

### To test

You should be able to g

[2022-10-11 23:42] #519 closed

[2022-10-11 23:43] jmgasper opened #525 "Filters in the competitive programming section are not giving correct results"
### Description

* Go to https://www.topcoder-dev.com/challenges
* Select None in ‘EARN’ and ‘LEARN’ sections
* Switch on the ‘Single Round Match’ toggle and see the results(it’s same as before selecting it)
* Now select only 'Single Round Match’ (You can see multiple matching results now)

### Expected:

When all three toggles in ‘COMPETITIVE PROGRAMMING’ section are selected it should retrieve m

[2022-10-13 00:37] #525 closed

[2022-10-22 20:41] jmgasper opened #528 "Add new sort types"
Currently, we can only sort a list of challenges by:

[code]

We would also like to be able to sort by the following fields (ascending / descending)

* Type name (Challenge, F2F, Marathon Match, Practice, etc...)
* Number of registrants
* Number of submissions
* Status name (Active, Post-Mortem, Draft, etc...)

**NOTE** - The error message above must be accurate as well, after the changes, and upd

[2022-11-08 03:56] jmgasper opened #531 "Metadata not always saving"
We're seeing this in dev, where metadata isn't fully saved from Work Manager:

Sample metadata in the PUT:

[code]

Sample response in the GET a second later:

[code]